@using System.Linq.Expressions
@inject ICharactersClient client

<TypedSelector TKey="CharacterIdentification" TItem="CharacterDto"
               Name="@Name"
               Items="chars"
               KeySelector="@(c => c.CharacterId)"
               ToListItem="@(c => TypedSelectList.CreateItem(
                   Value: c.CharacterId,
                   Text: c.Name,
                   Subtext: c.Description))"
               SelectedValues="SelectedCharacterIds"
               SelectedItemsChanged="HandleSelectedItemsChanged"
               Multiple="@Multiple"
               AllowEmpty="@AllowEmpty"
               />
<p>@SelectedCharactersText</p>

@code {

    [CascadingParameter] public EditContext? EditContext { get; set; }
    [Parameter] public string? Name { get; set; } = null;
    [Parameter] [EditorRequired] public ProjectIdentification ProjectId { get; set; }

    [Parameter] public CharacterIdentification[] SelectedCharacterIds { get; set; } = [];
    [Parameter] public EventCallback<CharacterIdentification[]> SelectedCharacterIdsChanged { get; set; }
    [Parameter] public Expression<Func<CharacterIdentification[]?>>? SelectedCharacterIdsExpression { get; set; }

    [Parameter] public EventCallback<CharacterDto[]> SelectedCharactersChanged { get; set; }
    [Parameter] public bool Multiple { get; set; } = true;
    [Parameter] public CharacterListType ListType { get; set; } = CharacterListType.All;
    [Parameter] public bool AllowEmpty { get; set; } = false;

    public string SelectedCharactersText{ get; private set; } = "";

    private CharacterDto[]? chars;
    private FieldIdentifier? fieldIdentifier = null;

    private async Task HandleSelectedItemsChanged(CharacterDto[] selectedItems)
    {
        RefreshSelectedNames(selectedItems);
        await SelectedCharacterIdsChanged.InvokeAsync(selectedItems.Select(x => x.CharacterId).ToArray());
        await SelectedCharactersChanged.InvokeAsync(selectedItems);

        if (EditContext is not null && fieldIdentifier is not null)
        {
            EditContext.NotifyFieldChanged(fieldIdentifier.Value);
        }
    }

    private void RefreshSelectedNames(CharacterDto[] val)
    {
        if (val.Length < 2)
        {
            SelectedCharactersText = "";
        }
        else
        {
            SelectedCharactersText = string.Join(" • ", val.Select(item => item.Name));
        }
    }

    protected override async Task OnParametersSetAsync()
    {
        chars = [.. await client.GetCharacters(ProjectId, ListType)];
        var selectedItems = chars.Where(item => SelectedCharacterIds.Contains(item.CharacterId)).ToArray();
        RefreshSelectedNames(selectedItems);

        if (SelectedCharacterIdsExpression is not null)
        {
            fieldIdentifier = FieldIdentifier.Create(SelectedCharacterIdsExpression);
            Name ??= fieldIdentifier.Value.FieldName;
        }
    }
}
