@model JoinRpg.Web.Models.FinOperationListViewModel

<table class="table table-condensed">
    <thead>
    <tr>
        <th></th>
        <th>@Html.DisplayNameFor(model => model.Statistics)</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
        @Html.Partial("ProjectFinanceOperations\\_StatisticsPartial", Model.Statistics)
        <tr><td colspan="3">&nbsp;</td><td colspan="5" style="border: 0">&nbsp;</td></tr>
    </tbody>
    <thead>
    @Html.Partial("ProjectFinanceOperations\\_HeaderPartial", Model.Items)
    </thead>
    <tbody>
    @foreach (var item in Model.Items)
    {
        @Html.Partial("ProjectFinanceOperations\\_RowPartial", item)
    }
    </tbody>
    <tfoot>
    @Html.Partial("ProjectFinanceOperations\\_TotalsPartial", Model.Totals)
    </tfoot>
</table>
