@using Joinrpg.Markdown
@using JoinRpg.DataModel
@model JoinRpg.Web.Models.Accommodation.ClaimAccommodationViewModel

@helper ShowAccommodationTypeDesc(ProjectAccommodationType accommodationType)
    {
        <text>(@DisplayCount.OfX(accommodationType.Capacity, "место",
                       "места", "мест") в номере, @accommodationType.Cost &#8381;)</text>
}

<div class="modal fade" id="changeAccommodationType" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        @using (Html.BeginForm("PostAccommodationRequest", "Claim", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <div class="modal-content">
                <div class="modal-header">
                    Возможные варианты проживания
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    @if (Model.AccommodationRequest != null)
                    {
                        if (Model.AccommodationRequest.Accommodation != null)
                        {
                            <div class="alert alert-warning">
                                Вам уже назначена комната. Смена типа проживания выселит вас.
                            </div>
                        }
                        else if (Model.AccommodationRequest.Subjects.Count > 1)
                        {
                            <div class="alert alert-warning">
                                Смена типа проживания отменит существующие договоренности о совместном проживании.
                            </div>
                        }
                    }
                    @Html.AntiForgeryToken()
                    @foreach (var accommodationType in Model.AvailableAccommodationTypes)
                    {
                        var checkedState = "";
                        if (Model.AccommodationRequest != null && Model.AccommodationRequest.AccommodationType == accommodationType)
                        {
                            checkedState = "checked";
                        }
                        <div class="radio" style="margin-bottom: 2em;">
                            <label>
                                <input type="radio" name="AccommodationTypeId" id="accomodationType @accommodationType.Id" value="@accommodationType.Id" @checkedState>
                                @accommodationType.Name @ShowAccommodationTypeDesc(accommodationType)<br />
                                @accommodationType.Description.ToHtmlString()
                            </label>
                        </div>
                    }


                </div>
                <div class="modal-footer">
                    <button class="btn btn-success" type="submit">Сохранить проживание</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
                </div>
            </div>
        }
    </div>
</div>
