@using JoinRpg.DataModel
@using JoinRpg.Web.Models.Accommodation
@model ClaimAccommodationViewModel

@if (!Model.AccommodationEnabled)
{
    return;
}
<div class="panel panel-default" id="accommodationRequests">
    <div class="panel-heading">
        <h5>Проживание</h5>
        @if (Model.AccommodationRequest != null)
        {
            <span>
                @Model.AccommodationRequest.AccommodationType.Name (@DisplayCount.OfX(Model.AccommodationRequest.AccommodationType.Capacity, "место",  "места", "мест") в номере, @Model.AccommodationRequest.AccommodationType.Cost &#8381;)
            </span>
            <button class="btn btn-default btn-sm" type="submit" data-toggle="modal" data-target="#changeAccommodationType">
                Изменить тип
            </button>
        }
    </div>
    <div class="panel-body">
        @if (Model.AccommodationRequest == null)
        {
            <h5>Тип проживания не выбран.</h5>
        }
        else
        {
            <div>
                @Model.AccommodationRequest.AccommodationType.Description
            </div>
        }
    </div>
</div>

<div class="modal fade" id="changeAccommodationType" tabindex="-1" role="dialog">
    <div class="modal-dialog">
    @using (Html.BeginForm("PostAccommodationRequest", "Claim", FormMethod.Post, new {enctype = "multipart/form-data"}))
    {
        <div class="modal-content">
            <div class="modal-header">
                Возможные варианты проживания
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                
                @Html.AntiForgeryToken()
                @foreach (var accommodationType in Model.AvailableAccommodationTypes)
                {
                    var checkedState = "";
                    if (Model.AccommodationRequest != null && Model.AccommodationRequest.AccommodationType == accommodationType)
                    {

                        checkedState = "checked";
                    }
                    <div class="radio" style="margin-bottom: 2em;">
                        <label>
                            <input type="radio" name="AccommodationTypeId" id="accomodationType @accommodationType.Id" value="@accommodationType.Id" @checkedState>
                            @accommodationType.Name (@accommodationType.Capacity места, @accommodationType.Cost рублей)<br/>
                            @accommodationType.Description
                        </label>
                    </div>
                }
                  
                
            </div>
            <div class="modal-footer">
                <button class="btn btn-default" type="submit">Сохранить проживание</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
            </div>
        </div>
    }
    </div>
</div>
