@using JoinRpg.Web.Models
@using JoinRpg.Domain
@model FeeAcceptanceViewModel

    @using (Html.BeginForm("FinanceOperation", "Claim", FormMethod.Post, new {enctype = "multipart/form-data"}))
    {
        if (!Model.ClaimApproved)
        {
            <div class="alert alert-warning" role="alert">Заявка не принята. Вы точно хотите отметить оплату взноса?</div>
        }

        if (Model.HasUnApprovedPayments)
        {
            <div class="alert alert-warning" role="alert">
                Внимание, вы отмечаете новый платеж от игрока, а тем временем игрок уже отметил какой-то платеж самостоятельно. 
                Просмотрите платеж ниже в комментариях, и ответьте на него, чтобы обработать.
            </div>
        }

        <div class="form-horizontal">
            <div class="form-group">
                @Html.LabelFor(model => model.Money, htmlAttributes: new {@class = "control-label col-md-2"})
                <div class="col-md-2">
                    @Html.EditorFor(model => model.Money, new {htmlAttributes = new {@class = "form-control"}})
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.OperationDate, htmlAttributes: new {@class = "control-label col-md-2"})
                <div class="col-md-2">
                    <input id="OperationDate"
                           name="OperationDate"
                           data-provide="datepicker"
                           class="datepicker form-control"
                           data-date-end-date="0d"
                           data-date-format="dd.mm.yyyy"
                           value="@Model.OperationDate"/>

                </div>
            </div>

            @if (Model.PaymentTypeId == 0)
            {
                var defaultPaymentType = Model.PaymentTypes.FirstOrDefault(pt => pt.IsDefault);
                if (defaultPaymentType != null)
                {
                    Model.PaymentTypeId = defaultPaymentType.PaymentTypeId;
                }
            }
            <div class="form-group">
                @Html.LabelFor(model => model.PaymentTypeId, htmlAttributes: new {@class = "control-label col-md-2"})
                <div class="col-md-6">
                    @Html.DropDownListFor(
                        model => model.PaymentTypeId,
                        Model.PaymentTypes.Select(paymentType => new SelectListItem()
                        {
                            Text = paymentType.GetDisplayName(),
                            Value = paymentType.PaymentTypeId.ToString()
                        }).OrderBy(i => i.Text),
                        htmlAttributes: new {@class = "form-control"})
                </div>
            </div>
        </div>

        @Html.Partial("AddCommentPartial", Model)
    }