@using JoinRpg.DataModel
@using JoinRpg.Web.Helpers
@model JoinRpg.Web.Models.Accommodation.ClaimAccommodationViewModel

@if (!Model.OutgoingInvite.Any())
{
    return;
}

@{ var resolveSectionClassName = ""; }
<div class="panel panel-default" id="incomingInvite">
    <div class="panel-heading">Отправленные приглашения к совместному проживанию</div>
    <div class="panel-body">
        <table class="table">
            @foreach (var accommodationInvite in Model.OutgoingInvite.Where(invite=>invite.IsAccepted != AccommodationRequest.InviteState.Accepted))
            {
                <tr>
                    <td>@Html.DisplayFor(model => accommodationInvite.To.Player)</td>
                    @if (accommodationInvite.IsAccepted == AccommodationRequest.InviteState.Unanswered)
                    {
                        <td>
                            @using (Html.BeginForm("DeclineInvite", "Claim", FormMethod.Post, new {enctype = "multipart/form-data"}))
                            {
                                @Html.AntiForgeryToken()
                                @Html.Hidden("InviteId", accommodationInvite.Id)
                                @Html.Hidden("InviteState", AccommodationRequest.InviteState.Canceled)
                                var name = "selfCancelInvite_" + @accommodationInvite.Id;
                                var targetName = "#" + name;
                                <button type="button" class="btn btn-xs" data-toggle="modal" data-target="@targetName"><i class="glyphicon glyphicon-ban-circle text-danger"></i>&nbsp;Отменить</button>
                                @Html.ConfirmDialog(name, "Отменить приглашение к совместному проживанию?")
                            }
                        </td>
                    }
                    else
                    {
                        <td class="@accommodationInvite.IsAccepted.GetAppropriateTextStyle()"> @accommodationInvite.IsAccepted.GetDescription() </td>
                    }
                </tr>
            }
        </table>
    </div>
</div>
