@model IEnumerable<JoinRpg.DataModel.Claim>

<h2>@ViewBag.Title</h2>

@* TODO: Решить, не добавить ли сюда каких-нибудь быстрых действий в таблицу*@
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        @if (ViewBag.HideUserColumn != true) //We can't do !ViewBag.HideUserColumn, cause it can be null
        {
            <th>
                @Html.DisplayNameFor(model => model.Player.UserName)
            </th>
        }
        @if (ViewBag.HideProjectColumn != true)
        {
            <th>
                @Html.DisplayNameFor(model => model.Project.ProjectName)
            </th>
        }
        <th>
            @Html.DisplayNameFor(model => model.ClaimStatus)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StatusChangedDate)
        </th>
    </tr>

@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.ActionLink(item.Name, "Edit", "Claim", new {item.ProjectId, item.ClaimId}, null)
        </td>
        @if (ViewBag.HideUserColumn != true)
        {
            <td>
                @Html.DisplayFor(modelItem => item.Player)
            </td>
        }
        @if (ViewBag.HideProjectColumn != true)
        {
            <td>
                @Html.DisplayFor(modelItem => item.Project.ProjectName)
            </td>
        }
        <th>
            @Html.DisplayFor(modelItem => item.ClaimStatus)
        </th>
        <th>
            @Html.DisplayFor(modelItem => item.StatusChangedDate)
        </th>
    </tr>
}

</table>
