@model IEnumerable<JoinRpg.DataModel.Claim>

<h2>@ViewBag.Title</h2>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        @if (!ViewBag.HideUserColumn)
        {
            <th>
                @Html.DisplayNameFor(model => model.Player.UserName)
            </th>
        }
        <th>
            @Html.DisplayNameFor(model => model.Project.ProjectName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ClaimStatus)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StatusChangedDate)
        </th>
        
        <th></th>
    </tr>

@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        @if (!ViewBag.HideUserColumn)
        {
            <td>
                @Html.DisplayFor(modelItem => item.Player.UserName)
            </td>
        }
        <td>
            @Html.DisplayFor(modelItem => item.Project.ProjectName)
        </td>
        <th>
            @Html.DisplayFor(modelItem => item.ClaimStatus)
        </th>
        <th>
            @Html.DisplayFor(modelItem => item.StatusChangedDate)
        </th>
        <td>
            @Html.ActionLink("Edit", "Edit", new {id = item.ClaimId}) |
            @Html.ActionLink("Details", "Details", new {id = item.ClaimId}) |
            @Html.ActionLink("Delete", "Delete", new {id = item.ClaimId})
        </td>
    </tr>
}

</table>
