@model IEnumerable<JoinRpg.Web.Models.ClaimListItemViewModel>

<h2>@ViewBag.Title</h2>

@* TODO: Решить, не добавить ли сюда каких-нибудь быстрых действий в таблицу*@
<table class="table">
    <tr>
        <th>    
            @Html.DisplayNameFor(model => model.Name)
        </th>
        @if (ViewBag.HideUserColumn != true) //We can't do !ViewBag.HideUserColumn, cause it can be null
        {
            <th>
                @Html.DisplayNameFor(model => model.Player)
            </th>
        }
        @if (ViewBag.HideProjectColumn != true)
        {
            <th>
                @Html.DisplayNameFor(model => model.ProjectName)
            </th>
        }
        <th>
            @Html.DisplayNameFor(model => model.ClaimStatus)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UpdateDate)
        </th>
        @if (ViewBag.MasterAccessColumn == true)
        {
            <th>@Html.DisplayNameFor(model => model.Responsible)</th>
        }
    </tr>

@foreach (var item in Model.OrderByDescending(c => c.UpdateDate))
{
    <tr>
        <td>
            
            @Html.ActionLink(item.Name, "Edit", "Claim", new {item.ProjectId, item.ClaimId}, null)
            @if (item.UnreadCommentsCount > 0)
            {
                <span class="badge" title="Непрочитанные комментарии">@item.UnreadCommentsCount</span>
            }
        </td>
        @if (ViewBag.HideUserColumn != true)
        {
            <td>
                @Html.DisplayFor(modelItem => item.Player)
            </td>
        }
        @if (ViewBag.HideProjectColumn != true)
        {
            <td>
                @Html.DisplayFor(modelItem => item.ProjectName)
            </td>
        }
        <td>
            @Html.DisplayFor(modelItem => item.ClaimStatus)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UpdateDate)
        </td>
       @if (ViewBag.MasterAccessColumn == true)
        {
        <td>@Html.DisplayFor(modelItem => item.Responsible)</td>
        }
        
    </tr>
}

</table>
