@model IEnumerable<JoinRpg.Web.Models.ClaimProblemListItemViewModel>

@{
    ViewBag.Title = "Проблемные заявки";
}

<h2>@ViewBag.Title</h2>
@Html.Partial("_ListOperationsDropdown")
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Player)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ClaimStatus)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UpdateDate)
        </th>
        <th>@Html.DisplayNameFor(model => model.Responsible)</th>
        <th>@Html.DisplayNameFor(model => model.Problems)</th>
    </tr>

    @foreach (var item in Model.OrderByDescending(c => c.UpdateDate))
    {
    <tr>
        <td>
            <a href="@Url.Action("Edit", "Claim", new {item.ProjectId, item.ClaimId}, null)">
                @item.Name
                @if (item.UnreadCommentsCount > 0)
                {
                <span class="badge" title="Непрочитанные комментарии">@item.UnreadCommentsCount</span>
                }
            </a>
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Player)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ClaimStatus)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UpdateDate, "EventTime")
        </td>
        <td>@Html.DisplayFor(modelItem => item.Responsible)</td>
        <td>
            @foreach (var pr in item.Problems)
            {
                @Html.DisplayFor(modelItem => pr)
            }
            
        </td>

    </tr>
    }

</table>