@using JoinRpg.Web.Models.FieldSetup
@using JoinRpg.Web.App_Code
@model FieldSettingsViewModel

    <div class="alert alert-warning">
        Включен «классический» режим, при котором имя персонажа не привязано ни к какому полю, а редактируется отдельно, само по себе.
        Убедительно просим прочитать @Html.HelpLink("fields/for_old_projects.html", "соответствующий раздел справки").
    </div>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.ProjectId)
    @Html.HiddenFor(model => model.DescriptionField)
    @Html.HiddenFor(model => model.LegacyModelEnabled, false)

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })


        @Html.JoinFormDropdownFor(model => model.NameField, Model.PossibleNameFields)

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Привязать имя персонажа" class="btn btn-danger" />
            </div>
        </div>
    </div>
}
