
@using JoinRpg.Web.Models.FieldSetup
@using JoinRpg.Web.Models
@model GameFieldDropdownValueEditViewModel
@{
    ViewBag.Title = "Изменение значения поля «" + Model.FieldName + "»";
}
<h2>@ViewBag.Title</h2>
<hr />
@using (Html.BeginForm("EditValue", "GameField", FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.ProjectFieldDropdownValueId)
    @Html.HiddenFor(model => model.ProjectFieldId)
    @Html.HiddenFor(model => model.ProjectId)
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="form-group">
        @Html.LabelFor(model => model.Label, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Label, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Label, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.MasterDescription, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.MasterDescription, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.MasterDescription, "", new { @class = "text-danger" })
            @Html.DescriptionFor(model => model.MasterDescription)
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Price, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Price, new { htmlAttributes = new { @class = "form-control", @style = "width: 150px; text-align: right;" } })
            @Html.DescriptionFor(model => model.Price)
        </div>
    </div>


    if (Model.CanPlayerEditField)
    {

        <div class="form-group">
            @Html.LabelFor(model => model.PlayerSelectable, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PlayerSelectable)
                @Html.ValidationMessageFor(model => model.PlayerSelectable, "", new { @class = "text-danger" })
                @Html.DescriptionFor(model => model.PlayerSelectable)
            </div>
        </div>
    }
    else
    {
        @Html.HiddenFor(model => model.PlayerSelectable)
    }

    
    if (Model.IsTimeField)
    {
        <div class="form-group">
            @Html.LabelFor(model => model.TimeSlotStartTime, htmlAttributes: new {@class = "control-label col-md-2"})
            <div class="col-md-9">
                @Html.EditorFor(model => model.TimeSlotStartTime, new {htmlAttributes = new {@class = "form-control"}})
                @Html.DescriptionFor(model => model.TimeSlotStartTime)
                @Html.ValidationMessageFor(model => model.TimeSlotStartTime, "", new {@class = "text-danger"})
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TimeSlotInMinutes, htmlAttributes: new {@class = "control-label col-md-2"})
            <div class="col-md-9">
                @Html.EditorFor(model => model.TimeSlotInMinutes, new {htmlAttributes = new {@class = "form-control"}})
                @Html.DescriptionFor(model => model.TimeSlotInMinutes)
                @Html.ValidationMessageFor(model => model.TimeSlotInMinutes, "", new {@class = "text-danger"})
            </div>
        </div>
    }
    else
    {

        <div class="form-group">
            @Html.LabelFor(model => model.ProgrammaticValue, htmlAttributes: new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.EditorFor(model => model.ProgrammaticValue, new {htmlAttributes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(model => model.ProgrammaticValue, "", new {@class = "text-danger"})
                @Html.DescriptionFor(model => model.ProgrammaticValue)
            </div>
        </div>
    }

    <div class="form-group">
        <hr />
        <div class="col-md-offset-2 col-md-10">
            <button type="submit" class="btn btn-success">@(Model.IsActive ? "Сохранить" : "Восстановить")</button>
            @Html.ActionLink("Назад к списку значений", "Edit", new { Model.ProjectFieldId, Model.ProjectId }, new { @class = "btn btn-default" })
        </div>
    </div>
}
