@using JoinRpg.Portal.AppCodeCompiled
@using JoinRpg.Web.Models.FieldSetup
@using JoinRpg.Portal
@model FieldSettingsViewModel

@{
    ViewBag.Title = "Настройки полей";
}

@Html.Partial("_FieldNavigation", Model.Navigation)

    <div class="alert alert-warning">
        По умолчанию в этом разделе все настроено оптимальным образом согласно выбору при создании проекта (игра/конвент).
        Прежде чем менять что-то в этом разделе, стоит внимательно ознакомится
        со @Html.HelpLink("fields/settings_for_role_list.html", "справкой о связи полей и сетки ролей").
    </div>


@if (Model.LegacyModelEnabled)
{
    @Html.Partial("_SwitchFromLegacyMode", Model)

}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.ProjectId)
    @Html.HiddenFor(model => model.LegacyModelEnabled)

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        @if (Model.LegacyModelEnabled)
        {
            @Html.HiddenFor(model => model.NameField)
        }
        else
        {
            @Html.JoinFormDropdownFor(model => model.NameField, Model.PossibleNameFields)
        }

        @Html.JoinFormDropdownFor(model => model.DescriptionField, Model.PossibleDescriptionFields)

        @Html.Partial("FormButtons")
    </div>
}
