@model JoinRpg.Web.Models.SubscribeSettingsViewModel


<div class="form-horizontal">
    <h4>Настройки подписки</h4>
    <hr/>
    @Html.ValidationSummary(true, "", new {@class = "text-danger"})
    <div class="form-group">
        @Html.LabelFor(model => model.ClaimStatusChange, htmlAttributes: new {@class = "control-label col-md-2"})
        <div class="col-md-10">
            <div class="checkbox">
                @Html.CheckBoxFor(model => model.ClaimStatusChange, new {@enabled = Model.ClaimStatusChangeEnabled})
                @Html.ValidationMessageFor(model => model.ClaimStatusChange, "", new {@class = "text-danger"})
            </div>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Comments, htmlAttributes: new {@class = "control-label col-md-2"})
        <div class="col-md-10">
            <div class="checkbox">
                @Html.CheckBoxFor(model => model.Comments, new {@enabled = Model.CommentsEnabled})
                @Html.ValidationMessageFor(model => model.Comments, "", new {@class = "text-danger"})
            </div>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.FieldChange, htmlAttributes: new {@class = "control-label col-md-2"})
        <div class="col-md-10">
            <div class="checkbox">
                @Html.CheckBoxFor(model => model.FieldChange, new { @enabled = Model.FieldChangeEnabled })
                @Html.ValidationMessageFor(model => model.FieldChange, "", new {@class = "text-danger"})
            </div>
        </div>
    </div>
</div>
