@model JoinRpg.Web.Models.ApisIndexViewModel

@{
  ViewBag.Title = "Встраивание на сайт";
}

<h2>@ViewBag.Title</h2>

<p>На этой странице документированы различные способы встраивания сетки ролей на сайт.</p>
<h3>Встраивание сетки ролей</h3>
<p>
    Добавьте на страницу код такого вида:
    <pre>&lt;div class="joinrpg-api" data-projectId="_projectId_" data-locationId="_characterGroupId_"&gt;Идет загрузка...&lt;/div&gt;</pre>
    Где <var>_projectId_</var> — ид проекта, а <var >_characterGroupId_</var> ид группы. Посмотреть нужные ИД можно, бродя по @Html.ActionLink("сетке ролей", "Index", "GameGroups", new { Model.ProjectId }, null).
    Например, для текущего проекта «получить вообще все роли в проекте» будет выглядеть как:
    <pre>&lt;div class="joinrpg-api" data-projectId="@Model.ProjectId" data-locationId="@Model.RootGroupId"&gt;
  Идет загрузка...
&lt;/div&gt;</pre>
    И подключите скрипт:
<pre>&lt;script type="text/javascript"
        src="@RouteHelper.GetFullHostName()/external/joinrpg-api.js"
        async defer&gt;
&lt;/script&gt;
&lt;script type="text/javascript"&gt;
        $(function() {
          $('.joinrpg-api').joinrpgroles();
        });
&lt;/script&gt;</pre>
    
    Также можно подключить дефолтные стили: <var> @RouteHelper.GetFullHostName()/external/joinrpg-api.css </var>

    Обратите внимание: чтобы это работало, необходимо использовать jquery. Если у вас не подключено jquery, подключите его так:
    <pre>&lt;script type="text/javascript" src="https://yastatic.net/jquery/3.1.1/jquery.min.js"&gt;&lt;/script&gt;</pre>

    <div class="panel panel-default">
        <div class="panel-heading">Пример результата</div>
        <div class="joinrpg-api panel-body" data-projectId="@Model.ProjectId" data-locationId="@Model.RootGroupId">
            Идет загрузка...
        </div>
    </div>
</p>

<h3>Показ горячих ролей</h3>
<p>
    Добавьте на страницу код такого вида:
    <br/>
    <code>
        &lt;div class="joinrpg-hot-roles" data-project="@Model.ProjectId" data-charactergroup="@Model.RootGroupId" data-maxcount="1"&gt;

        &lt/div&gt;
    </code>
    <br/>
    И подключите скрипт:
    <br/>
    <code>
        &lt;script type="text/javascript" src="@RouteHelper.GetFullHostName()/external/roles-1.js" async defer&gt;&lt;/script&gt;
    </code>
    <br/>
    Пример результата:
    <div class="panel panel-default">
        <div class="panel-heading">Горячие роли</div>
        <div class="joinrpg-hot-roles panel-body" data-project="@Model.ProjectId" data-charactergroup="@Model.RootGroupId" data-maxcount="1" data-server="@RouteHelper.GetFullHostName()">
            Ожидайте загрузки...
        </div>
    </div>
</p>

@section Scripts
{
    <script type="text/javascript" src="~/external/roles-1.js" async defer></script>
    <script type="text/javascript" src="~/external/joinrpg-api.js" async defer></script>
    <script type="text/javascript">
        $(function() {
            $('.joinrpg-api').joinrpgroles({baseUrl: "@RouteHelper.GetFullHostName()"});
        });
    </script>
}
@section styles
{
    <link href="~/external/joinrpg-api.css" rel="stylesheet"/>
}
