@model JoinRpg.DataModel.Project

@{
  ViewBag.Title = "Встраивание на сайт";
}

<h2>@ViewBag.Title</h2>

<p>На этой странице документированы различные способы встраивания сетки ролей на сайт.</p>
<h3>Встраивание сетки ролей</h3>
<h4>Javascript библиотека</h4>
<p>
    Добавьте на страницу код такого вида:
    <br />

    <code>
        &lt;div class="joinrpg-api" data-projectId="_projectId_" data-locationId="_characterGroupId_"&gt;Идет загрузка...&lt;/div&gt;
    </code>

    <br />
    Где _projectId_ — ид проекта, а _characterGroupId_ ид группы. Посмотреть нужные ИД можно, бродя по @Html.ActionLink("сетке ролей", "Index", "GameGroups", new { Model.ProjectId }, null).
    Например, для текущего проекта «получить вообще все роли в проекте» будет выглядеть как:
    <br/>

    <code>
        &lt;div class="joinrpg-api" data-projectId="@Model.ProjectId" data-locationId="@Model.RootGroup.CharacterGroupId"&gt;
            Идет загрузка...
        &lt;/div&gt;
    </code>
    <br />
    И подключите скрипт:
    <br />
    <code>
        &lt;script type="text/javascript"
        src="@RouteHelper.GetFullHostName()/external/joinrpg-api.js"
        async defer
        &gt;&lt;/script&gt;
        &lt;script type="text/javascript"
        $(function() {
        $('.joinrpg-api').joinrpgroles();
        });
        &gt;&lt;/script&gt;
    </code>
    <br />
    Также можно подключить дефолтные стили:
    <br />
    <code>
        @RouteHelper.GetFullHostName()/external/joinrpg-api.css
    </code>
    <br />
    Пример результата:
    <div class="panel panel-default">
        <div class="panel-heading">Сетка ролей</div>
        <div class="joinrpg-api panel-body" data-projectId="@Model.ProjectId" data-locationId="@Model.RootGroup.CharacterGroupId">
            Идет загрузка...
        </div>
    </div>
</p>

<h3>Показ горячих ролей</h3>
<h4>Javascript библиотека</h4>
<p>
    Добавьте на страницу код такого вида:
    <br/>
    <code>
        &lt;div class="joinrpg-hot-roles" data-project="@Model.ProjectId" data-charactergroup="@Model.RootGroup.CharacterGroupId" data-maxcount="1"&gt;

        &lt/div&gt;
    </code>
    <br/>
    И подключите скрипт:
    <br/>
    <code>
        &lt;script type="text/javascript" src="@RouteHelper.GetFullHostName()/external/roles-1.js" async defer&gt;&lt;/script&gt;
    </code>
    <br/>
    Пример результата:
    <div class="panel panel-default">
        <div class="panel-heading">Горячие роли</div>
        <div class="joinrpg-hot-roles panel-body" data-project="@Model.ProjectId" data-charactergroup="@Model.RootGroup.CharacterGroupId" data-maxcount="1" data-server="http://@Request.Url.Host:@Request.Url.Port">
            Ожидайте загрузки...
        </div>
    </div>
</p>
@section Scripts
{
    <script type="text/javascript" src="~/external/roles-1.js" async defer></script>
    <script type="text/javascript" src="~/external/joinrpg-api.js" async defer></script>
    <script type="text/javascript">
        $(function() {
            $('.joinrpg-api').joinrpgroles();
        });
    </script>
}
@section styles
{
    <link href="~/external/joinrpg-api.css" rel="stylesheet"/>
}