@model JoinRpg.Web.Models.ClaimFeeViewModel
<span>
    @{
        var modification = Model.CurrentTotalFee - Model.CurrentFee;
    <text>@(Model.CurrentTotalFee)&nbsp;руб.</text>

  if (modification != 0)
  {

            <text>(@(Model.CurrentFee)&nbsp;руб.@(modification.ToString("+#;-#;+0"))&nbsp;руб.)</text>

        }
    }

    @if (Model.CurrentTotalFee < Model.CurrentBalance)
    {
    <span> — <b>переплата</b> @(Model.CurrentBalance - @Model.CurrentTotalFee)&nbsp;руб.</span>
    }
    else if (Model.CurrentTotalFee == Model.CurrentBalance)
    {
    <span> — оплачен целиком</span>
    }
    else if (Model.CurrentBalance > 0)
    {
        <span> — оплачен <b>частично</b> @Model.CurrentBalance&nbsp;руб., осталось @(Model.CurrentTotalFee - Model.CurrentBalance)&nbsp;руб.</span>
    }
</span>