@using JoinRpg.Web.App_Code;
@using JoinRpg.Domain;
@model JoinRpg.Web.Models.ClaimFeeViewModel
@{var modification = Model.CurrentTotalFee - Model.CurrentFee; }
<script type="text/javascript">
    var feeMod = @modification;
    var feeBalance = @Model.CurrentBalance;
    var paymentStatus = @((int)Model.PaymentStatus);
</script>
<span>@Html.RenderPriceElement(Model.CurrentTotalFee, "feeTotalDisp")
    @if (modification != 0)
    {
        @Html.RenderPriceElement(Model.CurrentFee, "feeCurrentDisp") @Html.RenderPriceElement(modification.ToString(" + #; - #; + 0"), "feeModDisp")
    }
    <span id="feeStatusOverpaid" style="display: @Model.PaymentStatusToDisplayStyle(ClaimPaymentStatus.Overpaid);"> — <b>переплата</b> @Html.RenderPriceElement(Model.CurrentBalance - Model.CurrentTotalFee, "feeOverpaidDisp")</span>
    <span id="feeStatusPaid" style="display: @Model.PaymentStatusToDisplayStyle(ClaimPaymentStatus.Paid);"> — оплачен целиком</span>
    <span id="feeStatusMoreToPay" style="display: @Model.PaymentStatusToDisplayStyle(ClaimPaymentStatus.MoreToPay);"> — оплачен <b>частично</b> @Html.RenderPriceElement(Model.CurrentBalance, "feeBalanceDisp"), осталось @Html.RenderPriceElement(Model.CurrentTotalFee - Model.CurrentBalance, "feeMoreToPayDisp")</span>
    @if (Model.IsFeeAdmin)
    {
        <button type="button" class="btn btn-default btn-xs" data-toggle="modal" data-target="#changeFeeModal">Изменить вручную...</button>
    }
</span>
    
<div class="modal fade" id="changeFeeModal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            @using (Html.BeginForm("ChangeFee", "Claim", new { Model.ClaimId, Model.ProjectId }, FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Изменение суммы взноса</h4>
                </div>

                <div class="modal-body">
                    <p>Размер взноса для этой заявки будет назначен вручную. В таком случае взнос не будет больше зависеть от времени сдачи и будет зафиксирован.</p>
                    <div class="form-horizontal">
                        <div class="form-group">
                            <div class="col-md-5 control-label">Новый размер взноса:</div>

                            <div class="col-md-3">
                                <input type="text" class="form-control" name="feeValue" list="feeVariants" value="@Model.CurrentFee" />
                            </div>

                            <datalist id="feeVariants">
                                @foreach (var feeVariant in Model.FeeVariants)
                                {
                                    <option value="@feeVariant"></option>
                                }
                            </datalist>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
                    <button type="submit" class="btn btn-info">Изменить</button>
                </div>
            }
        </div>
    </div>
</div>
