@using System.ComponentModel
@using JoinRpg.Web.App_Code
@using JoinRpg.Web.Models
@model FieldValueViewModel
@{ var hideClassName = !Model.IsPlayerVisible ? "world-object-hidden" : ""; }

  @if (Model.FieldViewType == ProjectFieldViewType.Header)
  {
      <h4 class="@hideClassName">@Model.FieldName</h4>
    <div class="help-block @hideClassName">
      @Model.Description
    </div>
    return;
  }

<div class="form-group @hideClassName">
    <label class="control-label col-md-2">@Model.FieldName</label>
    <div class="col-md-8">
        @*TODO: May be also set client id here*@
        @switch (Model.FieldViewType)
        {
            case ProjectFieldViewType.Dropdown:
            case ProjectFieldViewType.MultiSelect:
                if (Model.HasPrice && string.IsNullOrWhiteSpace(Model.Value))
                {
                    <div class="form-control-complex">
                        <div class="form-control-1-4">( ничего не выбрано )</div>
                        <div class="form-control-2-4"></div>
                        <div class="form-control-4-4 price-table"><strong>Цена:</strong> @Html.RenderPriceElement(Model.Price)</div>
                    </div>
                }
                foreach (var value in Model.ValueList)
                {
                    <div class="form-control-complex">
                    <div class="form-control-1-4">@if (Model.HasMasterAccess && value.SpecialGroupId != null)
                    {
                        @Html.ActionLink(value.Label, "Details", "GameGroups", new {Model.ProjectId, CharacterGroupId = value.SpecialGroupId}, null)
                        <text>&nbsp;</text>
                    }
                    else
                    {
                        @value.Label
                    }
                    </div>
                    <div class="form-control-2-4">@value.DescriptionHtml
                        @if (Model.HasMasterAccess)
                        {
                            <div class="help-block world-object-hidden">@value.MasterDescriptionHtml</div>
                        }
                    </div>
                    @if (value.HasPrice)
                    {
                        <div class="form-control-4-4 price-table"><strong>Цена:</strong> @Html.RenderPriceElement(value.Price)</div>
                    }                    
                    </div>
                }
                break;
            case ProjectFieldViewType.Checkbox:
                <div class="form-control-complex">
                    <label for="@Model.FieldClientId" class="form-control-left">
                        <span type="checkbox" class="glyphicon glyphicon-@(Model.IsCheckboxSet() ? "check" : "unchecked")" @(Model.HasPrice ? "price=" + Model.Price.ToString() : "")></span>
                        @Model.Description
                    </label>
                    @if (Model.HasPrice)
                    {
                        <span class="form-control-right price-base">Цена: @Html.RenderPriceElement(Model.Price, Model.FieldClientId + "_baseprice")</span>
                    }
                </div>
                break;
            case ProjectFieldViewType.Number:
                <div class="form-control-complex">
                    <div class="form-control-left">@Model.DisplayString</div>
                    @if (Model.HasPrice)
                    {
                        <span class="form-control-right price-base">Цена за 1 единицу измерения: @Html.RenderPriceElement(Model.Price, Model.FieldClientId + "_baseprice")</span>
                    }
                </div>
                break;
            case ProjectFieldViewType.String:
            case ProjectFieldViewType.Text:
                @Model.DisplayString
                break;
            case ProjectFieldViewType.Header:
            default:
                throw new InvalidEnumArgumentException();
        }
        @if (!string.IsNullOrWhiteSpace(Model.Description.ToString()))
        {
            switch (Model.FieldViewType)
            {
                case ProjectFieldViewType.Checkbox:
                    break;
                default:
                    <div class="help-block">@Model.Description</div>
                    break;
            }
        }
    </div>
    <div class="col-md-2 price-table">
        @if (Model.HasPrice)
        {
            @Html.RenderPriceElement(Model.Fee, Model.FieldClientId + "_disp");
        }
    </div>
</div>