@using System.ComponentModel
@using JoinRpg.Web.Models
@model FieldValueViewModel
  @if (Model.FieldViewType == ProjectFieldViewType.Header)
  {
      <h4>@Model.FieldName</h4>
      <div class="help-block">
          @Html.DisplayFor(model => model.Description)
      </div>
      return;
  }

@{ var hideClassName = !Model.IsPlayerVisible ? "world-object-hidden" : ""; }
<div class="form-group @hideClassName">
    <label class="control-label col-md-2">@Model.FieldName</label>
    <div class="col-md-10">
        @*TODO: May be also set client id here*@
        @switch (Model.FieldViewType)
        {
            case ProjectFieldViewType.Dropdown:
            case ProjectFieldViewType.MultiSelect:
                foreach (var value in Model.ValueList)
                {
                    @value.Label
                    <div class="help-block">
                            @Html.DisplayFor(model => value.Description)
                    </div>
                }
                break;
            case ProjectFieldViewType.Checkbox:
                if (Model.Value == "on")
                {
                    <span class="glyphicon glyphicon-ok"></span>
                }
                else
                {
                    <span class="glyphicon glyphicon-remove"></span>
                }
                break;
            case ProjectFieldViewType.String:
            case ProjectFieldViewType.Text:
            @Html.DisplayFor(model => model.Value, new { htmlAttributes = new { @class = "form-control" } })
                break;
            default:
                throw new InvalidEnumArgumentException();
        }
    </div>
</div>