@using JoinRpg.CommonUI.Models
@using JoinRpg.DataModel
@model FinanceOperation
    @if (Model.FeeChange != 0)
    {
        <span><b>Изменение взноса</b>: @Model.FeeChange &#8381;</span><br />
    }
    @if (Model.MoneyAmount > 0)
    {
    <span><b>Оплата денег игроком</b>: @Model.MoneyAmount &#8381;</span><br />
    }
    else if (Model.MoneyAmount < 0)
    {
        <span><b>Возврат денег игроку</b>: @Model.MoneyAmount &#8381;</span><br />
    }
<span><b>Дата операции</b>: @Model.OperationDate.ToShortDateString()</span><br/>
@if (Model.PaymentType != null)
{
    <span><b>Способ оплаты</b>: @Model.PaymentType.GetDisplayName()</span>
    <br/>
}

@if (Model.State == FinanceOperationState.Declined)
{
    <span class="label label-warning">Мастер не подтверждает оплату</span><br />
}
else if (Model.State == FinanceOperationState.Proposed)
{
    <span class="label label-default">Ждет одобрения мастером</span><br />
}
