@using JoinRpg.Helpers
@model MainMenuViewModel
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink("JoinRpg", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="dropdown">

                    @if (Model.CurrentProjectName is not null)
                    {

                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">@Model.CurrentProjectName <span class="caret"></span></a>
                    }
                    else 
                    {
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Мои проекты и заявки <span class="caret"></span></a>
                    }

                    <ul class="dropdown-menu">
                        @foreach (var project in Model.ProjectLinks.OrderBy(p => p.ProjectName).Take(20))
                        {
                            <li>
                                @if (!project.HasMyMasterAccess)
                                {
                                    <a asp-action="MyClaim" asp-controller="Claim" asp-route-ProjectId="@project.ProjectId.Value"><span class="glyphicon glyphicon-file"></span> @project.ProjectName</a>
                                }
                                else
                                {
                                    <a asp-action="Details" asp-controller="Game" asp-route-ProjectId="@project.ProjectId.Value" asp-area=""><span class="glyphicon glyphicon-edit"></span> @project.ProjectName</a>
                                }
                            </li>
                        }

                        @if (Model.ProjectLinks.Length > 20)
                        {
                            <li><a asp-action="BrowseGames" asp-controller="Home">...Еще игры</a></li>
                        }

                            @if (Model.ProjectLinks.Length > 0)
                            {
                                <li><hr class="list-divider" /></li>
                            }

                            <li>
                              @*TODO здесь нужен МОЙ архив игр, а не общий*@
                                <a asp-action="GameArchive" asp-controller="Home">Архив игр</a>
                            </li>
                        </ul>
                    </li>

                    @if (ViewBag.IsProduction != true)
                    {
                        <li class="alert-danger hidden-sm">@Html.ActionLink("Тестовая версия", "About", "Home", new { area = "" }, null)</li>
                    }
                    else
                    {
                        <li class="hidden-sm">@Html.ActionLink("О сайте", "About", "Home", new { area = "" }, null)</li>
                    }
                    <li class="navbar-text" style="max-width: 10em">
                        @await Html.PartialAsync("SuperSearchPartial")
                    </li>
                </ul>
                @await Html.PartialAsync("_LoginPartial")
            </div>
        </div>
    </nav>
