@using JoinRpg.PrimitiveTypes
@using JoinRpg.Web.ProjectCommon
@inject IResponsibleMasterRuleClient Client
@inject ILogger<ResponsibleMasterRulesList> logger
@if (_model is null)
{
  <JoinLoadingMessage />
  return;
}

<JoinPanelWithList Items="@_model.Items">
  <Header>Ответственные мастера</Header>
  <Body>
     <p>
      Правила срабатывают сверху вниз - первое сработавшее правило назначает заявке ответственного мастера.
      Порядок менять пока нельзя, но автоматически более специфичная группа (например, «Гриффиндор»)
      окажется раньше менее специфичной (например, «Ученики Хогвартса»).
    </p>
    @if (Adding)
    {
            <AddResponsibleMasterRuleForm OnSubmit="PerformAdd" OnCancelAdd="() => Adding = false" ProjectId="@ProjectId" />
    }
    else
    {
      if (_model.HasEditAccess)
      {
        <JoinAddButton OnClick="() => Adding = true" Title="Добавить правило" Label="Добавить правило"/>
      }
      else
      {
        <JoinAddButton Disabled="true" Title="Для управления настройками нужны права администратора заявок" Label="Добавить правило"/>
      }
    }
  </Body>
  <ItemTemplate>
    <ResponsibleMasterListRow
      Model="@context"
      OnRemoveCallback="OnRemoveRow"
      HasEditAccess="@_model.HasEditAccess"
      @key="@context.Id" />
  </ItemTemplate>
</JoinPanelWithList>

@code {
    private ResponsibleMasterRuleListViewModel? _model;

    [Parameter]
    public ResponsibleMasterRuleListViewModel? InitialModel { get; set; }

    [Parameter]
    public int ProjectId { get; set; }

    public ProjectIdentification ProjectIdentification => new ProjectIdentification(ProjectId);

    public bool Adding { get; set; }

    protected async override Task OnInitializedAsync()
    {
        if (InitialModel != null)
        {
            _model = InitialModel;
        }
        else
        {
            _model = await Client.GetResponsibleMasterRuleList(ProjectIdentification);
        }
    }

    async Task OnRemoveRow(ResponsibleMasterRuleViewModel item)
    {
        var items = _model!.Items;
        var idx = items.IndexOf(item);

        items.RemoveAt(idx);
        try
        {
            await Client.RemoveResponsibleMasterRule(ProjectIdentification, item.Id);
        }
        catch (Exception exc)
        {
            logger.LogError(exc, "Error during remove resp master");
            items.Insert(idx, item);
        }
    }

    async Task PerformAdd(AddRespMasterRuleViewModel model)
    {
        Adding = false;

        _model!.Items.Insert(
          0,
          new ResponsibleMasterRuleViewModel(
            model.Group.CharacterGroupId,
            model.Group.Name,
            new UserLinkViewModel(model.Master.MasterId, model.Master.DisplayName.DisplayName)
          ));

        try
        {

            _model = await Client.AddResponsibleMasterRule(ProjectIdentification, model.Group.CharacterGroupId, model.Master.MasterId);
        }
        catch (Exception exc)
        {
            logger.LogError(exc, "Error during add resp master");
            _model!.Items.RemoveAt(0);
        }
    }



}
