@using JoinRpg.PrimitiveTypes;
@using JoinRpg.Web.ProjectCommon
@inject IResponsibleMasterRuleClient Client
@if (_model is null)
{
  <JoinLoadingMessage />
  return;
}

<JoinPanelWithList Items="@_model.Items">
  <Header>Ответственные мастера</Header>
  <Body>
     <p>
      Правила срабатывают сверху вниз - первое сработавшее правило назначает заявке ответственного мастера.
      Порядок менять пока нельзя, но автоматически более специфичная группа (например, Гриффиндор)
      окажется раньше менее специфичной (например, Ученики Хогвартса).
    </p>
    @if (Adding)
    {
      <div>
        <FormRow Label="Группа">
          <CharacterGroupSelector ProjectId="@ProjectId" Multiple="false" @ref="groupSelector"/>
        </FormRow>
        <FormRow Label="Мастер">
          <MasterSelector ProjectId="@ProjectId" @ref="masterSelector" />
        </FormRow>
        <br/>
        <JoinAddButton OnClick="() => PerformAdd()" /> |
        <JoinCancelButton OnClick="() => Adding = false" />
      </div>
    }
    else
    {
      <JoinAddButton OnClick="() => Adding = true" Title="Добавить правило" />
    }
  </Body>
  <ItemTemplate>
    <ResponsibleMasterListRow
      Model="@context"
      OnRemoveCallback="OnRemoveRow"
      @key="@context.Id" />
  </ItemTemplate>
</JoinPanelWithList>

@code {
    private ResponsibleMasterRuleListViewModel? _model;

    [Parameter]
    public ResponsibleMasterRuleListViewModel? InitialModel { get; set; }

    [Parameter]
    public int ProjectId { get; set; }

    public ProjectIdentification ProjectIdentification => new ProjectIdentification(ProjectId);

    public bool Adding { get; set; }
    private CharacterGroupSelector? groupSelector;
    private MasterSelector? masterSelector;

    protected async override Task OnInitializedAsync()
    {
        if (InitialModel != null)
        {
            _model = InitialModel;
        }
        else
        {
            _model = await Client.GetResponsibleMasterRuleList(ProjectIdentification);
        }
    }

    async Task OnRemoveRow(ResponsibleMasterRuleViewModel item)
    {
        _model!.Items.Remove(item);
        await Client.RemoveResponsibleMasterRule(ProjectIdentification, item.Id);
    }

    async Task PerformAdd()
    {
        if (Adding == false)
        {
            return;
        }
        var group = groupSelector!.SelectedGroups.SingleOrDefault();
        var master = masterSelector!.MasterId;
        if (master is null)
        {
            return;
        }
        Adding = false;
        
        _model!.Items.Insert(
          0,
          new ResponsibleMasterRuleViewModel(
            group,
            groupSelector!.SelectedGroupNames.Single(),
            new UserLinkViewModel(master.Value, masterSelector.MasterDispayName!.DisplayName)
          ));

        await Client.AddResponsibleMasterRule(ProjectIdentification, group, master.Value);
        // reload so server will correctly reorder them
        _model = await Client.GetResponsibleMasterRuleList(ProjectIdentification);
    }



}
