@using JoinRpg.Web.Models.Accommodation
@model RoomTypeViewModel
@{
    var actionParams = new
    {
        roomTypeId = Model.Id,
        projectId = Model.ProjectId
    };
}

<tr>
    <td>@Model.Name</td>
    <td>@Model.Description</td>
    <td class="price-table">@Model.Cost</td>
    <td class="price-table">@Model.Capacity</td>
    <td class="price-table">@Model.Occupied / @(Model.IsInfinite ? "∞" : Model.TotalCapacity.ToString())</td>
    <td>
        @if (Model.IsInfinite)
        {
            <span class="label label-info">Бесконечное</span>
        }
        @if (!Model.IsPlayerSelectable)
        {
            <span class="label label-warning">Закрыто для участников</span>
        }
        @if (Model.IsAutoFilledAccommodation)
        {
            <span class="label label-success">Автозаполнение</span>
        }
    </td>
    <td><div class="btn-group btn-group-sm" style="display: inline-block">
        @if (Model.CanAssignRooms)
        {
            <a title="Расселение" href="@Url.Action("EditRoomTypeRooms", "AccommodationType", actionParams)" class="btn btn-default">
                <i class="glyphicon glyphicon-bed"></i></a>
        }
        @if (Model.CanManageRooms)
        {
            <a title="Изменить" href="@Url.Action("EditRoomType", "AccommodationType", actionParams)" class="btn btn-primary">
                <i class="glyphicon glyphicon-pencil"></i></a>
        }
        @if (Model.CanManageRooms && Model.Occupied == 0)
        {
            <a title="Удалить" href="@Url.Action("DeleteRoomType", "AccommodationType", actionParams)" class="btn btn-warning" onclick="return confirm('Удалить тип размещения @(Model.Name)?')">
                <i class="glyphicon glyphicon-trash"></i></a>
        }
    </div></td>
</tr>
