@using JoinRpg.Web.App_Code
@using JoinRpg.Web.Models.Accommodation
@model RoomTypeViewModel

@using (Html.BeginForm("SaveRoomType", "AccommodationType", new { projectId = Model.ProjectId }, FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal" style="margin-top: 1em;">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)
        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-9">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Cost, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-9">
                @Html.EditorFor(model => model.Cost, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Cost, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Capacity, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-9">
                @Html.EditorFor(model => model.Capacity, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Capacity, "", new { @class = "text-danger" })
            </div>
        </div>
        @*
        <div class="form-group">
            @Html.LabelFor(model => model.IsInfinite, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-9">
                @Html.CheckBoxFor(model => model.IsInfinite, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IsAutoFilledAccommodation, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-9">
                @Html.CheckBoxFor(model => model.IsAutoFilledAccommodation, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.IsAutoFilledAccommodation, "", new { @class = "text-danger" })
            </div>
        </div>
        *@
        <div class="form-group">
            @Html.LabelFor(model => model.IsPlayerSelectable, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-9">
                @Html.CheckBoxFor(model => model.IsPlayerSelectable, new { htmlAttributes = new { @class = "form-control" } })
                @Html.DescriptionFor(model => model.IsPlayerSelectable)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DescriptionEditable, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-9">
                @Html.EditorFor(model => model.DescriptionEditable, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-3 col-md-9">
                <button type="submit" class="btn btn-success">@ViewBag.ActionName</button>
                @Html.Partial("_BackButton", Model.ProjectId)
            </div>
        </div>
    </div>
}
