@using JoinRpg.Web.App_Code
@using JoinRpg.Web.Models.Accommodation;
@model RoomTypeRoomsListViewModel

@Scripts.Render("~/Scripts/roomsMessages.js")
@Scripts.Render("~/Scripts/rooms.js")
<script type="text/javascript">
    @* following variables are declared in rooms.js *@
    projectId = @Model.ProjectId;
    roomTypeId = @Model.RoomTypeId;
    roomsCount = @(Model.Rooms != null ? Model.Rooms.Count : 0);
    roomCapacity = @Model.RoomCapacity;
</script>
<div class="btn-group" style="margin-top: 1em;">
    @if (Model.CanManageRooms)
    {
        <button type="button" onclick="AddRoom()" class="btn btn-default">
            <i class="glyphicon glyphicon-plus"></i> Добавить&hellip;
        </button>
    }
    @if (Model.CanAssignRooms)
    {
        <button id="bnPlaceAll" type="button" onclick="PlaceAll()" class="btn btn-default">
            <i class="glyphicon glyphicon-bed"></i> Заселить всех
        </button>
        <button id="bnKickAll" onclick="KickAll('@Url.Action("UnOccupyRoom", "AccommodationType", new { ProjectId = Model.ProjectId, RoomTypeId = Model.RoomTypeId, Room = "all" })')" class="btn btn-default">
            <i class="glyphicon glyphicon-fullscreen"></i> Выселить всех
        </button>
    }
</div>
<div class="table-responsive" style="margin-top: 1em;">
    <table class="table table-striped">
        <thead>
            <tr>
                <th style="min-width: 10em; width: 10em;">Комната</th>
                <th style="min-width: 10em; width: 10em;">Места</th>
                <th>Проживающие</th>
                <th style="min-width: 6em; width: 6em;"></th>
                <th style="min-width: 6em; width: 6em;"></th>
            </tr>
        </thead>
        <tbody id="roomsRows">
            @if (Model.Rooms != null && Model.Rooms.Count > 0)
            {
                foreach (RoomViewModel room in Model.Rooms)
                {
                    @Html.Partial("_RoomDetails", room);
                }
            }
            <tr id="rowPlaceholder">
                <td colspan="5">(комнаты не добавлены)</td>
            </tr>
        </tbody>
    </table>
</div>
<div>
    @Html.Partial("_BackButton", Model.ProjectId)
</div>
