@using JoinRpg.Web.App_Code
@using JoinRpg.Web.Models.Accommodation;
@model ICollection<JoinRpg.Web.Models.Accommodation.ProjectAccommodationViewModel>
<h2>Помещения для типа проживания @(ViewBag.TypeName ?? ViewData["TypeName"])</h2>
<table class="table table-striped">
    <thead>
    <th>@Html.DisplayNameFor(m => m.First().Name)</th>
    </thead>
    @foreach (var accommodation in Model)
    {
        <tr>
            <td>@accommodation.Name</td>
            <td>
                <div class="row">
                    <button type="button" class="btn btn-default  col-xs-12">Проживающие (@accommodation.Inhabitants.Count)</button>
                </div>
                <div class="row">
                    @Html.RouteLink("Изменить", new
                    {
                        projectAccommodationId = accommodation.Id,
                        projectId = accommodation.ProjectId,
                        accomodationTypeId = accommodation.AccommodationTypeId,
                        action = "ProjectAccommodationEdit",
                        Controller = "AccommodationType"
                    }, new { @class = "btn btn-default  col-xs-12" })
                </div>
                
                <div class="row">
                    @using (Html.BeginForm("ProjectAccommodationDelete", "AccommodationType", new { projectId = accommodation.ProjectId, accommodationTypeId = accommodation.AccommodationTypeId, projectAccommodationId = accommodation.Id }, FormMethod.Post, new { @style = "display:block" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.HttpMethodOverride(HttpVerbs.Delete)
                        <button type="submit" class="btn btn-danger col-xs-12"><span title="удалить" class="glyphicon glyphicon-trash"></span>Удалить</button>
                    }
                </div>
            </td>
        </tr>
    }
    @if (Model.Count == 0)
    {
        <tr>
            <td colspan="7">(помещения не добавлены)</td>
        </tr>
    }
</table>
<hr />
