@using System.Collections.ObjectModel
@using JoinRpg.Web.Models.Accomodation
@model JoinRpg.Web.Models.Accomodation.AccommodationTypeViewModel
@{
    ViewBag.IsInEditMode = false;
    ViewBag.ActionName = "Добавить";
    if (Model.Id != 0)
    {
        ViewBag.Title = "Редактирование типа проживания: «" + Model.Project.ProjectName + "\\" + Model.Name + "»";
        <h2>@ViewBag.Title</h2>
        ViewBag.ActionName = "Изменить";
        ViewBag.IsInEditMode = true;
    }
}
@using (Html.BeginForm("Edit", "AccommodationType", new { projectId = Model.ProjectId, Model.Id }, FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @if (!ViewBag.IsInEditMode)
        {
            <h4>Новый тип проживания</h4>
            <hr />
        }
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Cost, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Cost, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Cost, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-5">
                <h4>@Html.DisplayNameFor(m => m.Capacity)</h4>
            </div>
            <div class="col-md-7">
                <h2>@Model.Capacity</h2>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-8">
                @if (ViewBag.IsInEditMode)
                {
                    @Html.RouteLink("Назад", new { projectId = Model.ProjectId, Model.Id, action = "Index", Controller = "AccommodationType" }, new { @class = "btn btn-default pull-right" })
                }

                <button type="submit" class="btn btn-primary pull-right">@ViewBag.ActionName</button>

            </div>
        </div>
    </div>
}
@if (ViewBag.IsInEditMode)
{
    <hr />
    @Html.Partial("AccommodationIndex", Model.Accommodations ?? new Collection<ProjectAccomodationVewModel>(), new ViewDataDictionary { { "TypeName", "«" + Model.Project.ProjectName + "\\" + Model.Name + "»" } })

    <hr />
    @Html.Partial("ProjectAccommodationEdit", new ProjectAccomodationVewModel() { Id = 0, ProjectId = Model.ProjectId, AccomodationTypeId = Model.Id }, new ViewDataDictionary { { "TypeName", "«" + Model.Project.ProjectName + "\\" + Model.Name + "»" } })
}


