@using JoinRpg.Web.App_Code
@using JoinRpg.Web.Models.Accommodation
@model AccommodationListViewModel
@{
    ViewBag.Title = "Типы размещения на игре «" + Model.ProjectName + "»";
}

<h2>@ViewBag.Title</h2>

<div class="btn-group">
    @if (Model.CanManageRooms)
    {
        <a href="@Url.Action("AddRoomType", "AccommodationType", new {ProjectId = Model.ProjectId})" class="btn btn-default">
            <i class="glyphicon glyphicon-plus"></i> Добавить тип размещения</a>
    }
    <a href="@Url.Action("MainReport", "AccommodationPrint", new {Export = "xlsx", ProjectId = Model.ProjectId})" class="btn btn-default">
        <i class="glyphicon glyphicon-download"></i> Расселение (Excel)</a>
</div>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Название</th>
            <th>Описание</th>
            <th class="price-table" style="min-width: 10em; width: 10em;">@Html.RenderPriceElement("Цена,")</th>
            <th class="price-table">Мест</th>
            <th class="price-table">Заполнение</th>
            <th>Флаги</th>
            <th style="min-width: 6em; width: 6em;"></th>
        </tr>
    </thead>
    <tbody>
    @foreach (RoomTypeViewModel roomType in Model.RoomTypes)
    {
        @Html.Partial("_RoomTypeDetails", roomType);
    }
        @if (Model.RoomTypes.Count == 0)
        {
            <tr><td colspan="7">Типы размещения не добавлены</td></tr>
        }
    </tbody>
</table>
