@using JoinRpg.Web.App_Code
@using JoinRpg.Web.Models.Accommodation
@model AccommodationListViewModel


@{
    ViewBag.Title = "Размещение на игре «" + Model.ProjectName + "»: Типы проживания";
}

<h2>@ViewBag.Title</h2>

<table class="table table-striped">
    <thead>
    <tr>
        <th>Тип размещения</th>
        <th>Стоимость</th>
        <th>Мест</th>
        <th>Всего мест</th>
        <th>Бесконечное</th>
        <th>Доступно игрокам</th>
        <th>Автозаполнение</th>
        @if (Model.CanManageRooms)
        {
            <th>Действия</th>
        }
    </tr>
    </thead>
    @foreach (var roomType in Model.RoomsTypes)
    {
        <tr>
            <td>@Html.ActionLink(roomType.Name, "RoomTypeDetails", new { roomTypeId = roomType.Id, projectId = roomType.ProjectId}) </td>
            <td>@roomType.Cost</td>
            <td>@roomType.Capacity</td>
            <td>@roomType.TotalCapacity</td>
            <td>@roomType.IsInfinite</td>
            <td>@roomType.IsPlayerSelectable</td>
            <td>@roomType.IsAutoFilledAccommodation</td>
            @if (Model.CanManageRooms)
            {
                <td>
                    @using (Html.BeginForm("DeleteRoomType", "AccommodationType", new { roomTypeId = roomType.Id, projectId = roomType.ProjectId }, FormMethod.Post, new {@style = "display:inline-block"}))
                    {
                        @Html.AntiForgeryToken()
                        @Html.HttpMethodOverride(HttpVerbs.Delete)
                        <button type="submit" class="btn btn-danger"><span title="удалить" class="glyphicon glyphicon-trash"></span>Удалить</button>
                    }
                </td>
            }
        </tr>
    }

</table>

@if (Model.CanManageRooms)
{
    <hr/>
    @Html.Partial("TypeDetails", new RoomTypeViewModel() {ProjectId = Model.ProjectId})
}
