@using JoinRpg.Web.App_Code
@model JoinRpg.Web.Models.Accommodation.AccommodationListViewModel


@{
    ViewBag.Title = "Размещение на игре «" + Model.ProjectName + "»: Типы проживания";
}

<h2>@ViewBag.Title</h2>

<div class="btn-group" style="padding: 1em">
    <a href="@Url.Action("MainReport", "AccommodationPrint", new {Export = "xlsx", ProjectId = Model.ProjectId})" class="btn btn-default"
       >
        <span class="glyphicon glyphicon-download"></span>
        Расселение (Excel)
    </a>
</div>

<table class="table table-striped">
    <thead>
    <tr>
        <th>Тип размещения</th>
        <th>Стоимость</th>
        <th>Мест</th>
        <th>Всего мест</th>
        <th>Бесконечное</th>
        <th>Доступно игрокам</th>
        <th>Автозаполнение</th>
        @if (Model.CanManageRooms)
        {
            <th>Действия</th>
        }
    </tr>
    </thead>
    @foreach (var accommodationType in Model.AccommodationTypes)
    {
        <tr>
            <td>@Html.ActionLink(accommodationType.Name, "TypeDetails", new { accommodationTypeId = accommodationType.Id, accommodationType.ProjectId}) </td>
            <td>@accommodationType.Cost</td>
            <td>@accommodationType.Capacity</td>
            <td>@accommodationType.TotalCapacity</td>
            <td>@accommodationType.IsInfinite</td>
            <td>@accommodationType.IsPlayerSelectable</td>
            <td>@accommodationType.IsAutoFilledAccommodation</td>
            @if (Model.CanManageRooms)
            {
                <td>
                    @using (Html.BeginForm("Delete", "AccommodationType", new {accommodationTypeId = accommodationType.Id, projectId = accommodationType.ProjectId}, FormMethod.Post, new {@style = "display:inline-block"}))
                    {
                        @Html.AntiForgeryToken()
                        @Html.HttpMethodOverride(HttpVerbs.Delete)
                        <button type="submit" class="btn btn-danger"><span title="удалить" class="glyphicon glyphicon-trash"></span>Удалить</button>
                    }
                </td>
            }
        </tr>
    }

</table>

@if (Model.CanManageRooms)
{
    <hr/>
    @Html.Partial("TypeDetails", new JoinRpg.Web.Models.Accommodation.AccommodationTypeViewModel() {ProjectId = Model.ProjectId})
}
