@using JoinRpg.Web.App_Code
@using JoinRpg.Web.Models.Accommodation
@model AccommodationListViewModel
@{
    ViewBag.Title = "Поселение на игре «" + Model.ProjectName + "»";
}
@Scripts.Render("~/Scripts/roomsMessages.js")

<h2>@ViewBag.Title</h2>

<div class="btn-group">
    @if (Model.CanManageRooms)
    {
        <a href="@Url.Action("AddRoomType", "AccommodationType", new {Model.ProjectId })" class="btn btn-success">
            <i class="glyphicon glyphicon-plus"></i> Добавить тип размещения</a>
    }
    @if (Model.CanAssignRooms)
    {
        @*<a href="@Url.Action("OccupyAll", "AccommodationType", new {ProjectId = Model.ProjectId })" class="btn btn-default" onclick="return ConfirmPlaceAll()">
            <i class="glyphicon glyphicon-bed"></i> Заселить всех</a>*@
        <a href="@Url.Action("UnOccupyAll", "AccommodationType", new {Model.ProjectId})" class="btn btn-default" onclick="return ConfirmKickAll()">
            <i class="glyphicon glyphicon-fullscreen"></i> Выселить всех</a>
    }
    <a href="@Url.Action("MainReport", "AccommodationPrint", new { Export = "xlsx", Model.ProjectId})" class="btn btn-default">
        <i class="glyphicon glyphicon-download"></i> Список расселения (Excel)</a>
</div>

<div class="table-responsive" style="margin-top: 1em;">
    <table class="table">
        <thead>
            <tr>
                <th>Название</th>
                <th class="visible-lg">Описание</th>
                <th class="price-table" style="min-width: 10em; width: 10em;">Цена</th>
                <th class="price-table">Мест</th>
                <th class="price-table">Свободных</th>
                <th class="price-table">Не заселено</th>
                <th class="price-table">Заселено</th>
                <th>Флаги</th>
                <th style="min-width: 9em; width: 9em;"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var roomType in Model.RoomTypes)
            {
                @Html.Partial("_RoomTypeDetails", roomType)
            }
            @if (Model.RoomTypes.Count == 0)
            {
                <tr><td colspan="7">Типы размещения не добавлены</td></tr>
            }
        </tbody>
    </table>
</div>
