
@model JoinRpg.Web.Models.Accommodation.ProjectAccommodationViewModel
@{
    ViewBag.IsInEditMode = false;
    ViewBag.ActionName = "Добавить";
    if (Model.Id != 0)
    {
        ViewBag.Title = "Редактирование помещения для " + ViewBag.AccommodationName;
        <h2>@ViewBag.Title</h2>
        ViewBag.ActionName = "Изменить";
        ViewBag.IsInEditMode = true;
    }
}
@using (Html.BeginForm("ProjectAccommodationEdit", "AccommodationType", new { projectId = Model.ProjectId, Id = Model.Id, AccommodationTypeId = Model.AccommodationTypeId }, FormMethod.Post))
{

    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @if (!ViewBag.IsInEditMode)
        {
            <h4>Новое помещение</h4>
            <hr />
        }
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            <div class="col-md-offset-2 col-md-8">
                @if (ViewBag.IsInEditMode)
                {
                    @Html.RouteLink("Назад", new { projectId = Model.ProjectId, accommodationId = Model.AccommodationTypeId, action = "Edit", Controller = "AccommodationType" }, new { @class = "btn btn-default pull-right" })
                }

                <button type="submit" class="btn btn-primary pull-right">@ViewBag.ActionName</button>

            </div>
        </div>
        @if (!ViewBag.IsInEditMode)
        {

        }
    </div>
}
