@using JoinRpg.Web.Models
@model CharacterDetailsViewModel

<div>
    @Html.Partial("CharacterNavigation", Model.Navigation)
    <dl class="dl-horizontal">
        <dt>Игрок</dt>
        <dd>@Html.DisplayFor(model => model, "IPlayerCharacter")</dd>
        <dt>@Html.DisplayNameFor(model => model.Description)</dt>
        <dd>@Html.DisplayFor(model => model.Description)</dd>
        <dt>@Html.DisplayNameFor(model => model.ParentGroups)</dt>
        <dd>@Html.DisplayFor(model => model.ParentGroups)</dd>
    </dl>

@if (Model.Fields.AnythingAccessible)
{
    <div class="form-horizontal">
        @Html.Partial("_EditFieldsPartial", Model.Fields)
    </div>
}
    @Html.Partial("_PlotForCharacterPartial", Model.Plot)
</div>
