@using JoinRpg.Web.Models
@model CharacterDetailsViewModel

<div>
    <h4>@Model.CharacterName</h4>
    <hr/>
    @* TODO: Жесточайше причесать эту страницу*@
    @if (Model.CanAddClaim)
    {
        <p>@Html.ActionLink("заявиться", "AddForCharacter", "Claim", new {Model.ProjectId, Model.CharacterId}, null)</p>
    }
    @if (Model.ApprovedClaimId != null && Model.HasAccess)
    {
        <p>
            @Html.ActionLink("перейти на заявку", "Edit", "Claim", new {Model.ProjectId, ClaimId = Model.ApprovedClaimId}, null)
        </p>
    }
    @if (Model.HasMasterAccess)
    {
        <p>
            @Html.ActionLink("Редактировать персонажа", "Edit", "Character", new {Model.ProjectId, Model.CharacterId}, null)
        </p>
    }
    @Html.Partial("CharacterFieldsPartial", Model)
    
</div>
@if (Model.DiscussedClaims.Any())
{
    <h4>Обсуждаемые заявки</h4>
    ViewBag.HideProjectColumn = true;
    @Html.Partial(@"~/Views/Claim/Index.cshtml", Model.DiscussedClaims)
}
@if (Model.RejectedClaims.Any())
{
    <details>
        <summary><h4>Отклоненные заявки</h4></summary>
        @{ ViewBag.HideProjectColumn = true; }
        @Html.Partial(@"~/Views/Claim/Index.cshtml", Model.RejectedClaims)        
    </details>
}
@if (Model.Plot != null)
{
    <details>
        <summary><h4>Загрузы</h4></summary>
        @foreach (var plot in Model.Plot)
        {
            @Html.Partial("../Plot/ShowElementPartial", plot)
        }
        @if (ViewBag.HasUnfinishedPlot == true)
        {
            <p><b>Часть загрузов пока в работе и скрыта. Мастера откроют их вам, когда они будут готовы.</b>
            </p>
        }
    </details>
}
<p>
    
    @Html.ActionLink("Назад к сетке ролей", "Index", "GameGroups", new {Model.ProjectId}, null)
</p>
