@model JoinRpg.Web.Models.CharacterDetailsViewModel

<div>
    <h4>@Model.CharacterName</h4>
    <hr/>
    @* TODO: Жесточайше причесать эту страницу*@
    @if (Model.CanAddClaim)
    {
        <p>@Html.ActionLink("заявиться", "AddForCharacter", "Claim", new {Model.ProjectId, Model.CharacterId}, null)</p>
    }

    @Html.Partial("CharacterFieldsPartial", Model)
    @if (Model.ApprovedClaimId != null)
    {
        <p>
            <b>Игрок</b>: @Html.DisplayFor(model => Model.ApprovedClaimUser)
            @if (Model.HasPlayerAccessToCharacter)
            {
                <span>(
            @Html.ActionLink("перейти на заявку", "Edit", "Claim", new {Model.ProjectId, ClaimId = Model.ApprovedClaimId}, null)
        )
        </span>
            }
        </p>
    }
</div>
@if (Model.DiscussedClaims.Any())
{
    <h4>Обсуждаемые заявки</h4>
    ViewBag.HideProjectColumn = true;
    @Html.Partial(@"~/Views/Claim/Index.cshtml", Model.DiscussedClaims)
}
@if (Model.RejectedClaims.Any())
{
<h4>Отклоненные заявки</h4>
    ViewBag.HideProjectColumn = true;
@Html.Partial(@"~/Views/Claim/Index.cshtml", Model.RejectedClaims)
}
<p>
    
    @Html.ActionLink("Назад к сетке ролей", "Index", "GameGroups", new {Model.ProjectId}, null)
</p>
