@using JoinRpg.Domain
@using JoinRpg.Web.Models.Plot
@using JoinRpg.Helpers
@model JoinRpg.Web.Models.Print.PrintCharacterViewModel
<div style="border: solid 5px">
    <h1 style="">@Model.CharacterName</h1>
    <table class="table table-bordered">
        <tr>
            <th>Группы</th>
            <td>@Model.Groups.Where(g => !g.IsRoot).Select(g => g.Name).JoinStrings(" • ")</td>
        </tr>
        <tr>
            <th>Мастер</th>
            <td>
                @if (Model.ResponsibleMaster == null)
                {
                <text>нет</text>
                }
                else
                {
                @Model.ResponsibleMaster.GetDisplayName()
                }
            </td>

        </tr>
        @if (Model.PlayerDisplayName != null)
        {
        <tr>
            <th>Игрок</th>
            <td>@Model.PlayerDisplayName</td>
        </tr>
        <tr>
            <th>ФИО</th>
            <td>@Model.PlayerFullName</td>
        </tr>
        <tr>
            <th>Телефон</th>
            <td>@Model.PlayerPhoneNumber</td>
        </tr>
        }
        else
        {
        <tr>
            <th>Игрок</th>
            <td>Нет</td>
        </tr>
        }

    </table>
    @if (Model.RegistrationOnHold)
    {
    <div class="panel panel-danger">
        <div class="panel-heading">Перед выдачей конверта</div>
        <div class="panel-body">
            <ul>
                @if (Model.FeeDue > 0)
                {
                <li><b>Доплатить взнос:</b> @Model.FeeDue</li>
                }
                @if (Model.Plots.HasUnready)
                {
                <li>
                    Часть загрузов помечены как не готовы!
                </li>
                }
            </ul>
        </div>
    </div>
    }
</div>
