@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", new {area = ""}, FormMethod.Post, new {id = "logoutForm", @class = "navbar-right",}))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                    <img src="https://www.gravatar.com/avatar/@ViewBag.GravatarHash?d=identicon&s=24"/>&nbsp;@ViewBag.UserDisplayName
                </a>

                <ul class="dropdown-menu">
                    <li>@Html.ActionLink("Профиль", "Me", "User", new {area = ""}, null)</li>
                    <li>@Html.ActionLink("Аккаунт", "Index", "Manage", new {area = ""}, null)</li>
                    <li><a href="http://docs.joinrpg.ru">Помощь</a></li>
                    @if (User.IsInRole("admin"))
                    {
                        <li>@Html.ActionLink("Панель администратора", "Index", "AdminHome", new { area = "Admin" }, null)</li>
                    }
                    <li><a href="javascript:document.getElementById('logoutForm').submit()">Выйти</a></li>
                </ul>
            </li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
      <li>@Html.ActionLink("Регистрация", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
      <li>@Html.ActionLink("Войти", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
      <li><a href="http://docs.joinrpg.ru">Помощь</a></li>
    </ul>
}
