@using Microsoft.AspNet.Identity
@model JoinRpg.Web.Models.MasterMenuViewModel

@helper GetDisabled(bool access)
{
    @(!access ? "class=disabled" : "")
}
<div class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#master-menu-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <span class="navbar-brand">@Html.ActionLink(Model.ProjectName, "Details", "Game", new {Model.ProjectId}, null)</span>
            </div>
            <div class="navbar-collapse collapse" id="master-menu-collapse">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Мое<span class="caret"></span></a>

                        <ul class="dropdown-menu">
                            <li>
                                @Html.ActionLink("Мои игроки", "Responsible", "ClaimList", new {Model.ProjectId, ResponsibleMasterId = User.Identity.GetUserId()}, null)
                            </li>
                            <li>
                                @Html.ActionLink("Мои проблемные заявки", "ResponsibleProblems", "ClaimList", new {Model.ProjectId, ResponsibleMasterId = User.Identity.GetUserId()}, null)
                            </li>
                            <li>
                                @Html.ActionLink("Мои обсуждаемые заявки", "ResponsibleDiscussing", "ClaimList", new {Model.ProjectId, ResponsibleMasterId = User.Identity.GetUserId()}, null)
                            </li>
                            <li>
                                @Html.ActionLink("Мой лист ожидания", "ResponsibleOnHold", "ClaimList", new { Model.ProjectId, ResponsibleMasterId = User.Identity.GetUserId() }, null)
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Сетка ролей <span class="caret"></span></a>

                        <ul class="dropdown-menu">
                            <li>
                                @Html.ActionLink("Сетка ролей", "Index", "GameGroups", new {Model.ProjectId}, null)
                            </li>
                            <li>
                                @Html.ActionLink("Горячие роли", "Hot", "GameGroups", new { Model.ProjectId }, null)
                            </li>
                            <li>@Html.ActionLink("Сводный отчет", "Report", "GameGroups", new { Model.ProjectId }, null)</li>
                            <li role="separator" class="dropdown-header">По группам:</li>
                            @foreach (var cg in Model.BigGroups)
                            {
                                <li>@Html.ActionLink(cg.Name, "Details", "GameGroups", new {Model.ProjectId, cg.CharacterGroupId}, null)</li>
                            }
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Персонажи <span class="caret"></span></a>

                        <ul class="dropdown-menu">
                          <li>
                            @Html.ActionLink("Все персонажи", "Active", "CharacterList", new {Model.ProjectId}, null)
                          </li>
                          <li>
                            @Html.ActionLink("Свободные персонажи", "Vacant", "CharacterList", new {Model.ProjectId}, null)
                          </li>
                          <li>
                            @Html.ActionLink("Занятые персонажи", "WithPlayers", "CharacterList", new {Model.ProjectId}, null)
                          </li>
                            <li>
                                @Html.ActionLink("Проблемные персонажи", "Problems", "CharacterList", new { Model.ProjectId }, null)
                            </li>
                            <li>
                                @Html.ActionLink("Удаленные персонажи", "Deleted", "CharacterList", new {Model.ProjectId}, null)
                            </li>

                            <li role="separator" class="dropdown-header">По группам:</li>
                            @foreach (var cg in Model.BigGroups)
                            {
                                <li>@Html.ActionLink(cg.Name, "ByGroup", "CharacterList", new {Model.ProjectId, cg.CharacterGroupId}, null)</li>
                            }

                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Сюжеты <span class="caret"></span></a>

                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Все", "Index", "Plot", new {Model.ProjectId}, null)</li>
                            <li>@Html.ActionLink("В работе", "InWork", "Plot", new {Model.ProjectId}, null)</li>
                            <li>@Html.ActionLink("Готовые", "Ready", "Plot", new {Model.ProjectId}, null)</li>
                            <li>@Html.ActionLink("Одним списком", "FlatList", "Plot", new {Model.ProjectId}, null)</li>
                            <li>@Html.ActionLink("Одним списком — доделать", "FlatListUnready", "Plot", new {Model.ProjectId}, null)</li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Заявки <span class="caret"></span></a>

                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Все активные", "ActiveList", "ClaimList", new {Model.ProjectId}, null)</li>
                            <li>@Html.ActionLink("Проблемные", "Problems", "ClaimList", new {Model.ProjectId}, null)</li>
                            <li>@Html.ActionLink("На обсуждении", "Discussing", "ClaimList", new {Model.ProjectId}, null)</li>
                            <li>@Html.ActionLink("Игрокам нужно заполнить", "SomeFieldsToFill", "ClaimList", new { Model.ProjectId }, null)</li>
                            <li>@Html.ActionLink("Отклоненные/отозванные", "DeclinedList", "ClaimList", new {Model.ProjectId}, null)</li>
                            <li>@Html.ActionLink("Лист ожидания", "OnHoldList", "ClaimList", new { Model.ProjectId }, null)</li>
                            <li role="separator" class="dropdown-header">По группам:</li>
                            @foreach (var cg in Model.BigGroups)
                            {
                                <li>@Html.ActionLink(cg.Name, "ListForGroup", "ClaimList", new {Model.ProjectId, cg.CharacterGroupId}, null)</li>
                            }
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Форумы<span class="caret"></span></a>

                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Все активные", "ListThreads", "Forum", new { Model.ProjectId }, null)</li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Финансы<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Все операции", "Operations", "Finances", new {Model.ProjectId}, null)</li>
                            <li>@Html.ActionLink("На модерации", "Moderation", "Finances", new {Model.ProjectId}, null)</li>
                            <li>@Html.ActionLink("Неоплаченные принятые заявки", "WaitingForFee", "ClaimList", new {Model.ProjectId}, null)</li>
                            <li>@Html.ActionLink("Оплаченные отклоненные заявки", "PaidDeclined", "ClaimList", new { Model.ProjectId }, null)</li>
                            <li role="separator" class="divider"></li>
                            <li>@Html.ActionLink("Сводка по деньгам", "MoneySummary", "Finances", new {Model.ProjectId}, null)</li>
                            <li @GetDisabled(Model.AccessToProject.CanManageMoney)>@Html.ActionLink("Управление", "Setup", "Finances", new {Model.ProjectId}, null)</li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Прочее <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Встроить ролевку на сайт", "Apis", "GameTools", new {Model.ProjectId}, null)</li>
                            <li>@Html.ActionLink("Распечатки", "Index", "Print", new { Model.ProjectId }, null)</li>
                            
                            <li>@Html.ActionLink("Поля персонажа / заявки", "Index", "GameField", new {Model.ProjectId}, null)</li>
                            <li>@Html.ActionLink("Мастера", "Index", "Acl", new {Model.ProjectId}, null)</li>
                          @if (Model.CheckInModuleEnabled)
                          {
                            <li>@Html.ActionLink("Регистрация", "Index", "CheckIn", new { Model.ProjectId }, null)</li>
                          }
                          <li @GetDisabled(Model.AccessToProject.CanChangeProjectProperties)>@Html.ActionLink("Настройки", "Edit", "Game", new { Model.ProjectId }, null)</li>
                        </ul>
                    </li>
                </ul>
                @if (!Model.IsActive)
                {
                    <p class="navbar-text"><b>Проект в архиве</b></p>
                }
                else if (!Model.IsAcceptingClaims)
                {
                    <p class="navbar-text"><b>Прием заявок закрыт</b></p>
                }
            </div>
        </div>
    </div>