@model JoinRpg.Web.Models.PlayerMenuViewModel

<div class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#master-menu-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <span class="navbar-brand">@Html.ActionLink(@Model.ProjectName, "Details", "Game", new { Model.ProjectId }, null)</span>
        </div>
        <div class="navbar-collapse collapse" id="master-menu-collapse">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Сетка ролей <span class="caret"></span></a>

                    <ul class="dropdown-menu">
                        <li>
                            @Html.ActionLink("Персонажи", "Index", "GameGroups", new {Model.ProjectId}, null)
                        </li>
                        <li>
                            @Html.ActionLink("Горячие роли", "Hot", "GameGroups", new {Model.ProjectId}, null)
                        </li>
                        <li role="separator" class="dropdown-header">По группам:</li>
                        @foreach (var cg in Model.BigGroups)
                        {
                            <li>@Html.ActionLink(cg.Name, "Index", "GameGroups", new {Model.ProjectId, cg.CharacterGroupId}, null)</li>
                        }
                    </ul>
                </li>
                @if (Model.PlotPublished)
                {
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Сюжеты <span class="caret"></span></a>

                    <ul class="dropdown-menu">
                        <li>@Html.ActionLink("Все", "Index", "Plot", new { Model.ProjectId }, null)</li>
                        <li>@Html.ActionLink("Одним списком", "FlatList", "Plot", new { Model.ProjectId }, null)</li>
                     </ul>
                </li>
                }
                @if (Model.Claims.Count == 1)
                {
                    var claim = Model.Claims.Single();
                    <li>
                        @Html.ActionLink("Заявка: " + claim.Name, "Edit", "Claim", new {claim.ProjectId, claim.ClaimId}, null)
                    </li>
                }
                else if (Model.Claims.Count > 0)
                {
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Мои заявки <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            @foreach (var claim in Model.Claims)
                            {
                                <li>
                                    @Html.ActionLink(claim.Name, "Edit", "Claim", new {claim.ProjectId, claim.ClaimId}, null)
                                </li>
                            }
                        </ul>
                    </li>
                }
                else if (Model.RootGroupId != null)
                {
                <li>
                    @Html.ActionLink("Заявиться", "AddForGroup", "Claim", new { Model.ProjectId, CharacterGroupId = Model.RootGroupId}, null)
                </li>
                }

                @if (User.Identity.IsAuthenticated)
                {

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Форумы<span class="caret"></span></a>

                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Все активные", "ListThreads", "Forum", new { Model.ProjectId }, null)</li>
                        </ul>
                    </li>
                }

                @if (Model.IsAdmin)
                {
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Функции администратора<span class="caret"></span></a>

                        <ul class="dropdown-menu">
                            @if (Model.IsActive)
                            {
                                <li>
                                    @Html.ActionLink("Закрыть проект", "Close", "Game", new {Model.ProjectId}, null)
                                </li>
                            }
                            <li>
                                @Html.ActionLink("Поставить себе доступ", "ForceSet", "Acl", new { Model.ProjectId }, null)
                            </li>
                        </ul>
                    </li>

                }
            </ul>
            @if (!Model.IsActive)
            {
            <p class="navbar-text"><b>Проект в архиве</b></p>
            }
            else if (!Model.IsAcceptingClaims)
            {
            <p class="navbar-text"><b>Прием заявок закрыт</b></p>
            }
        </div>
    </div>
</div>
