@using JoinRpg.Web.Models 
@model CharacterGroupListViewModel


@functions {
  private static string GetName(CharacterGroupListItemViewModel gr)
  {
      return gr.Name + (gr.AvaiableDirectSlots > 0 ? (" " + DisplayCount.OfX(gr.AvaiableDirectSlots, "вакансия", "вакансии", "вакансий")) : "");
  }

}
@helper CreateValue(string prefix, int id, string label)
{
    var value = prefix + id;
    <option value="@value">@label</option>
}
<div class="form-horizontal">
    <div class="form-group">
        @Html.Label("", "Переместить заявку", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <select name="claimTarget" id="claimTarget" class="form-control col-md-10">
                @foreach (var element in Model.ActiveGroups.Where(g => g.FirstCopy && !g.IsSpecial))
                {
                    if (element.AvaiableDirectSlots != 0 && ViewBag.ShowGroupsInAvailClaim == true)
                    {
                    @CreateValue("group^", element.CharacterGroupId, "Группа " + GetName(element))
                    }

                    foreach (var character in element.ActiveCharacters.Where(ch => ch.IsAvailable))
                    {
                    @CreateValue("character^", character.CharacterId, string.Join("→", element.Path.Skip(1).Union(new[] { element }).Select(p => p.Name)) + "→" + character.CharacterName)
                    }
                }
            </select>
        </div>
    </div>

    </div>
