@using JoinRpg.Domain
@model JoinRpg.Web.Models.ICharacterFieldsViewModel
@functions {
  private bool CanView(CharacterFieldValue field)
  {
      return field.Field.IsPublic || (Model.HasMasterAccess || (Model.HasPlayerAccessToCharacter && field.Field.CanPlayerView));
  }

  private bool CanEdit(CharacterFieldValue field)
  {
      return (Model.HasMasterAccess || (Model.HasPlayerAccessToCharacter && field.Field.CanPlayerEdit));
  }

}
<h4>Поля персонажа</h4>
@if (Model.HasMasterAccess && Model.CharacterId != null)
{
    @Html.ActionLink("Редактировать персонажа", "Edit", "Character", new {Model.ProjectId, Model.CharacterId}, null)
}
<div class="form-horizontal">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-group">
            @Html.LabelFor(model => model.CharacterName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @(Model.HasMasterAccess ? Html.EditorFor(model => model.CharacterName) : Html.DisplayFor(model => model.CharacterName))
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ParentGroups, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @foreach (var gr in Model.ParentGroups.Where(g => Model.HasMasterAccess || g.IsPublic))
                {
                    @Html.ActionLink(gr.Name, "Index", "GameGroups", new { gr.CharacterGroupId, gr.ProjectId }, null) <br/>
                }
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @(Model.HasMasterAccess ? Html.EditorFor(model => model.Description) : Html.DisplayFor(model => model.Description))
            </div>
        </div>

        foreach (var field in Model.CharacterFields.Where(CanView))
        {
            <div>
                @(CanEdit(field) ? Html.EditorFor(model => field) : Html.DisplayFor(model => field))
            </div>
        }
        if (Model.CharacterFields.Any(CanEdit))
            {
            <div class="form-group">
                <div class="col-md-10">
                    <input type="submit" value="Сохранить" class="btn btn-default"/>
                </div>
            </div>
        }
    }
</div>