@using JetBrains.Annotations
@using JoinRpg.Domain
@using JoinRpg.Web.Models.Characters
@model CharacterNavigationViewModel

@helper NavigationItem(CharacterNavigationPage page, string linkText, [AspMvcAction] string actionName, [AspMvcController] string controllerName, object args, bool enabled = true)
{
    if (Model.Page == page)
    {
        <li role="presentation" class="active">
            <a>@linkText</a>
        </li>
    }
    else if (enabled)
    {
        <li role="presentation">
            @Html.ActionLink(linkText, actionName, controllerName, args, null)
        </li>
}
else
{
    <li role="presentation" class="disabled">
        <a>@linkText</a>
    </li>
}
}

@{
  ViewBag.Title = Model.Name;
  string strikeStyleOfName = Model.IsActive ? "" : "text-decoration: line-through";
}
<div style="margin-bottom: 1em">
    <ul class="nav nav-pills">
        <li class="disabled">
            <a href="#" style="cursor: default; @strikeStyleOfName"><span class="h3">@ViewBag.Title</span></a>
        </li>
        @if (Model.CharacterId != null)
        {
            @NavigationItem(CharacterNavigationPage.Character, "Персонаж", "Details", "Character", new {Model.ProjectId, Model.CharacterId})
            if (Model.HasMasterAccess)
            {
                @NavigationItem(CharacterNavigationPage.Editing, "Редактировать", "Edit", "Character", new {Model.ProjectId, Model.CharacterId}, Model.CanEditRoles)
            }
        }
        @if (Model.ClaimId != null)
        {
            @NavigationItem(CharacterNavigationPage.Claim, "Заявка", "Edit", "Claim", new {Model.ProjectId, Model.ClaimId})
        }
        else if (Model.CanAddClaim)
        {
            @NavigationItem(CharacterNavigationPage.AddClaim, "Подать заявку", "AddForCharacter", "Claim", new {Model.ProjectId, Model.CharacterId})
        }
        else
        {
            <li role="presentation" class="disabled">
                <a href="#">Заявки не принимаются</a>
            </li>
        }
        @if (Model.DiscussedClaims.Any())
        {
            <li role="presentation" class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                    Обсуждаемые заявки <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    @foreach (var claim in Model.DiscussedClaims)
                    {
                        @NavigationItem(CharacterNavigationPage.None, claim.Player.GetDisplayName(), "Edit", "Claim", new {Model.ProjectId, claim.ClaimId})
                    }
                </ul>
            </li>
        }
        @if (Model.RejectedClaims.Any())
        {
            var active = Model.Page == CharacterNavigationPage.RejectedClaim ? "active" : "";

            <li role="presentation" class="dropdown @active">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                    Отклоненные заявки <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    @foreach (var claim in Model.RejectedClaims)
                    {
                        @NavigationItem(CharacterNavigationPage.None, claim.Player.GetDisplayName(), "Edit", "Claim", new {Model.ProjectId, claim.ClaimId})
                    }
                </ul>
            </li>
        }
        @if (Model.ClaimId != null && Model.IsAccommodationEnabled)
        {
            @NavigationItem(CharacterNavigationPage.Accommodation, "Проживание", "Index", "ClaimAccommodation", new {Model.ProjectId, Model.ClaimId})
        }

    </ul>

</div>
