@model JoinRpg.Web.Models.AclViewModel

@{
    ViewBag.Title = "Снять доступ мастеру";
}

<h2>@ViewBag.Title</h2>

<h3>Вы действительно хотите снять доступ мастеру?</h3>
<div>
    <div>
        @Html.DisplayFor(model => model.UserDetails)
    </div>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.ProjectId)
        @Html.HiddenFor(model => model.ProjectAclId)
        @Html.HiddenFor(model => model.UserId)

        <div class="form-actions no-color">
            <input type="submit" value="Снять доступ" class="btn btn-default"/> |
            @Html.ActionLink("Назад", "Index", new {Model.ProjectId})
        </div>
    }
</div>
