@using System.Linq.Expressions
@using JetBrains.Annotations
@using JoinRpg.Web.App_Code
@using JoinRpg.Web.Models
@using Microsoft.AspNet.Identity
@model IEnumerable<AclViewModel>

@helper ShowRightValue([InstantHandle] Expression<Func<IEnumerable<AclViewModel>, bool>> expression)
{
    if (expression.Compile()(Model))
    {
        <span class="label label-success" title="@Html.GetDescription(expression)" data-toggle="tooltip">
            <span class="glyphicon glyphicon-ok-sign"></span>
            @Html.DisplayNameFor(expression)
        </span> 
    }
    else
    {
        <span class="label label-default"  title="@Html.GetDescription(expression)" data-toggle="tooltip">
            <span class="glyphicon glyphicon-remove-sign"> </span>
            @Html.DisplayNameFor(expression)
        </span> 
    }
  <br/>
}

@{
    ViewBag.Title = "Мастера";
    var countOfCanGrantRights = Model.Count(acl => acl.CanGrantRights);
    var canGrantRights = Model.Single(acl => acl.UserId == User.Identity.GetUserId<int>()).CanGrantRights;
}

<h2>@ViewBag.Title</h2>

@if (canGrantRights)
{
    <p>
        Чтобы добавить мастера в проект, найдите его поиском (в главном меню) по email, нику или ФИО.
    </p>
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UserDetails)
        </th>
        <th class="hidden-xs" colspan="2">
            Права доступа
        </th>
        <th>
        </th>
    </tr>

@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.UserDetails)
        </td>
        <td class="hidden-xs">
            @ShowRightValue(model => item.CanEditRoles)
            @ShowRightValue(model => item.CanSendMassMails)
            @ShowRightValue(model => item.CanManagePlots)
            @ShowRightValue(model => item.CanManageClaims)
        </td>
        <td class="hidden-xs">
            @ShowRightValue(model => item.CanManageMoney)
            @ShowRightValue(model => item.CanChangeFields)
            @ShowRightValue(model => item.CanChangeProjectProperties)
            @ShowRightValue(model => item.CanGrantRights)
        </td>
        <td>


            @if (item.ClaimsCount > 0)
            {
                <div>
                    @Html.ActionLink(
                        DisplayCount.OfX(item.ClaimsCount, "заявка", "заявки", "заявок"),
                        "Responsible", "ClaimList", new {ResponsibleMasterId = item.UserId, item.ProjectId}, null)
                    <span>(@Html.ActionLink("проблемные", "ResponsibleProblems", "ClaimList", new {ResponsibleMasterId = item.UserId, item.ProjectId}, null))</span>
                </div>
            }
            @if (item.ResponsibleFor.Any())
            {
            <div>
                <b>Отв. мастер</b>: @(new HtmlString(string.Join(", ", item.ResponsibleFor.Select(respFor => Html.DisplayFor(model => respFor)))))
            </div>
            }
            @if (canGrantRights)
            {
              
                <a href="@Url.Action("Edit", new {item.ProjectId, item.ProjectAclId})" class="btn btn-default btn-sm">
                    <span class="glyphicon glyphicon-pencil"></span> Изменить права
                </a>


                if (item.UserId.ToString() == User.Identity.GetUserId() && countOfCanGrantRights == 1)
                {

                }
                else
                {
                    <a href="@Url.Action("Delete", new {item.ProjectId, item.ProjectAclId})" class="btn btn-danger btn-sm">
                        <span class="glyphicon glyphicon-trash"></span> Снять доступ
                    </a>
                }

            }
        </td>

    </tr>
}

</table>
