@using JoinRpg.Web.Models
@using Microsoft.AspNet.Identity
@model IEnumerable<AclViewModel>

@{
    ViewBag.Title = "Мастера " + Model.First().ProjectName;
    var countOfCanGrantRights = Model.Count(acl => acl.CanGrantRights);
    var canGrantRights = Model.Single(acl => acl.UserId == User.Identity.GetUserId<int>()).CanGrantRights;
}

<h2>@ViewBag.Title</h2>

<p>
    Чтобы добавить мастера в проект, найдите его поиском по email, нику или ФИО.
    <br/>
    @Html.Partial("SuperSearchPartial", new SuperSearchViewModel())
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Master)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CanApproveClaims)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CanChangeFields)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CanChangeProjectProperties)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CanGrantRights)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ClaimsCount)
        </th>
        @if (canGrantRights)
        {
            <th></th>
        }
    </tr>

@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Master)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CanApproveClaims)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CanChangeFields)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CanChangeProjectProperties)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CanGrantRights)
        </td>
        <td>
            @Html.ActionLink(DisplayCount.OfX(item.ClaimsCount, "заявка", "заявки", "заявок"), "Responsible", "Claim", new {ResponsibleMasterId = item.Master.UserId, item.ProjectId}, null)
        </td>
        @if (canGrantRights)
        {
            <td>


                @Html.ActionLink("Изменить", "Edit", new {item.ProjectId, item.ProjectAclId})
                @if (item.UserId.ToString() == User.Identity.GetUserId() && countOfCanGrantRights == 1)
                {

                }
                else
                {
                    <text> <nobr> @Html.ActionLink("Снять доступ", "Delete", new {item.ProjectId, item.ProjectAclId}) </nobr> </text>
                }
            </td>
        }
    </tr>
}

</table>
