@using JoinRpg.Web.Models
@using Microsoft.AspNet.Identity
@model IEnumerable<AclViewModel>

@{
    ViewBag.Title = "Мастера";
    var countOfCanGrantRights = Model.Count(acl => acl.CanGrantRights);
    var canGrantRights = Model.Single(acl => acl.UserId == User.Identity.GetUserId<int>()).CanGrantRights;
}

<h2>@ViewBag.Title</h2>

@if (canGrantRights)
{
    <p>
        Чтобы добавить мастера в проект, найдите его поиском (в главном меню) по email, нику или ФИО.
    </p>
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Master)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CanManageClaims)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CanChangeFields)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CanChangeProjectProperties)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CanGrantRights)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CanEditRoles)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CanAcceptCash)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CanManageMoney)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ClaimsCount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProblemClaimsCount)
        </th>
        @if (canGrantRights)
        {
            <th></th>
        }
    </tr>

@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Master)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CanManageClaims)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CanChangeFields)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CanChangeProjectProperties)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CanGrantRights)
        </td>
        <td>
            @Html.DisplayFor(model => item.CanEditRoles)
        </td>
        <td>
            @Html.DisplayFor(model => item.CanAcceptCash)
        </td>
        <td>
            @Html.DisplayFor(model => item.CanManageMoney)
        </td>
        <td style="white-space: nowrap">
            @Html.ActionLink(DisplayCount.OfX(item.ClaimsCount, "заявка", "заявки", "заявок"), "Responsible", "ClaimList", new {ResponsibleMasterId = item.Master.UserId, item.ProjectId}, null)
        </td>
        <td style="white-space: nowrap">
            @Html.ActionLink(DisplayCount.OfX(item.ProblemClaimsCount, "проблемная", "проблемные", "проблемных"), "ResponsibleProblems", "ClaimList", new { ResponsibleMasterId = item.Master.UserId, item.ProjectId }, null)

        </td>
        @if (canGrantRights)
        {
            <td>


                @Html.ActionLink("Изменить", "Edit", new {item.ProjectId, item.ProjectAclId})
                @if (item.UserId.ToString() == User.Identity.GetUserId() && countOfCanGrantRights == 1)
                {

                }
                else
                {
                    <text> <nobr> @Html.ActionLink("Снять доступ", "Delete", new {item.ProjectId, item.ProjectAclId}) </nobr> </text>
                }
            </td>
        }
    </tr>
}

</table>
