@using JoinRpg.Domain
@model IEnumerable<JoinRpg.Web.Models.FinOperationListItemViewModel>

@{
    ViewBag.Title = "Список финансовых операций";
}

<h2>@ViewBag.Title</h2>

@Html.Partial("_ExportInExcel")

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FinanceOperationId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Money)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FeeChange)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.PaymentMaster)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PaymentTypeName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Claim)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Player)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OperationDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MarkingMaster)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FinanceOperationId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Money)&nbsp;&#8381;
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FeeChange)&nbsp;&#8381;
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PaymentMaster)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PaymentTypeName)
        </td>
        <td>
            <a href="@item.ClaimLink">@item.Claim</a>
        </td>
        <td>
            @Html.DisplayFor(model => item.Player)
        </td>
        <td>
            @item.OperationDate.ToShortDateString()
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MarkingMaster)
        </td>
    </tr>
}

</table>