@*TODO: Have nice view model here, with Current user acls*@
@model JoinRpg.DataModel.Project

@{
    ViewBag.Title = "Игра «"+ Model.ProjectName +"»";
}

<h2>@ViewBag.Title</h2>

<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Active)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Active)
        </dd>

    </dl>
    <h4>Мастера</h4>
    <ul>
        @foreach (var master in Model.ProjectAcls.Select(pa => pa.User))
        {
            <li>@master.DisplayName
        @if (master.UserId == Model.CreatorUserId)
        {
            <span>(создатель проекта)</span>
        }
        </li>
        }
    </ul>
    <h4>Управление проектом</h4>
    <ul>
        @*TODO: Show if avail*@
        <li>@Html.ActionLink("Настройка полей", "Index", "GameField", new {Model.ProjectId}, null)</li>
        <li>@Html.ActionLink("Ролевка (группы персонажей и персонажи)", "Index", "GameGroups", new {Model.ProjectId}, null)</li>
        @* TODO: Show count*@ @*TODO: Show if avail*@
        <li>@Html.ActionLink("Заявки на обсуждении", "Discussing", "Claim", new {Model.ProjectId}, null)</li>
        @*TODO: Show if avail*@
        <li>@Html.ActionLink("Изменить свойства проекта", "Edit", new { Model.ProjectId })</li>
    </ul>
</div>