@model JoinRpg.DataModel.Project

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Project</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ProjectName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProjectName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatorUserId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatorUser.UserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Active)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Active)
        </dd>

    </dl>
    <h4>Мастера</h4>
    <ul>
        @foreach (var master in Model.ProjectAcls.Select(pa => pa.User.UserName))
        {
            <li>@master</li>
        }
    </ul>
    <h4>Управление проектом</h4>
    <ul>
        @*TODO: Show if avail*@
        <li>@Html.ActionLink("Настройка полей", "Index", "GameField", new {Model.ProjectId}, null)</li>
        <li>@Html.ActionLink("Ролевка (группы персонажей и персонажи)", "Index", "GameGroups", new {Model.ProjectId}, null)</li>
        @* TODO: Show count*@
        <li>@Html.ActionLink("Заявки на обсуждении", "Discussing", "Claim", new { Model.ProjectId }, null)</li>
    </ul>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ProjectId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
