@*TODO: Have nice view model here, with Current user acls*@
@using JoinRpg.Web.Helpers
@model JoinRpg.DataModel.Project

@{
    ViewBag.Title = "Игра «"+ Model.ProjectName +"»";
}

<h2>@ViewBag.Title</h2>

<p>Мне не нравится эта страница, хочу с ней как-то расправиться</p>
@if (!string.IsNullOrWhiteSpace(Model.Details.ProjectAnnounce.Contents))
{
    <hr/>
    @Model.Details.ProjectAnnounce.ToHtmlString()
}

<hr/>

<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Active)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Active)
        </dd>

    </dl>
    <h4>Мастера</h4>
    <ul>
        @foreach (var master in Model.ProjectAcls)
        {
            <li>@Html.DisplayFor(model => master.User)
        @if (master.IsOwner)
        {
            <span>(создатель проекта)</span>
        }
        </li>
        }
    </ul>
</div>