@using JoinRpg.Portal.AppCodeCompiled
@using JoinRpg.Web.Models.FieldSetup
@using JoinRpg.Portal
@model FieldSettingsViewModel

@{
    ViewBag.Title = "Настройки полей";
}

@await Html.PartialAsync("_FieldNavigation", Model.Navigation)

    <div class="alert alert-warning">
        По умолчанию в этом разделе все настроено оптимальным образом согласно выбору при создании проекта (игра/конвент).
        Прежде чем менять что-то в этом разделе, стоит внимательно ознакомится
        со @Html.HelpLink("fields/settings_for_role_list.html", "справкой о связи полей и сетки ролей").
    </div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.ProjectId)

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })


        @Html.JoinFormDropdownFor(model => model.NameField, Model.PossibleNameFields)

        @Html.JoinFormDropdownFor(model => model.DescriptionField, Model.PossibleDescriptionFields)

        @await Html.PartialAsync("FormButtons")
    </div>
}
