@using JoinRpg.Helpers
@model JoinRpg.Web.Models.Characters.CharacterViewModel

@{
    var hideClassName = Model.IsPublic ? "" : "world-object-hidden";
}

<div class="@hideClassName">
    <strong>@Html.ActionLink(Model.CharacterName ?? Model.CharacterId.ToString(), "Details", "Character", new { Model.ProjectId, Model.CharacterId }, null) </strong>

    @if (Model.PlayerLink != null)
    {
        @Html.DisplayFor(model => model.PlayerLink)
    }
    else if (Model.ActiveClaimsCount > 0)
    {
        @CountHelper.DisplayCount(Model.ActiveClaimsCount, "заявка", "заявки", "заявок")
    }

    <text>&nbsp;</text>
    <component type="typeof(JoinRpg.Web.ProjectCommon.Characters.ApplyForCharacterButton)"
               render-mode="Static"
               param-Model="@Model.ApplyStatus" />

    @if (Model.HasEditRolesAccess)
    {
        @await Html.PartialAsync("_CharacterEditControls", Model)
    }

    @if (Model.IsFirstCopy)
    {
        <div>@Model.Description</div>
    }
    else
    {
        <span>(описание см. выше)</span>
    }
</div>
