@using JetBrains.Annotations
@model JoinRpg.Web.Models.Characters.CharacterViewModel

@{
    var hideClassName = Model.IsPublic ? "" : "world-object-hidden";
}

@functions
{

    [MustUseReturnValue]
    public static string CountOfX(int count, string single, string multi1, string multi2)
    {
        var selected = count == 0 ? multi2 : (count == 1 ? single : (count < 5 ? multi1 : multi2));
        return count + " " + @selected;
    }

}
<div class="@hideClassName">
    <strong>@Html.ActionLink(Model.CharacterName ?? Model.CharacterId.ToString(), "Details", "Character", new { Model.ProjectId, Model.CharacterId }, null) </strong>
    @if (Model.Player != null)
    {
        @Html.DisplayFor(model => model, "IPlayerCharacter")
    }
    else if (Model.ActiveClaimsCount > 0)
    {
        @Html.DisplayCount_OfX(Model.ActiveClaimsCount, "заявка", "заявки", "заявок")
    }

    @if (Model.IsAvailable)
    {
        <text>&nbsp;</text>
        @Html.ActionLink("заявиться", "AddForCharacter", "Claim", new { Model.ProjectId, Model.CharacterId }, new { @class = "btn btn-default btn-xs" })
        if (Model.IsHot)
        {
            <span class="label label-warning">Горячая роль</span>
        }
    }

    @if (Model.HasEditRolesAccess)
    {
        @await Html.PartialAsync("_CharacterEditControls", Model)
    }

    @if (Model.IsFirstCopy)
    {
        <div>@Model.Description</div>
    }
    else
    {
        <span>(описание см. выше)</span>
    }
</div>
