@using JoinRpg.Helpers
@model JoinRpg.Web.Models.Characters.CharacterViewModel

@{
    var hideClassName = Model.IsPublic ? "" : "world-object-hidden";
}

<div class="@hideClassName">
    <strong>@Html.ActionLink(Model.CharacterName ?? Model.CharacterId.ToString(), "Details", "Character", new { Model.ProjectId, Model.CharacterId }, null) </strong>

    @if (Model.PlayerLink != null)
    {
        @Html.DisplayFor(model => model.PlayerLink)
    }
    else if (Model.ActiveClaimsCount > 0)
    {
        @CountHelper.DisplayCount(Model.ActiveClaimsCount, "заявка", "заявки", "заявок")
    }

    @if (Model.IsAvailable)
    {
        <text>&nbsp;</text>
        <a asp-controller="Claim" asp-action="AddForCharacter" asp-route-projectid="@Model.ProjectId" asp-route-characterId="@Model.CharacterId" class="btn btn-default btn-xs">
          заявиться
          @if (Model.SlotLimit is not null && Model.SlotLimit > 1)
          {
                <text>&nbsp; (@CountHelper.DisplayCount(Model.SlotLimit.Value, "место", "места", "мест"))</text>
          }
        </a>
        if (Model.IsHot)
        {
            <span class="label label-warning">Горячая роль</span>
        }
    }
    else
    {
        if (Model.SlotLimit is not null && Model.SlotLimit > 1)
          {
            if (Model.SlotLimit == 0)
            {
              <text>мест нет</text>
            }
            else {
                <text>&nbsp; (@CountHelper.DisplayCount(Model.SlotLimit.Value, "место", "места", "мест"))</text>
            }
          }
    }

    @if (Model.HasEditRolesAccess)
    {
        @await Html.PartialAsync("_CharacterEditControls", Model)
    }

    @if (Model.IsFirstCopy)
    {
        <div>@Model.Description</div>
    }
    else
    {
        <span>(описание см. выше)</span>
    }
</div>
