@using JoinRpg.Markdown
@using JoinRpg.Web.Helpers
@using JoinRpg.Web.Models.CharacterGroups
@model DeleteCharacterGroupViewModel


@{
    ViewBag.Title = "Удаление группы персонажей «" + Model.Name + "»";
}

<h2>@ViewBag.Title</h2>


<h3>Вы действительно хотите удалить группу персонажей?</h3>
<div>
    <dl class="dl-horizontal">

        @if (Model.CharactersCount > 0 || Model.ChildGroupsCount > 0)
        {
            <dt>
                Персонажи в группе
            </dt>
            <dd>
                В группе есть:
                <ul>
                    @if (Model.CharactersCount > 0)
                    {
                        <li>Персонажи: @Model.CharactersCount </li>
                    }
                    @if (Model.ChildGroupsCount > 0)
                    {
                        <li>Группы: @Model.ChildGroupsCount </li>
                    }
                </ul>
                Подробнее в @Html.ActionLink("сетке ролей", "Index", new {Model.ProjectId, Model.CharacterGroupId}, null) этой группы. При удалении дочерние персонажи и группы будут автоматически
                привязаны к группам выше.
            </dd>
        }
        @if (!string.IsNullOrWhiteSpace(Model.Description?.Value))
        {
            <dt>
                Описание группы
            </dt>

            <dd>
                @Html.Raw(Model.Description!.Value.Value)
        </dd>
        }
    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.CharacterGroupId)
        @Html.HiddenFor(model => model.ProjectId)
        <div class="form-actions no-color">
            <input type="submit" value="Удалить" class="btn btn-danger"/>
            |
            @Html.ActionLink("Назад к сетке ролей", "Index", new {@Model.ProjectId}, null)
        </div>
    }
</div>
