@model JoinRpg.Web.Models.HomeViewModel

@{
    ViewBag.Title = ViewBag.IsProduction ?  "JoinRpg.RU" : "Dev.JoinRpg.RU";
}
<div class="panel panel-default well" style="margin-top: 2em;">
    <div class="panel-body">
        <h2 style="margin: 0 0 1em 0;">@ViewBag.Title</h2>
        <div>
            @if (ViewBag.IsProduction)
            {
                @Html.Partial("_IndexProdPartial")
            }
            else
            {
                @Html.Partial("_IndexDevPartial")
            }
        </div>
    </div>
</div>


<h3>Игры</h3>

<div class="row">
    @foreach (var project in Model.ActiveProjects)
    {
        @Html.Partial("ProjectCard", project)
    }
        @if (!Model.HasMoreProjects)
        {
            <div class="col-sm-12" style="text-align: center">
                @Html.ActionLink("Еще игры...", "BrowseGames", "Home", new { @class = "btn" })
                • @Html.ActionLink("Архив...", "GameArchive", "Home", new { @class = "btn" })
            </div>
        }
</div>
