@{ ViewBag.Title = "Поддержка";}
<h1>@ViewBag.Title</h1>

<h3>Справка</h3>
<a href="@Contacts.Docs">Руководство пользователя</a>

<h3>Социальные сети</h3>
<a href="@Contacts.VkGroup"><img style="height: 1em;" src="~/Content/Images/logo-vk.svg" /> Группа Вконтакте</a>
<br /><a href="@Contacts.TelegramChat"><img style="height: 1em;" src="~/Content/Images/logo-telegram.svg" /> Пользовательский чат</a> (техподдержка не отвечает в чате).

<h3>Служба поддержки</h3>
Электронная почта: <a href="mailto:@Contacts.SupportEmail">@Contacts.SupportEmail</a>

<h3>По вопросам организационных взносов (покупки или продажи билетов)</h3>
Электронная почта: <a href="mailto:@Contacts.PaymentsEmail">@Contacts.PaymentsEmail</a>

<h3>Для экстренных вопросов</h3>
Понедельник-пятница, с 10:00 по 17:00 (по Москве): <a href="tel:@Contacts.SupportPhone">@Contacts.SupportPhone</a>
