@model JoinRpg.Web.Models.CheckIn.CheckInIndexViewModel

@{
  ViewBag.Title = "Регистрация";
}

<h2>Регистрация</h2>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.ProjectId)
  @Html.AntiForgeryToken()
  <select 
    class="selectpicker" 
    data-live-search="true" 
    data-live-search-normalize="true" 
    data-size="10" 
    name="claimId"
            >
    @foreach (var item in Model.Claims)
    {
      <option data-tokens="@item.OtherNicks" data-subtext="<br/>@item.NickName (@item.Fullname)" value="@item.ClaimId">
        @item.CharacterName
      </option>
    }
  </select>

  <input type="submit" class="btn btn-success" value="Зарегистрировать"/>
}