@using JoinRpg.Web.Models
@model IEntityWithCommentsViewModel
@{
    AddCommentViewModel addCommentModelTop = new AddCommentViewModel(Model);
    AddCommentViewModel addCommentModelBottom = new AddCommentViewModel(Model);
}

<script type="text/javascript">
    const addCommentBtnIdPrefix = '@(AddCommentViewModel.AddButtonIdTemplate)';
    const addCommentFormIdPrefix = '@(AddCommentViewModel.FormIdTemplate)';

    function toggleCommentEditor(formIndex)
    {
        $('#' + addCommentBtnIdPrefix + formIndex).collapse('toggle');
        $('#' + addCommentFormIdPrefix + formIndex).collapse('toggle');
    }
</script>
<div id="@(addCommentModelTop.AddButtonId)" class="collapse in">
    <button class="btn btn-default" onclick="toggleCommentEditor(@(addCommentModelTop.FormIndex))">Добавить комментарий</button>
</div>
<div id="@(addCommentModelTop.FormId)" class="collapse">
    @Html.Partial("_AddCommentFormPartial", addCommentModelTop)
</div>

<div class="media-list" style="margin-top: 1em;">
    @foreach (var comment in Model.RootComments)
    {
        @Html.Partial("..\\Comments\\_CommentPartial", comment)
    }
</div>

@if (Model.RootComments.Any())
{
    <div id="@(addCommentModelBottom.AddButtonId)" class="collapse in">
        <button class="btn btn-default" onclick="toggleCommentEditor(@(addCommentModelBottom.FormIndex))">Добавить комментарий</button>
    </div>
    <div id="@(addCommentModelBottom.FormId)" class="collapse">
        @Html.Partial("..\\Comments\\_AddCommentFormPartial", addCommentModelBottom)
    </div>
}
