@model JoinRpg.Web.Models.Characters.CharacterViewModel

@{
    var hideClassName = Model.IsPublic ? "" : "world-object-hidden";
}
<div class="@hideClassName">
    <strong>@Html.ActionLink(Model.CharacterName, "Details", "Character", new {Model.ProjectId, Model.CharacterId}, null) </strong>
    @if (Model.Player != null)
    {
        @Html.DisplayFor(model => model, "IPlayerCharacter")
    }
    else if (Model.ActiveClaimsCount > 0)
    {
        @DisplayCount.OfX(Model.ActiveClaimsCount, "заявка", "заявки", "заявок")
    }

    @if (Model.IsAvailable)
    {
        @Html.ActionLink("заявиться", "AddForCharacter", "Claim", new {Model.ProjectId, Model.CharacterId}, null)
        if (Model.IsHot)
        {
            <span class="label label-warning">Горячая роль</span>
        }
    }

    @if (Model.HasEditRolesAccess)
    {
        @Html.Partial("_CharacterEditControls", Model)
    }

    @if (Model.IsFirstCopy)
    {
        <div>@Model.Description</div>
    }
    else
    {
        <span>(описание см. выше)</span>
    }
</div>