@model JoinRpg.Web.Models.CharacterGroupListItemViewModel
<span class="dropdown" style="vertical-align: central">
        <button class="btn btn-default dropdown-toggle btn-sm" style="vertical-align: central" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            <span title="действия" class="glyphicon glyphicon-option-vertical"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">

            <li>
                <a href="@Url.Action("Edit", "GameGroups", new {Model.ProjectId, Model.CharacterGroupId}, null)">
                    <span title="настроить" class="glyphicon glyphicon-wrench"></span> настроить
                </a>
            </li>
            <li>
                @Html.ActionLink("подписка", "EditSubscribe", "GameGroups", new { Model.ProjectId, Model.CharacterGroupId }, null)
            </li>
            <li>
               @Html.ActionLink("список заявок", "ListForGroup", "Claim", new {Model.ProjectId, Model.CharacterGroupId}, null)
            </li>
            @if (!Model.IsRoot)
            {
                var disabled = Model.TotalActiveClaims != 0 ? "disabled" : "";
                var uri = Model.TotalActiveClaims != 0 ? "#" : Url.Action("Delete", "GameGroups", new {Model.ProjectId, Model.CharacterGroupId}, null);
                <li class="@disabled">
                    <a href="@uri">
                    <span title="удалить" class="glyphicon glyphicon-trash"></span>удалить
                    </a>
                </li>
            }
            @if (!Model.FirstInGroup && !Model.LastInGroup && !Model.IsRoot)
            {
                var moveParameters = new
                {
                    Model.ProjectId,
                    Model.CharacterGroupId,
                    parentCharacterGroupId = Model.Path.Last().CharacterGroupId,
                    currentRootGroupId = Model.RootGroupId
                };
                <li class="dropdown-header">Переместить</li>
                if (!Model.FirstInGroup)
                {
                    <li><a href="@Url.Action("MoveUp", "GameGroups", moveParameters, null)">..выше</a></li>
                }
                if (!Model.LastInGroup)
                {
                    <li><a href="@Url.Action("MoveDown", "GameGroups", moveParameters, null)">..ниже</a></li>
                }
            }
            <li class="dropdown-header">Добавить</li>
            <li>
                <a href="@Url.Action("Create", "Character", new {Model.ProjectId, Model.CharacterGroupId}, null)">..персонажа</a>
            </li>
            <li>@Html.ActionLink("..подгруппу", "AddGroup", new {Model.ProjectId, Model.CharacterGroupId}, null)</li>
        </ul>
    </span>