@using JoinRpg.Helpers
@using JoinRpg.Web.App_Code
@using JoinRpg.Web.Helpers
@using JoinRpg.Web.Models
@model JoinRpg.Web.Models.CharacterGroups.AddCharacterGroupViewModel

@{
  ViewBag.Title = "Добавление группы персонажей в игру " + Model.ProjectName;
}

<h2>@ViewBag.Title</h2>
@Html.Partial("_GroupHelpTextPartial")

@Html.ValidationSummary(true, "", new { @class = "text-danger" })

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.ProjectId)
    
    <div class="form-horizontal">
        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new {htmlAttributes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(model => model.Name, "", new {@class = "text-danger"})
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ParentCharacterGroupIds, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.MagicSelectParent(model => model.ParentCharacterGroupIds)
                    @Html.ValidationMessageFor(model => model.ParentCharacterGroupIds, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IsPublic, htmlAttributes: new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                    @Html.EditorFor(model => model.IsPublic)
                    @Html.DescriptionFor(model => model.IsPublic)
                    @Html.ValidationMessageFor(model => model.IsPublic, "", new {@class = "text-danger"})
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Description, htmlAttributes: new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                    @Html.EditorFor(model => model.Description)
                    @Html.DescriptionFor(model => model.Description)
                    @Html.ValidationMessageFor(model => model.Description, "", new {@class = "text-danger"})
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.HaveDirectSlots, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.HaveDirectSlots)
                @Html.DescriptionFor(model => model.HaveDirectSlots)
                @Html.ValidationMessageFor(model => model.HaveDirectSlots, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DirectSlots, htmlAttributes: new {@class = "control-label col-md-2"})
            <div class="col-md-3">
                @Html.EditorFor(model => model.DirectSlots, new {htmlAttributes = new {@class = "form-control"}})
                @Html.DescriptionFor(model => model.DirectSlots)
                @Html.ValidationMessageFor(model => model.DirectSlots, "", new {@class = "text-danger"})
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ResponsibleMasterId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-6">
                @Html.DropDownListFor(model => model.ResponsibleMasterId, Model.Masters.Select(project => new SelectListItem() { Text = project.Name, Value = project.Id }), new { @class = "form-control" })
                @Html.DescriptionFor(model => model.ResponsibleMasterId)
                @Html.ValidationMessageFor(model => model.ResponsibleMasterId, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Создать группу персонажей" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Назад к сетке ролей", "Index", new { @Model.ProjectId }, null)
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
