@using JoinRpg.DataModel
@using JoinRpg.Domain
@using JoinRpg.Web.Helpers
@model CharacterGroup


@{
  ViewBag.Title = "Удаление группы персонажей «" + Model.CharacterGroupName + "» из игры " + Model.Project.ProjectName;
}

<h2>@ViewBag.Title</h2>


<h3>Вы действительно хотите удалить группу персонажей?</h3>
<div>
    <h4>@Model.CharacterGroupName</h4>
    <hr/>
@if (Model.HasActiveClaims())
{
    <p>Удалить группу,, пока в ней есть активные заявки, нельзя. Отклоните или перенаправьте заявки </p>
}
else
{
    <dl class="dl-horizontal">

        @if (Model.Characters.Any() || Model.ChildGroups.Any())
        {
            <dt>
                Персонажи в группе
            </dt>
            <dd>
                В группе есть:
                <ul>
                    @if (Model.Characters.Any())
                    {
                        <li>Персонажи: @Model.Characters.Count() </li>
                    }
                    @if (Model.ChildGroups.Any())
                    {
                        <li>Группы: @Model.ChildGroups.Count() </li>
                    }
                </ul>
                Подробнее в @Html.ActionLink("сетке ролей", "Index", new {Model.ProjectId, Model.CharacterGroupId}, null) этой группы. При удалении дочерние персонажи и группы будут автоматически
                привязаны к группам выше.
            </dd>
        }

        <dt>
            @Html.DisplayNameFor(model => model.IsPublic)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsPublic)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Model.Description.ToHtmlString()
        </dd>
    </dl>

    using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.CharacterGroupId)
        @Html.HiddenFor(model => model.ProjectId)
        <div class="form-actions no-color">
            <input type="submit" value="Удалить" class="btn btn-default"/>
            <br/>
            @Html.ActionLink("Назад к сетке ролей", "Index", new {@Model.ProjectId}, null)
        </div>
    }
}
</div>
