@model JoinRpg.Web.Models.CharacterGroupListViewModel

@{
    ViewBag.Title = "Ролевка " + Model.ProjectName;
}

<h2>@ViewBag.Title</h2>


<p>
    @Html.ActionLink("Главная страница игры", "Details", "Game", new {Model.ProjectId}, null)
</p>

<dl>

    @foreach (var item in Model.Groups)
    {

      var totalSpan = new string('→', Math.Max(item.DeepLevel, 0));
    
        <dt>
        <span>@totalSpan</span>
        @Html.ActionLink(item.Name, "Index", new {Model.ProjectId, item.CharacterGroupId}, null)
            @if (!item.FirstCopy)
            {
                <span>см. выше</span>
            }
    </dt>
        <dd>
            @if (item.FirstCopy)
            {
            <span>
                @Html.ActionLink("Редактировать свойства", "Edit", new { Model.ProjectId, item.CharacterGroupId }, null) |
                @Html.ActionLink("Удалить", "Delete", new { Model.ProjectId, item.CharacterGroupId }, null) |
                Добавить
                @Html.ActionLink("персонажа", "AddCharacter", new { Model.ProjectId, item.CharacterGroupId }, null) |
                @Html.ActionLink("подлокацию", "AddGroup", new { Model.ProjectId, item.CharacterGroupId }, null)
                
                <ul>
                    @foreach (var character in item.Characters)
                    {
                        <li>@character.CharacterName @if (character.IsFirstCopy)
                                                     {<div>@character.Description</div>} else {<span>(см. выше)</span>}</li>
                    }
                </ul>

                @if (item.AvaiableDirectSlots > 0)
                {
                    <span>
                    <br />
                    Непрописанных
                    персонажей в
                    локации:
                    @Html.DisplayFor(modelItem => item.AvaiableDirectSlots)
                </span>
                }
                
                @item.Description
            </span>
            }

        </dd>
      }

</dl>



