@using JoinRpg.Web.Models
@model GameRolesViewModel

@{
    ViewBag.Title = "Сетка ролей " + Model.ProjectName + ": " + Model.Data.ActiveGroups.Single(g => g.DeepLevel == 0).Name;
}

    @foreach (var item in Model.ShowEditControls ? Model.Data.ActiveGroups :  Model.Data.PublicGroups)
    {
        var hideClassName = !item.IsPublic ? "world-object-hidden" : "";
        <div style="margin-left: @(item.DeepLevel)em" class="@hideClassName">

            @{
                var groupLink = Html.ActionLink(item.Name, "Index", new {Model.ProjectId, item.CharacterGroupId}, null);
                var editControls = Model.ShowEditControls ? Html.Partial("_GroupEditControls", item) : MvcHtmlString.Empty;
                var pathString = string.Join("→", item.Path.Skip(1).Select(p => p.Name)) + "→" + item.Name;
            }
            <div>@switch (item.DeepLevel)
                 {
                     case 2:
                         <span class="h3" title="@pathString">@groupLink</span>
                         @editControls
                         break;
                     case 1:
                         <span class="h2" title="@pathString">@groupLink</span>
                         @editControls
                         break;
                     case 0:
                         <span class="h2">
                             @if (!item.IsRootGroup)
                             {
                                 <text>Сетка ролей: </text>
                                 @item.Name
                             }
                             else
                             {<text>Сетка ролей</text>
                             }
                         </span>
                         @editControls
                         break;
                     default:
                         <span class="h4" title="@pathString">@groupLink</span>
                         @editControls
                         break;
                 }
            </div>

            @if (!item.FirstCopy)
            {
                <span>см. выше</span>
            }

            @if (item.FirstCopy)
            {
            <div>

                @item.Description
                <ul>
                    @foreach (var character in Model.ShowEditControls ? item.ActiveCharacters : item.PublicCharacters)
                    {
                    <li>
                        @Html.Partial("_CharacterPartial", character)
                    </li>
                    }
                </ul>
            </div>
            }
            <div>
                @if (item.AvaiableDirectSlots > 0)
                {
                    <strong>+@item.AvaiableDirectSlots вакансий / </strong>
                }
                else if (item.AvaiableDirectSlots < 0)
                {
                    <strong>есть вакансии /  </strong>
                }

                @if (item.ActiveClaimsCount > 0 || item.AvaiableDirectSlots != 0)
                {
                    <strong> @DisplayCount.OfX(item.ActiveClaimsCount, "заявка", "заявки", "заявок")</strong>
                }
                @if (item.IsAcceptingClaims)
                {
                    @Html.ActionLink(
                        "заявиться",
                        "AddForGroup",
                        "Claim",
                        new {Model.ProjectId, item.CharacterGroupId},
                        new {@class = "btn btn-default btn-xs"})
                }

            </div>

        </div>
    }
