@model JoinRpg.Web.Models.CharacterGroupListViewModel

@{
    ViewBag.Title = "Ролевка " + Model.ProjectName;
}

<h2>@ViewBag.Title</h2>


<p>
    @Html.ActionLink("Главная страница игры", "Details", "Game", new {Model.ProjectId}, null)
</p>

    @foreach (var item in Model.Groups)
    {
        <div style="margin-left: @(item.DeepLevel)em">
            @if (item.DeepLevel > 2)
            {
            @* Get rid of code duplication here*@
            <h4 title="@(string.Join("→", item.Path) + item.Name)">@Html.ActionLink(item.Name, "Index", new { Model.ProjectId, item.CharacterGroupId }, null)</h4>
            }
            else if (item.DeepLevel == 2)
            {
              @* Get rid of code duplication here*@
                <h3 title="@(string.Join("→", item.Path) + item.Name)">@Html.ActionLink(item.Name, "Index", new {Model.ProjectId, item.CharacterGroupId}, null)</h3>
            }
            else
            {
                <h2 title="@(string.Join("→", item.Path) + item.Name)">@Html.ActionLink(item.Name, "Index", new { Model.ProjectId, item.CharacterGroupId }, null)</h2>
            }

            @if (!item.FirstCopy)
            {
                <span>см. выше</span>
            }

            @if (item.FirstCopy)
            {
                <span>
@if (Model.ShowEditControls)
{
    <span>
    @Html.ActionLink("Редактировать", "Edit", new {Model.ProjectId, item.CharacterGroupId}, null) |
    @Html.ActionLink("Удалить", "Delete", new {Model.ProjectId, item.CharacterGroupId}, null) |
    Добавить
    @Html.ActionLink("персонажа", "AddCharacter", new {Model.ProjectId, item.CharacterGroupId}, null) |
    @Html.ActionLink("подлокацию", "AddGroup", new {Model.ProjectId, item.CharacterGroupId}, null)
</span>
}
            @item.Description
            <ul>
                @foreach (var character in item.Characters)
                {
                    <li>
                        <strong>@character.CharacterName </strong> 
                        @if (character.IsAvailable)
                        {
                            @Html.ActionLink("заявиться", "Add", "Claim", new {Model.ProjectId, character.CharacterId}, null);
                        }
                        @if (character.IsFirstCopy)
                        {<div>@character.Description</div>}
                        else
                        {<span>(см. выше)</span>}
                </li>
                }
            </ul>

            @if (item.AvaiableDirectSlots > 0)
            {
            <div>
                <strong>+@item.AvaiableDirectSlots вакансий</strong>
                @Html.ActionLink("заявиться в локацию", "Add", "Claim", new { Model.ProjectId, item.CharacterGroupId }, null);

            </div>
            }


        </span>
            }
        </div>
    }
