@using JoinRpg.Web.Models
@model GameRolesViewModel

@{
    ViewBag.Title = "Сетка ролей " + Model.ProjectName;
}

<h2>@ViewBag.Title</h2>

    @foreach (var item in Model.ShowEditControls ? Model.Data.ActiveGroups :  Model.Data.PublicGroups)
    {
        <div style="margin-left: @(item.DeepLevel)em">
            @if (item.DeepLevel > 2)
            {
            @* Get rid of code duplication here*@
            <h4 title="@(string.Join("→", item.Path) + item.Name)">@Html.ActionLink(item.Name, "Index", new { Model.ProjectId, item.CharacterGroupId }, null)</h4>
            }
            else if (item.DeepLevel == 2)
            {
              @* Get rid of code duplication here*@
                <h3 title="@(string.Join("→", item.Path) + item.Name)">@Html.ActionLink(item.Name, "Index", new {Model.ProjectId, item.CharacterGroupId}, null)</h3>
            }
            else
            {
                <h2 title="@(string.Join("→", item.Path) + item.Name)">@Html.ActionLink(item.Name, "Index", new { Model.ProjectId, item.CharacterGroupId }, null)</h2>
            }

            @if (!item.FirstCopy)
            {
                <span>см. выше</span>
            }

            @if (item.FirstCopy)
            {
                <div>
@if (Model.ShowEditControls)
{
    <span>
        @Html.ActionLink("Редактировать", "Edit", new {Model.ProjectId, item.CharacterGroupId}, null) |
@if (!item.IsRoot)
{
    <span>
    @Html.ActionLink("Удалить", "Delete", new {Model.ProjectId, item.CharacterGroupId}, null)
    |
</span>
}
    Добавить
    @Html.ActionLink("персонажа", "Create", "Character", new {Model.ProjectId, item.CharacterGroupId}, null) |
    @Html.ActionLink("подлокацию", "AddGroup", new {Model.ProjectId, item.CharacterGroupId}, null)
</span>
}
            @item.Description
            <ul>
                @foreach (var character in Model.ShowEditControls ? item.Characters : item.PublicCharacters)
                {
                    <li>
                        <strong>@Html.ActionLink(character.CharacterName, "Details", "Character", new { Model.ProjectId, character.CharacterId }, null) </strong> 
                        @if (character.IsAvailable)
                        {
                            @Html.ActionLink("заявиться", "AddForCharacter", "Claim", new {Model.ProjectId, character.CharacterId}, null)
                        }
                        @if (character.IsFirstCopy)
                        {<div>@character.Description</div>}
                        else
                        {<span>(см. выше)</span>}
                </li>
                }
            </ul>

            @if (item. AvaiableDirectSlots != 0)
            {
                <div>
                    @if (item.AvaiableDirectSlots > 0)
                    {
                        <strong>+@item.AvaiableDirectSlots вакансий</strong>
                    }
                    @Html.ActionLink("заявиться в локацию", "AddForGroup", "Claim", new {Model.ProjectId, item.CharacterGroupId}, null)

                </div>
            }


        </div>
            }
        </div>
    }
