@using JoinRpg.Web.Models
@using JoinRpg.Web.Models.Characters
@model GameRolesViewModel

@helper GetPathString(CharacterGroupListItemViewModel item)
{
    @(string.Join("→", item.Path.Skip(1).Select(p => p.Name)) + "→" + item.Name)
}

@{
  ViewBag.Title = "Отчет по заявкам";
}

<h2>@ViewBag.Title</h2>
<table class="table table-bordered">
    <tr>
        <th rowspan="2">Группа</th>
        <th colspan="4">Персонажей</th>
        <th colspan="3">Заявок</th>
    </tr>
    <tr>
        <th>Всего</th>
        <th>NPC</th>
        <th>Занято</th>
        <th>Свободно</th>
        <th>Всего</th>
        <th>Принято</th>
        <th>Обсуждается</th>
    </tr>
    @foreach (var item in Model.Data)
    {
        if (ViewBag.MaxDeep != null && item.DeepLevel > ViewBag.MaxDeep)
        {
            continue;
        }
        var hideClassName = !item.IsPublic ? "world-object-hidden" : "";
        <tr class="@hideClassName">
            <td style="text-overflow: ellipsis">
                @(new String('→', item.DeepLevel))
                @if (item.DeepLevel == 0)
                {
                    <text><b>@item.Name</b> (итого)</text>
                }
                else if (item.ChildGroups.Any())
                {
                    @Html.ActionLink(item.Name, "Report", "GameGroups", new {Model.ProjectId, item.CharacterGroupId}, null)
                }
                else
                {
                    @item.Name
                }
                @Html.Partial("_GroupEditControls", item)
            </td>

            <td style="text-align: right">
                @Html.ActionLink(item.TotalCharacters.ToString(), "Index", "GameGroups", new {Model.ProjectId, item.CharacterGroupId}, null)
            </td>
            <td style="text-align: right">@item.TotalNpcCharacters</td>
            <td style="text-align: right">@item.TotalCharactersWithPlayers</td>
            <td style="text-align: right">@item.TotalSlots
                @if (item.AvaiableDirectSlots == -1)
                {
                    <span title="Разрешены неограниченные прямые заявки">∞</span>
                }
                else if (item.Unlimited)
                {
                <span title="В подгруппу разрешены неограниченные прямые заявки">+</span>
                }
            </td>
            <td style="text-align: right">
                @Html.ActionLink(item.TotalActiveClaims.ToString(), "ListForGroup", "ClaimList", new {Model.ProjectId, item.CharacterGroupId}, null)
            </td>
            <td style="text-align: right">
                @item.TotalAcceptedClaims
            </td>
            <td style="text-align: right">
                @Html.ActionLink(item.TotalDiscussedClaims.ToString(), "DiscussingForGroup", "ClaimList", new { Model.ProjectId, item.CharacterGroupId }, null)
            </td>

        </tr>
    }
</table>