@using JoinRpg.Web.Models.FieldSetup
@using JetBrains.Annotations
@model FieldNavigationModel

@helper NavigationItem(
    FieldNavigationPage page,
    string linkText,
    [AspMvcAction] string actionName,
    [AspMvcController] string controllerName,
    object args = null,
    string title = null,
    bool enabled = true)
{
    args = args ?? new { Model.ProjectId };
    var titleStr = title == null ? "" : string.Format("title=\"{0}\"", title);
    var linkStr = new HtmlString(linkText);

    if (Model.Page == page)
    {
        <li role="presentation" class="active" @titleStr>
            <a>@linkStr</a>
        </li>
    }
    else if (enabled)
    {
        <li role="presentation" @titleStr>
            <a href="@Url.Action(actionName, controllerName, (object) args, null)">
                @linkStr
            </a>
        </li>
    }
    else
    {
        <li role="presentation" class="disabled" @titleStr>
            <a>@linkStr</a>
        </li>
    }
}

<ul class="nav nav-tabs">
    @NavigationItem(FieldNavigationPage.ActiveFieldsList, "Активные", "Index", "GameField")
    @NavigationItem(FieldNavigationPage.DeletedFieldsList,
        "Удаленные",
        "DeletedList",
        "GameField",
        title:"Только поля, использованные хотя бы один раз")
    @NavigationItem(FieldNavigationPage.FieldSettings,
        "Настройки полей",
        "Settings",
        "GameField",
        enabled: Model.CanEditFields)
    @NavigationItem(FieldNavigationPage.AddField,
        "<span class=\"glyphicon glyphicon-plus\"></span>Добавить новое поле",
        "Create",
        "GameField",
        enabled: Model.CanEditFields)
</ul>

<h3>@ViewBag.Title</h3>
