@using JoinRpg.Web.App_Code
@model JoinRpg.Web.Models.GameFieldDropdownValueCreateViewModel
@{
  ViewBag.Title = "Новое значение поля «" + Model.FieldName + "»";
}
<h2>@ViewBag.Title</h2>
<hr />
@using (Html.BeginForm("CreateValue", "GameField", FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.ProjectId)
    @Html.HiddenFor(model => model.ProjectFieldId)
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="form-group">
        @Html.LabelFor(model => model.Label, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Label, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Label, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
        </div>
    </div>
      
    <div class="form-group">
        @Html.LabelFor(model => model.MasterDescription, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.MasterDescription, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.MasterDescription, "", new { @class = "text-danger" })
            @Html.DescriptionFor(model => model.MasterDescription)
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Price, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Price, new { htmlAttributes = new { @class = "form-control", @style = "width: 150px; text-align: right;" } })
            @Html.DescriptionFor(model => model.Price)
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.ProgrammaticValue, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.ProgrammaticValue, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.ProgrammaticValue, "", new { @class = "text-danger" })
            @Html.DescriptionFor(model => model.ProgrammaticValue)
        </div>
    </div>

    <div class="form-group">
        <hr />
        <div class="col-md-offset-2 col-md-10">
            <button type="submit" class="btn btn-success">Добавить</button>
            @Html.ActionLink("Назад к списку значений", "Edit", new { Model.ProjectFieldId, Model.ProjectId }, new {@class = "btn btn-default"})
        </div>
    </div>
}