@model JoinRpg.Web.Models.GameFieldDropdownValueEditViewModel

<h3>Действительно удалить?</h3>
<div>
    <h4>GameFieldDropdownValueEditViewModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Label)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Label)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProjectId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProjectId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProjectFieldId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProjectFieldId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsActive)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsActive)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProjectFieldDropdownValueId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProjectFieldDropdownValueId)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Удалить" class="btn btn-default" /> |

            
                @Html.ActionLink("Назад к списку значений", "Edit", new { Model.ProjectFieldId, Model.ProjectId })
        </div>
    }
</div>
