@model JoinRpg.DataModel.ProjectField

@{
    ViewBag.Title = "Удалить поле персонажа «" + Model.FieldName +"»";
}

<h2>@ViewBag.Title</h2>

<h3>Вы действительно хотите удалить?</h3>
<div>
    <h4>@Model.FieldName</h4>
    <hr/> @if (Model.WasEverUsed)
          {
            <div class="alert alert-info">
              У некоторых персонажей это поле уже выставлено в какое-то значение.
              Чтобы предотвратить потерю данных, поле будет спрятано, а не удалено
            </div>
          }
          else
          {
            <div class="alert-danger alert">Поле будет удалено безвозратно.</div>
          }


    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.ProjectId)
        @Html.HiddenFor(model => model.ProjectFieldId)
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-actions no-color">
            <input type="submit" value="Удалить" class="btn btn-danger"/> |
            @Html.ActionLink("Назад к списку", "Index", new {Model.ProjectId})
        </div>
    }
</div>
