@using JoinRpg.Web.App_Code
@using JoinRpg.Web.Models
@model IEnumerable<GameFieldEditViewModel>

@helper ShowFieldRow(GameFieldEditViewModel item)
{
  <tr>
    <td>
      <b class="@(item.IsActive ? "" : "deleted")">@Html.DisplayFor(modelItem => item.Name)</b>
      @Html.DisplayFor(modelItem => item.MandatoryStatus)
      <br/>
      @Html.DisplayNameFor(model => model.FieldViewType)
      @Html.DisplayFor(modelItem => item.FieldViewType)
      @Html.DisplayNameFor(model => model.FieldBoundTo)
      @Html.DisplayFor(model => item.FieldBoundTo)
    </td>
    <td>
      @if (item.IsPublic)
      {
        <span class="label label-primary">Публичное</span>
      }
      else if (item.CanPlayerView)
      {
        <span class="label label-info">Игроку</span>
      }
      else
      {
        <span class="label label-default">Только мастерам</span>
      }
      <br/>
      @if (item.CanPlayerEdit)
      {
        <span class="label label-warning">Игрок может менять</span>
      }
    </td>
    <td>
      @item.DescriptionDisplay
    </td>
    <td>
      @if (item.HasValueList)
      {
        <ul>
          @foreach (var value in item.DropdownValues)
          {
            <li>
              @if (value.CharacterGroupId != null)
              {
                @Html.ActionLink(value.Label, "ByGroup", "CharacterList", new {item.ProjectId, value.CharacterGroupId}, null)
              }
              else
              {
                @value.Label
              }
            </li>
          }
          @if (item.MandatoryStatus != MandatoryStatusViewType.Optional && item.IsActive)
          {
            if (item.FieldBoundTo == FieldBoundToViewModel.Character)
            {
              <li>(<i>@Html.ActionLink("Значение не проставлено", "ByUnAssignedField", "CharacterList",
                        new {item.ProjectFieldId, item.ProjectId}, null)</i>)</li>
            }
            else
            {
              <li>(<i>@Html.ActionLink("Значение не проставлено", "ByUnAssignedField", "ClaimList",
                        new {item.ProjectFieldId, item.ProjectId}, null)</i>)</li>
            }
          }
        </ul>
      }
      else if (item.FieldViewType != ProjectFieldViewType.Header)
      {
        if (!item.IsActive)
        {
          switch (item.FieldBoundTo)
          {
            case FieldBoundToViewModel.Character:
              @Html.ActionLink("Отчет (проставленные)", "ByAssignedField", "CharacterList",
                new {item.ProjectFieldId, item.ProjectId}, null)
              break;
            case FieldBoundToViewModel.Claim:
              @Html.ActionLink("Отчет (проставленные)", "ByAssignedField", "ClaimList",
                new {item.ProjectFieldId, item.ProjectId}, null)
              break;
            default:
              throw new ArgumentOutOfRangeException();
          }
        }
        else
        {
          if (item.FieldBoundTo == FieldBoundToViewModel.Character)
          {
            <i>@Html.ActionLink("Отчет по непроставленным", "ByUnAssignedField", "CharacterList",
                 new {item.ProjectFieldId, item.ProjectId}, null)</i>
          }
          else
          {
            <i>@Html.ActionLink("Отчет по непроставленным", "ByUnAssignedField", "ClaimList",
                 new {item.ProjectFieldId, item.ProjectId}, null)</i>
          }
        }
      }
    </td>
    <td>

      @if (item.CanEditFields)
      {
        if (item.IsActive)
        {
          <span style="white-space: nowrap">
            <a href="@Url.Action("Edit", new {item.ProjectFieldId, item.ProjectId})"
               title="Изменить">
              <span class="glyphicon glyphicon-pencil"></span>
            </a><a href="@Url.Action("Delete", new {item.ProjectFieldId, item.ProjectId})"
                   title="Удалить">
              <span class="glyphicon glyphicon-trash"></span>

            </a><a href="#"
                   data-toggle="modal" data-target="#fastMoveModal"
                   data-element="@item.ProjectFieldId" title="Переместить">
              <span class="glyphicon glyphicon-move"></span>

            </a>
          </span>
        }
        else
        {
          @Html.ActionLink("Восстановить", "Edit", new {item.ProjectFieldId, item.ProjectId})
        }
        @Html.MoveControl(model => item, "Move")
      }
    </td>
  </tr>
}

@{
  var firstItem = Model.FirstOrDefault();
}
@if (firstItem != null)
{
  <table class="table" style="margin-top: 1em">
    <tr>
      <th>
        <b>Поле</b>
      </th>
      <th>
        <b>Видимость</b>
      </th>
      <th>
        @Html.DisplayNameFor(model => model.DescriptionDisplay)
      </th>
      <th></th>
      <th></th>
    </tr>

    @foreach (var item in Model)
    {
      @ShowFieldRow(item)
    }

  </table>


  <div class="modal fade modaldialogforid" id="fastMoveModal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        @using (Html.BeginForm("MoveFast", "GameField"))
        {
          <input type="hidden" name="ProjectId" id="projectId" value="@firstItem.ProjectId" />
          <input type="hidden" name="ProjectFieldId" id="entityId" value="0" />
          @Html.AntiForgeryToken()
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Переместить</h4>
          </div>

          <div class="modal-body">
            <div class="form-horizontal">
              <div class="form-group">
                <label class="col-md-2">Поставить после поля:</label>
                <div class="col-md-10">
                  <select name="afterFieldId" id="afterFieldId" class="form-control">
                    <option value="-1" selected="selected">Поставить в начало</option>
                    @foreach (var field in Model)
                    {
                      <option value="@field.ProjectFieldId">@field.Name</option>
                    }
                  </select>
                </div>
              </div>
            </div>
          </div>

          <div class="modal-footer">
            <button type="submit" class="btn btn-success">Переместить</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>

          </div>
        }
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div>
}

