@model JoinRpg.Web.Models.GameFieldListViewModel

@{
    ViewBag.Title = "Поля персонажа";
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Добавить новое поле персонажа", "Create", new {Model.ProjectId})
</p>
@{
    var firstItem = Model.Items.FirstOrDefault();
}
@if (firstItem != null)
{
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => firstItem.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => firstItem.IsPublic)
            </th>
            <th>
                @Html.DisplayNameFor(model => firstItem.CanPlayerView)
            </th>
            <th>
                @Html.DisplayNameFor(model => firstItem.CanPlayerEdit)
            </th>
            <th>
                @Html.DisplayNameFor(model => firstItem.FieldHint)
            </th>
            <th>
                
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model.Items)
        {
            <tr>
                <td class="@(item.IsActive ? "" : "deleted")">
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsPublic)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CanPlayerView)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CanPlayerEdit)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FieldHint)
                </td>
                <td>
                    @if (!item.IsActive)
                    {
                        <span>удалено</span>
                    }
                </td>
                <td>
                    @{
                        if (item.IsActive)
                        {
                            @Html.ActionLink("Изменить", "Edit", new {item.ProjectCharacterFieldId, item.ProjectId})<text> | </text>
                            @Html.ActionLink("Удалить", "Delete", new {item.ProjectCharacterFieldId, item.ProjectId})
                        }
                        else
                        {
                            @Html.ActionLink("Восстановить", "Edit", new {item.ProjectCharacterFieldId, item.ProjectId})
                        }
                        var moveParameters = new
                        {
                            item.ProjectCharacterFieldId, Model.ProjectId,
                        };
                        if (!item.First)
                        {
                            <a href="@Url.Action("MoveUp", moveParameters)"><span title="переместить выше" class="glyphicon glyphicon-arrow-up"></span></a>
                        }
                        if (!item.Last)
                        {
                            <a href="@Url.Action("MoveDown", moveParameters)"><span title="переместить ниже" class="glyphicon glyphicon-arrow-down"></span></a>
                        }
                    }
                </td>
            </tr>
        }

    </table>
}