@model IEnumerable<JoinRpg.Web.Models.GameFieldDropdownValueListItemViewModel>

<table class="table">
    <tr>
        <th> 
            @Html.DisplayNameFor(model => model.Label)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsActive)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td class="@(item.IsActive ? "" : "deleted")">
            
            @Html.DisplayFor(modelItem => item.Label)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsActive)
        </td>
        <td>            
    @Html.ActionLink("изменить", "EditValue", new {item.ProjectCharacterFieldDropdownValueId, item.ProjectId, item.ProjectCharacterFieldId}) |
    @Html.ActionLink("удалить", "DeleteValue", new {item.ProjectCharacterFieldDropdownValueId, item.ProjectId, item.ProjectCharacterFieldId})
        </td>
    </tr>
}

</table>
