@model IEnumerable<JoinRpg.Web.Models.GameFieldDropdownValueListItemViewModel>

<table class="table">
    <tr>
        <th> 
            @Html.DisplayNameFor(model => model.Label)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td class="@(item.IsActive ? "" : "deleted")">

            @Html.DisplayFor(modelItem => item.Label)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @if (item.IsActive)
            {
                @Html.ActionLink("изменить", "EditValue", new {item.ProjectFieldDropdownValueId, item.ProjectId, item.ProjectFieldId})
                <br/>
                @Html.ActionLink("удалить", "DeleteValue", new {item.ProjectFieldDropdownValueId, item.ProjectId, item.ProjectFieldId})
            }
            else
            {
                @Html.ActionLink("восстановить", "EditValue", new {item.ProjectFieldDropdownValueId, item.ProjectId, item.ProjectFieldId})
            }
        </td>
    </tr>
}

</table>
