@model IEnumerable<JoinRpg.Web.Models.GameFieldDropdownValueListItemViewModel>
@using JoinRpg.Web.App_Code

<script type="text/javascript">
</script>

<table class="table">
    <tr>
        <th style="width: 20%;"> 
            @Html.DisplayNameFor(model => model.Label)
        </th>
        <th class="price-table" style="width: 15%;">
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th style="width: 45%;">
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th style="width: 20%;"></th>
    </tr>

@foreach (var item in Model)
{
    <tr>
        <td class="@(item.IsActive ? "" : "deleted")">
            @Html.DisplayFor(modelItem => item.Label)
        </td>
        <td class="price-table">
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            <div class="btn-group btn-group-sm" style="display: inline-block;">
                @if (item.IsActive)
                {
                    <a title="Изменить" href="@Url.Action("EditValue", new { item.ProjectFieldDropdownValueId, item.ProjectId, item.ProjectFieldId })"
                       class="btn btn-default"><i class="glyphicon glyphicon-pencil"></i></a>
                    <a title="Удалить" href="@Url.Action("DeleteValue", new { item.ProjectFieldDropdownValueId, item.ProjectId, item.ProjectFieldId })"
                       class="btn btn-warning"><i class="glyphicon glyphicon-trash"></i></a>
                }
                else
                {
                    <a title="Восстановить" href="@Url.Action("EditValue", new { item.ProjectFieldDropdownValueId, item.ProjectId, item.ProjectFieldId })"
                       class="btn btn-default"><i class="glyphicon glyphicon-undo"></i></a>
                }
            </div>
            @Html.MoveControl(model => item, "MoveValue", "GameField", item.ProjectFieldId)
        </td>
    </tr>
}

</table>
