@using JoinRpg.Helpers
@using JoinRpg.Web.Models.Plot
@using JoinRpg.Web.Plots
@model PlotFolderFullListViewModel

@{
    ViewBag.Title = "Сюжеты " + Model.ProjectName;
}

<h2>@ViewBag.Title</h2>

@foreach (var item in Model.Folders)
{
  
    if (Model.InWorkOnly && !item.HasWorkTodo)
    {
        continue;
    }
    var elements = item.Elements.Where(e => !Model.InWorkOnly || e.HasWorkTodo).Select(x => x.PlotText).ToArray();

    <div style="page-break-inside: avoid">
        <h2>@item.PlotFolderMasterTitle</h2>
        <p>@CountHelper.DisplayCount(item.ElementsCount, "вводная", "вводные", "вводных")</p>
        @if (!string.IsNullOrWhiteSpace(item.TodoField) && item.HasEditAccess)
        {
        <p><b>Доделать</b>: @item.TodoField</p>
        }

        @*TODO: Переключиться на тот же контрол показа вводных, что и в обычном просмотре сюжета, а тот использовать только для персонажей*@

        <p>@Html.DisplayFor(modelItem => item.Summary)</p>
        <component type="typeof(PlotElementsView)"
                   param-PlotTexts="@elements"
                   param-ShowEditControls="@Model.HasEditAccess"
                   render-mode="Static" />
    </div>
}
