@using JoinRpg.Helpers
@using JoinRpg.Web.Models.Plot
@using JoinRpg.Web.Plots
@model PlotFolderFullListViewModel

@{
    ViewBag.Title = "Сюжеты " + Model.ProjectName;
}

<h2>@ViewBag.Title</h2>

@foreach (var item in Model.Folders)
{

    var elements = item.Elements.Where(e => !Model.InWorkOnly || e.Status != PlotStatus.Completed).ToArray();

    <div style="page-break-inside: avoid">
        <h2>@item.PlotFolderMasterTitle</h2>
        <p>@CountHelper.DisplayCount(item.ElementsCount, "вводная", "вводные", "вводных")</p>
        @if (!string.IsNullOrWhiteSpace(item.TodoField) && item.HasEditAccess)
        {
            <p><b>Доделать</b>: @item.TodoField</p>
        }

        <p>@Html.DisplayFor(modelItem => item.Summary)</p>
        @foreach (var e in elements)
        {
            @await Html.PartialAsync("../Plot/EditElementPartial", e)
        }
    </div>
}
