@using JoinRpg.Web.Models.Plot
@model PlotFolderFullListViewModel

@{
    ViewBag.Title = "Сюжеты " + Model.ProjectName;
}

<h2>@ViewBag.Title</h2>

@foreach (var item in Model.Folders)
{
    if (Model.InWorkOnly && !item.HasWorkTodo)
    {
        continue;
    }
    <div style="page-break-inside: avoid">
        <h2>@item.PlotFolderMasterTitle</h2>
        <p>@Html.DisplayCount_OfX(item.ElementsCount, "вводная", "вводные", "вводных")</p>
        @if (!string.IsNullOrWhiteSpace(item.TodoField) && item.HasEditAccess)
        {
        <p><b>Доделать</b>: @item.TodoField</p>
        }


        <p>@Html.DisplayFor(modelItem => item.Summary)</p>
        @foreach (var plot in item.Elements.Where(e => !Model.InWorkOnly  || e.HasWorkTodo))
        {
            @await Html.PartialAsync("..//Plot//ShowElementPartial", plot)
            <hr />
        }
    </div>
}
