@using JoinRpg.Helpers
@using JoinRpg.Web.Models.Plot
@model PlotFolderListViewModel

@{
  var firstItem = Model.Folders.FirstOrDefault();
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => firstItem!.PlotFolderMasterTitle)
        </th>
        @if (Model.HasMasterAccess)
        {
        <th>
            @Html.DisplayNameFor(model => firstItem!.Status)
        </th>
        }
        <th>Вводные</th>
        <th></th>
    </tr>

    @foreach (var item in Model.Folders)
    {
    <tr>
        <td>
            @Html.DisplayFor(model => item)
        </td>
        @if (Model.HasMasterAccess)
        {
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        }
        <td>
            @CountHelper.DisplayCount(item.ElementsCount, "вводная", "вводные", "вводных")
        </td>
        <td>
          @if (Model.HasMasterAccess && item.Status != PlotStatus.Deleted)
          {
                    <div class="btn-group btn-group-sm" style="display: inline-block">

                          <a title="Добавить вводную" href="@Url.Action("CreateElement", "Plot", new { item.PlotFolderId, item.ProjectId })"
                              class="btn btn-primary"><i class="glyphicon glyphicon-plus"></i>Добавить вводную</a>
                        @if (item.HasEditAccess)
                        {
                            <a title="Удалить"
                               href="@Url.Action("Delete", "Plot", new { item.PlotFolderId, item.ProjectId })" class="btn btn-warning">
                               <i class="glyphicon glyphicon-trash"></i>Удалить</a>
                        }

                    </div>
          }
        </td>
    </tr>
    }

</table>

