@using JoinRpg.Helpers
@using JoinRpg.Web.Models.Plot
@using JoinRpg.Web.Plots
@model PlotFolderListViewModel

@{
  var firstItem = Model.Folders.FirstOrDefault();
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => firstItem!.PlotFolderMasterTitle)
        </th>
        @if (Model.HasMasterAccess)
        {
        <th>
            @Html.DisplayNameFor(model => firstItem!.Status)
        </th>
        }
        <th>Вводные</th>
        <th></th>
    </tr>

    @foreach (var item in Model.Folders)
    {
    <tr>
        <td>
            @Html.DisplayFor(model => item)
        </td>
        @if (Model.HasMasterAccess)
        {
        <td>
                    <component type="typeof(PlotStatusBadge)"
                               render-mode="Static"
                               param-Status="@item.Status" />
        </td>
        }
        <td>
            @CountHelper.DisplayCount(item.ElementsCount, "вводная", "вводные", "вводных")
        </td>
        <td>
          <component
            type="typeof(PlotFolderListItemControls)"
            render-mode="Static"
            param-Item="@item"
            param-List="@Model"
            />
        </td>
    </tr>
    }
</table>

