@using JoinRpg.Web.Models.Characters


@{
  ViewBag.Title = Model.Name;
  string strikeStyleOfName = Model.IsActive ? "" : "text-decoration: line-through";
}
<div>
    <ul class="nav nav-pills">
        <li class="disabled">
            <a href="#" style="cursor: default; @strikeStyleOfName"><span class="h3">@ViewBag.Title</span></a>
        </li>
        @if (Model.CharacterId != null)
        {
            <nav-link
                asp-action="Details"
                asp-controller="Character"
                asp-route-projectid="@Model.ProjectId"
                asp-route-characterid="@Model.CharacterId">
                Персонаж
            </nav-link>

            if (Model.HasMasterAccess)
            {
                <nav-link
                    asp-action="Edit"
                    asp-controller="Character"
                    asp-route-projectid="@Model.ProjectId"
                    asp-route-characterid="@Model.CharacterId">
                    Редактировать
                </nav-link>
            }
        }
        @if (Model.ClaimId != null)
        {
            <nav-link
                asp-action="Edit"
                asp-controller="Claim"
                asp-route-projectid="@Model.ProjectId"
                asp-route-claimId="@Model.ClaimId">
                Заявка
            </nav-link>
        }
        else if (Model.CanAddClaim)
        {
            <nav-link
                asp-action="AddForCharacter"
                asp-controller="Claim"
                asp-route-projectid="@Model.ProjectId"
                asp-route-characterid="@Model.CharacterId">
                Подать заявку
            </nav-link>
        }
        else
        {
            <li role="presentation" class="disabled">
                <a href="#">Заявки не принимаются</a>
            </li>
        }
        @if (Model.DiscussedClaims.Any())
        {
            <li role="presentation" class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                    Обсуждаемые заявки <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    @foreach (var claim in Model.DiscussedClaims)
                    {
                        <nav-link
                            asp-action="Edit"
                            asp-controller="Claim"
                            asp-route-projectid="@Model.ProjectId"
                            asp-route-claimId="@claim.ClaimId">
                            @claim.Player.GetDisplayName()
                        </nav-link>
                    }
                </ul>
            </li>
        }
        @if (Model.RejectedClaims.Any())
        {
            var active = Model.Page == CharacterNavigationPage.RejectedClaim ? "active" : "";

            <li role="presentation" class="dropdown @active">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                    Отклоненные заявки <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    @foreach (var claim in Model.RejectedClaims)
                    {
                        <nav-link
                            asp-action="Edit"
                            asp-controller="Claim"
                            asp-route-projectid="@Model.ProjectId"
                            asp-route-claimId="@claim.ClaimId">
                            @claim.Player.GetDisplayName()
                        </nav-link>
                    }
                </ul>
            </li>
        }
    </ul>

</div>
