@using JoinRpg.Helpers
@using JoinRpg.PrimitiveTypes.Claims
@using JoinRpg.Web.Claims.Finance
@using JoinRpg.Web.Claims.UnifiedGrid
@using JoinRpg.Web.ProjectCommon.Claims
@inject IUnifiedGridClient claimListClient

@if (claimListItems is null)
{
    <JoinLoadingMessage />
    return;
}

<table class="table">
    <tr>
        <th>Персонаж</th>
        <th>Игрок</th>
        <th>Статус</th>
        <th>Заявка обновлена</th>
        <th>Ответственный мастер</th>
        <th>Взнос</th>
    </tr>

    @foreach (var item in claimListItems.OrderBy(c => c.Character.BusyStatus))
    {
        @if (item.Claims.Length == 0)
        {
            <tr>
                <td>
                    @item.Character.Name @* Здесь ссылка на персонажа*@
                </td>

                <td>
                    &nbsp;
                </td>
                <td>
                    <CharacterBusyStatusBadge CharacterBusyStatus="item.Character.BusyStatus" SlotCount="item.Character.SlotCount" />
                </td>
                <td>
                    &nbsp;
                </td>
                <td>&nbsp;</td>
                <td>
                    &nbsp;
                </td>
            </tr>
        }
        else
        {
            bool first = true;
            @foreach (var claim in item.Claims)
            {
                <tr>
                    @if (first)
                    {
                        first = false;
                        <td rowspan="@item.Claims.Length">
                            @item.Character.Name @* Здесь ссылка на персонажа*@
                        </td>
                    }
                    


                    <td>
                        <UserLink Model="claim.Player" />
                        @if (!string.IsNullOrWhiteSpace(claim.PlayerFullName))
                        {
                            <text><br /> @claim.PlayerFullName </text>
                        }
                    </td>
                    <td>
                        @claim.ClaimStatus?.GetDisplayName()
                    </td>
                    <td>
                        <EventTime Model="claim.UpdateDate" />
                    </td>

                    <td><UserLink Model="claim.Responsible" /></td>
                    <td>
                        <ClaimBalanceView Model="claim.Fee" />
                    </td>
                </tr>
            }
        }
    }

</table>


@code {

    IReadOnlyCollection<UgItemForCaptainViewModel> claimListItems = null!;

    [Parameter]
    [EditorRequired]
    public ProjectIdentification ProjectId { get; set; }

    protected override async Task OnInitializedAsync()
    {
        claimListItems = await claimListClient.GetForCaptain(ProjectId, UgStatusFilterView.Active);
        await base.OnInitializedAsync();
    }

}
