@inject IKogdaIgraSyncClient client;

@if (model is null)
{
    <JoinLoadingMessage />
    return;
}
<JoinPanel>
    <Header><a href="@model.KogdaIgraUri"> @model.Name</a></Header>
  <Body>
      Даты: @model.Begin — @model.End <br />
      Регион: @model.RegionName <br />
      МГ: @model.MasterGroupName<br />
      Сайт: @model.SiteUri<br />
  </Body>
</JoinPanel>
@code {
    [Parameter]
    [EditorRequired]
    public KogdaIgraIdentification KogdaIgraId { get; set; }

    private KogdaIgraCardViewModel? model;

    protected async override Task OnParametersSetAsync()
    {
        await base.OnParametersSetAsync();
        model = await client.GetKogdaIgraCard(KogdaIgraId);
    }
}
