<JoinPanel> 
    <Header>@JoinCandidate.Name (@JoinCandidate.ProjectId)</Header>
  <Body>
    Мастера:
    <ul>
      @foreach (var master in JoinCandidate.Masters)
      {
        <li><UserLink Model="master"></UserLink></li>
      }
    </ul>
        Последний раз обновлено: @JoinCandidate.LastUpdatedAt
        <br />
        Описание: @JoinCandidate.Description
        <br />
        Игра на КогдаИгре:
        <KogdaIgraGameSelector @bind-KogdaIgra="SelectedKogdaIgra" InitialList="KogdaIgraCandidates" />
        @if (@SelectedKogdaIgra is not null)
        {
          <KogdaIgraCard KogdaIgraId="@SelectedKogdaIgra.KogdaIgraId" />
          <JoinButton Label="Привязать" OnClick="BindClicked" Preset="ButtonPreset.Update" />
        }
  </Body>
</JoinPanel>
@code {
    [Parameter]
    [EditorRequired]
    public JoinRpgSyncCandidateViewModel JoinCandidate { get; set; } = null!;

    [Parameter]
    [EditorRequired]
    public KogdaIgraShortViewModel[] KogdaIgraCandidates { get; set; } = null!;

    [Parameter] public EventCallback<KogdaIgraShortViewModel> OnBind { get; set; }

    private KogdaIgraShortViewModel? SelectedKogdaIgra { get; set; } = null;

    private async Task BindClicked()
    {
        if (SelectedKogdaIgra is null)
        {
            return;
        }
        await OnBind.InvokeAsync(SelectedKogdaIgra);
    }
}
