@model JoinRpg.Services.Interfaces.FastPaymentsSystemBank
<li id="@Model.Id">
  <a href="@Model.PaymentUrl">
    <img src="@Model.LogoUrl" alt="@Model.Name"/>
    <span>@Model.Name</span>
  </a>
</li>
