@{ Layout = null; }
@model JoinRpg.Services.Interfaces.FastPaymentsSystemMobilePaymentContext
<!DOCTYPE html>
<html>
<head>
  <title>Оплата через Систему Быстрых Переводов</title>
  <script src="~/Scripts/ua-parser.min.js"></script>
  <script src="~/Scripts/platform.js"></script>
  <meta name="viewport" content="width=device-width"/>
  <style type="text/css">
        html, body {
            display: block;
            width: 100%;
            height: 100%;
            margin: 0;
            padding: 0;
        }
        div.content {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
        }
    </style>
</head>
<body>
<div class="content">
  <img id="qrcode" style="display: none;" src="@Model.QrCodeUrl" alt="QR код" />
  @if (Model.Banks?.Count > 0)
  {
    <div id="banks" style="display: none;">
      @foreach (var bank in Model.Banks)
      {
        <div><a href="@bank.PaymentUrl"><img src="@bank.LogoUrl" alt="@bank.Name" /></a></div>
      }
    </div>
  }
</div>
<script type="text/javascript">
const expectedPlatform = '@Model.ExpectedPlatform.ToString().ToLowerInvariant()';
const blockQr = document.getElementById('qrcode');
const blockBanks = document.getElementById('banks');
if (platform.name === 'desktop' || platform.name !== expectedPlatform) {
  blockQr.style.display = 'block';
} else {
  blockBanks.style.display = 'block';
}
</script>
</body>
</html>
