@model JoinRpg.Web.Models.IndexViewModel
@{
    ViewBag.Title = "Мой аккаунт";
}

<h2>@ViewBag.Title.</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <h4>Настройки аккаунта</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>Профиль:</dt>
        <dd>[ @Html.ActionLink("Настроить", "SetupProfile") ] [@Html.ActionLink("Показать", "Me", "User")]</dd>
        <dt>Пароль:</dt>
        <dd>
            [
            @if (Model.HasPassword)
            {
                @Html.ActionLink("Изменить пароль", "ChangePassword")
            }
            else
            {
                @Html.ActionLink("Задать пароль", "SetPassword")
            }
            ]
        </dd>
        <dt>Логин через соцсети:</dt>
        <dd>
            Пока не поддерживается
            @* @Model.Logins.Count [
            @Html.ActionLink("Manage", "ManageLogins") ] *@
        </dd>
        @*
            Phone Numbers can used as a second factor of verification in a two-factor authentication system.
             
             See <a href="http://go.microsoft.com/fwlink/?LinkId=403804">this article</a>
                for details on setting up this ASP.NET application to support two-factor authentication using SMS.
             
             Uncomment the following block after you have set up two-factor authentication
        *@
        @*  
            <dt>Phone Number:</dt>
            <dd>
                @(Model.PhoneNumber ?? "None") [
                @if (Model.PhoneNumber != null)
                {
                    @Html.ActionLink("Change", "AddPhoneNumber")
                    @: &nbsp;|&nbsp;
                    @Html.ActionLink("Remove", "RemovePhoneNumber")
                }
                else
                {
                    @Html.ActionLink("Add", "AddPhoneNumber")
                }
                ]
            </dd>
        *@
    </dl>
</div>
