@using System.Web.Mvc.Html
@model JoinRpg.Web.Models.CharacterGroups.CharacterGroupDetailsViewModel

@if (!Model.IsPublic && !Model.HasMasterAccess)
{
<p>Группа не существует, удалена или скрыта.</p>
    return;
}
@{
    ViewBag.Title = "Группа персонажей " + Model.Name;
}

@Html.DisplayFor(model => model)

@{
  {
      var hideClassName = !Model.IsPublic ? "world-object-hidden" : "";
    <div class="@hideClassName panel panel-default">
@if (Model.HasMasterAccess)
{
    <div class="panel-heading">
      <div class="btn-group" role="group">

        @if (!Model.IsSpecial && Model.ShowEditControls)
        {
          <a type="button" class="btn btn-default" href="@Url.Action("Edit", "GameGroups", new {Model.ProjectId, Model.CharacterGroupId}, null)">
            <span title="настроить" class="glyphicon glyphicon-wrench"></span> настроить
          </a>
        }
        <a type="button" class="btn btn-default" href="@Url.Action("EditSubscribe", "GameGroups", new {Model.ProjectId, Model.CharacterGroupId}, null)">
          <span class="glyphicon glyphicon-pushpin"></span> подписка
        </a>

        @if (!Model.IsRootGroup && !Model.IsSpecial && Model.ShowEditControls)
        {
          var disabled = Model.ActiveClaimsCount != 0 ? "disabled" : "";
          var uri = Model.ActiveClaimsCount != 0 ? "#" : Url.Action("Delete", "GameGroups", new { Model.ProjectId, Model.CharacterGroupId }, null);
          <a href="@uri" type="button" class="btn btn-default @disabled">
            <span title="удалить" class="glyphicon glyphicon-trash"></span>удалить
          </a>
        }


        @if (!Model.IsSpecial && Model.ShowEditControls)
        {
          <div class="btn-group" role="group">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Добавить...
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
              <li><a href="@Url.Action("Create", "Character", new {Model.ProjectId, Model.CharacterGroupId}, null)">..персонажа</a></li>
              <li>@Html.ActionLink("..подгруппу", "AddGroup", "GameGroups", new {Model.ProjectId, Model.CharacterGroupId}, null)</li>
            </ul>
          </div>
        }
           
      </div>
      @Html.Partial("CreateUpdated", Model)
    </div>
}

        <div class="panel-body">
            @Model.Description
            @if (Model.AvaiableDirectSlots != 0 || Model.ActiveClaimsCount > 0)
            {

                if (Model.AvaiableDirectSlots > 0)
                {
                <strong>+@DisplayCount.OfX(Model.AvaiableDirectSlots, "вакансия", "вакансии", "вакансий") / </strong>
                }
                else if (Model.AvaiableDirectSlots < 0)
                {
                <strong>есть вакансии / </strong>
                }

                if (Model.ActiveClaimsCount > 0 || Model.AvaiableDirectSlots != 0)
                {
                    if (Model.HasMasterAccess)
                    {
                <strong title="Только обсуждаемые заявки «напрямую» в группу (без прописанных персонажей)">
                    @Html.ActionLink(
                                    DisplayCount.OfX(Model.ActiveClaimsCount, "заявка", "заявки", "заявок"),
                                    "ListForGroupDirect",
                                    "ClaimList",
                                    new { Model.ProjectId, Model.CharacterGroupId },
                                    null)
                </strong>
                    }
                    else
                    {
                @DisplayCount.OfX(Model.ActiveClaimsCount, "заявка", "заявки", "заявок")
                    }
                }
                if (Model.IsAcceptingClaims)
                {
                @Html.ActionLink(
                            "заявиться",
                            "AddForGroup",
                            "Claim",
                            new { Model.ProjectId, Model.CharacterGroupId },
                            new { @class = "btn btn-default btn-xs" })
                }

            }
        </div>
    </div>
  }
}