@using JoinRpg.Web.AdminTools.KogdaIgra
@using JoinRpg.Web.ProjectCommon.Projects
@using System.ComponentModel
@using System.ComponentModel.DataAnnotations
@inject IKogdaIgraSyncClient KogdaIgraClient
@inject IKogdaIgraBindClient BindClient
@inject IProjectListForAdminClient ProjectListClient
@inject ILogger<AdminProjectGrid> logger

@if (isError)
{
    <JoinErrorMessage />
    return;
}

@if (Projects is null || isLoading)
{
    <JoinLoadingMessage />
    return;
}

<JoinBorderedTable Items="Projects" Context="project">
    <HeadContent>
        <tr>
            <th>Проект</th>
            <th>Обновлено</th>
            <th>КогдаИгра</th>
            <th>&nbsp;</th>
        </tr>
    </HeadContent>
    <ItemTemplate>
        <tr>
            <td><ProjectLink Model="project" /></td>
            <td>@project.LastUpdatedAt</td>
            <td>
                @if (project.DisableKogdaIgraMapping)
                {
                <text>Проект не должен быть привязан к КогдаИгре</text>
                }
                else if (project.KiLinks is null)
                {
                    <text>Проект не привязан к КогдаИгре</text>
                }
                else 
                {
                    <ul>
                        @foreach (var kiLink in project.KiLinks)
                        {
                            <li><a href="@kiLink.KogdaIgraUri"> @kiLink.Name</a> (<DateRangeDisplay Start="kiLink.Begin"  End="kiLink.End" />) </li>
                        }
                    </ul>
                }
            </td>
            <td>
                @if (KogdaIgraCandidates?.Length > 0)
                {
                    <JoinButton Preset="ButtonPreset.Link" Title="Привязать..." OnClick="(args) => OpenBindDialogAsync(args, project)" />
                }
            </td>
        </tr>
    </ItemTemplate>
</JoinBorderedTable>

@if (model is not null)
{
    <JoinFormDialog FormName="BindToKi" SubmitButtonPreset="ButtonPreset.Link" Model="model" @ref="dialog" Height="500px">
        @model.JoinProject.ProjectName
        <FormRowFor For="@(() => model.DisableKogdaIgraMapping)">
            <CheckboxInput @bind-Value="model.DisableKogdaIgraMapping" />
        </FormRowFor>
        @if (!model.DisableKogdaIgraMapping)
        {
            <FormRowFor For="@(() => model.KogdaIgraIds)">
                <KogdaIgraGameSelector @bind-KogdaIgraIds="model.KogdaIgraIds" InitialList="KogdaIgraCandidates" />
            </FormRowFor>
        }
    </JoinFormDialog>
}
@code
{
    private bool isLoading = false;
    private bool isError = false;

    [Parameter]
    [EditorRequired]
    public ProjectSelectionCriteria Criteria { get; set; } = default!;

    //[PersistentState]
    public IReadOnlyList<ProjectAdminListItemViewModel> Projects { get; set; } = null!;

    private JoinFormDialog<BindToKiModel> dialog = null!;
    private BindToKiModel model = null!;

    //[PersistentState]
    public KogdaIgraShortViewModel[]? KogdaIgraCandidates { get; set; } = null!;

    protected override async Task OnInitializedAsync()
    {
        try {
            KogdaIgraCandidates ??= await KogdaIgraClient.GetKogdaIgraCandidates();
        }
        catch (Exception ex)
        {
            isError = true;
            logger.LogError(ex, "Ошибка при загрузке данных");
        }
        await base.OnInitializedAsync();
    }

    protected override async Task OnParametersSetAsync()
    {
        isLoading = true;
        try
        {
            Projects = await ProjectListClient.GetProjectsForAdmin(Criteria);
            
            if (Projects.Count > 0)
            {
                model = new BindToKiModel { JoinProject = Projects.First(), KogdaIgraIds = [], DisableKogdaIgraMapping = false };
            }
        }
        catch (Exception ex)
        {
            isError = true;
            logger.LogError(ex, "Ошибка при загрузке данных");
        }

        isLoading = false;

        await base.OnParametersSetAsync();
    }

    private async Task OpenBindDialogAsync(ButtonClickEventArgs args, ProjectAdminListItemViewModel project)
    {
        try
        {
            model = new BindToKiModel { JoinProject = project, KogdaIgraIds = project.KogdaIgraIds.ToArray(), DisableKogdaIgraMapping = project.DisableKogdaIgraMapping };
            var result = await dialog.ShowModalAsync();
            if (result is not null)
            {
                await BindClient.UpdateProjectKogdaIgraBindings(new KogdaIgraBindViewModel(project.ProjectId, result.KogdaIgraIds, result.DisableKogdaIgraMapping));
                Projects = await ProjectListClient.GetProjectsForAdmin(Criteria);
            }
        }
        finally
        {
            args.ExitProgressState = true;
        }
    }

    private class BindToKiModel
    {
        [Required]
        [Display(Name = "Игры на КИ")]
        public required KogdaIgraIdentification[] KogdaIgraIds { get; set; }

        [Display(Name = "Не привязывать к КогдаИгре")]
        public required bool DisableKogdaIgraMapping { get; set; }

        [ReadOnly(true)]
        public required IProjectLinkViewModel JoinProject { get; set; }
    }
}

