@using JoinRpg.Web.Games.Projects
@using JoinRpg.Web.ProjectCommon
@using JoinRpg.Web.ProjectCommon.Projects
@inject ICharacterUriLocator linkLocator
<JoinPanel>
  <Header><CharacterLink Model="Model.CharacterLink" /> из проекта <ProjectLink Model="Model.ProjectLink" /></Header>
  <Body>
        <h4>@Model.CharacterLink.Name</h4>
        @linkLocator.GetAddClaimUri(Model.CharacterLink.CharacterId)
        <p>@Model.CharacterDesc</p>
        <h4>@Model.ProjectLink.ProjectName</h4>
        @if (Model.KogdaIgraCard is not null)
        {
            <p><KogdaIgraDetails Model="Model.KogdaIgraCard" /></p>
        }
        <p>@Model.ProjectDesc</p>
  </Body>
</JoinPanel>
@code {
    [Parameter]
    [EditorRequired]
    public AdminHotRoleViewModel Model { get; set; } = null!;
}
