@using JoinRpg.Web.ProjectCommon.Fields
@using JoinRpg.Portal.Controllers.Fields
@model FieldRowModel

@{
    var item = Model.Field;
}
<tr>
    <td>
        <b class="@(item.IsActive ? "" : "deleted")">@Html.DisplayFor(modelItem => item.Name)</b>@Html.DisplayFor(modelItem => item.MandatoryStatus)
        <br />
        @Html.DisplayFor(modelItem => item.FieldViewType)
        <br />
        @if (item.FieldBoundTo == FieldBoundToViewModel.Claim)
        {
            <span class="label label-primary">Привязано к заявке</span>
        }
    </td>
    <td>
        @if (item.IsPublic)
        {
            <span class="label label-success">
                <component type="typeof(EyeIcon)" render-mode="Static" /> Публичное
            </span>
        }
        else if (item.CanPlayerView)
        {
            <span class="label label-info">Видно игроку</span>
        }
        else
        {
            <span class="label label-default">Только мастерам</span>
        }
        <br />
        @if (item.CanPlayerEdit)
        {
            <span class="label label-warning">Игрок может менять</span>
            <br />
        }
        <component
          type="typeof(JoinRpg.Web.ProjectMasterTools.Fields.FieldConditionBadge)"
          Param-GroupNames="item.GroupNames"
          render-mode="Static"
          />
    </td>
    <td class="price-table">@(item.FieldViewType.SupportsPricingOnField() && item.Price != 0 ? item.Price.ToString() : "")</td>
    <td>@Html.Raw(item.DescriptionHtml) @Html.Raw(item.MasterDescriptionHtml)</td>
    <td>
        @if (item.HasValueList)
        {
            <ul>
                @foreach (var value in item.Variants)
                {
                    <li>
                        @if (value.CharacterGroup is not null)
                        {
                            <a asp-controller="CharacterList" asp-action="ByGroup" asp-route-ProjectId="@item.Id.ProjectId.Value" asp-route-CharacterGroupId="@value.CharacterGroup.CharacterGroupId">
                                @if (!value.IsActive)
                                {
                                    <del>@value.Label</del>
                                }
                                else
                                {
                                    @value.Label
                                }

                            </a>
                        }
                        else
                        {
                            @value.Label
                        }
                    </li>
                    }
                @if (item.MandatoryStatus != MandatoryStatusViewType.Optional && item.IsActive)
                    {
                        if (item.FieldBoundTo == FieldBoundToViewModel.Character)
                        {
                <li>
                    (<i>
                        @Html.ActionLink("Значение не проставлено", "ByUnAssignedField", "CharacterList",
                new { projectFieldId = item.Id.ProjectFieldId, projectId = item.Id.ProjectId.Value }, null)
                    </i>)
                </li>
                        }
                        else
                        {
                <li>
                    (<i>
                        @Html.ActionLink("Значение не проставлено", "ByUnAssignedField", "ClaimList",
                new { projectFieldId = item.Id.ProjectFieldId, projectId = item.Id.ProjectId.Value }, null)
                    </i>)
                </li>
                        }
                    }
            </ul>
            }
            else if (item.FieldViewType != ProjectFieldViewType.Header)
            {
                if (!item.IsActive)
                {
                    if (item.WasEverUsed)
                    {
                        switch (item.FieldBoundTo)
                        {
                            case FieldBoundToViewModel.Character:
            @Html.ActionLink("Отчет (проставленные)", "ByAssignedField", "CharacterList",
                     new { projectFieldId = item.Id.ProjectFieldId, projectId = item.Id.ProjectId.Value }, null)
                                break;
                            case FieldBoundToViewModel.Claim:
            @Html.ActionLink("Отчет (проставленные)", "ByAssignedField", "ClaimList",
                     new { projectFieldId = item.Id.ProjectFieldId, projectId = item.Id.ProjectId.Value }, null)
                                break;
                            default:
                                throw new ArgumentOutOfRangeException();
                        }
                    }
                }
                else
                {
            <i>
                @if (item.FieldBoundTo == FieldBoundToViewModel.Character)
                        {
                @Html.ActionLink("Отчет по непроставленным", "ByUnAssignedField", "CharacterList",
                    new { projectFieldId = item.Id.ProjectFieldId, projectId = item.Id.ProjectId.Value }, null)
                        }
                        else
                        {
                @Html.ActionLink("Отчет по непроставленным", "ByUnAssignedField", "ClaimList",
                    new { projectFieldId = item.Id.ProjectFieldId, projectId = item.Id.ProjectId.Value }, null)
                        }
            </i>
                }
            }
        </td>
        <td>
            @if (item.CanEditFields)
            {
            <component type="typeof(JoinRpg.Web.Games.FieldSetup.FieldEditControl)"
                       render-mode="WebAssemblyPrerendered"
                       Param-Item="@item"
                       Param-AllItems="@Model.AllItems" />
            }
        </td>
    </tr>
