@using JoinRpg.Helpers
@model JoinRpg.Web.Models.PrintCharacterViewModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>@Model.ProjectName: @Model.CharacterName</title>
    @Styles.Render("~/Content/css")
</head>
<body>
<div class="container body-content">
    <h1 style="page-break-before: always">@Model.CharacterName</h1>
    <hr />
<p>
    @Model.Groups.Where(g => !g.IsRoot).Select(g => g.Name).JoinStrings(" • ")
</p>
    <dl>
        <dt>Мастер</dt>
        <dd>
            @if (Model.ResponsibleMaster == null)
            {
                <text>нет</text>
            }
            else
            {
                @Model.ResponsibleMaster.DisplayName
            }
        </dd>

        @if (Model.PlayerDisplayName != null)
        {

            <dt>Игрок</dt>
            <dd>@Model.PlayerDisplayName</dd>

            <dt>ФИО</dt>
            <dd>@Model.PlayerFullName</dd>
            <dt>Телефон</dt>
            <dd>@Model.PlayerPhoneNumber</dd>
        }
        else
        {
            <dt>Игрок</dt>
            <dd>Нет</dd>
        }
    </dl>
    @Html.Partial("PrintCharacter", Model)
</div>
</body>
</html>