@using JoinRpg.Web.Models.Plot
@model JoinRpg.Web.Models.Print.HandoutReportViewModel

@{
    ViewBag.Title = "Отчет по раздатке";
 
}

<h2>@ViewBag.Title</h2>

<table class="table">
    <tr><th>@Html.LabelFor(model => Model.Handouts.First().Text)</th><th>@Html.LabelFor(model => Model.Handouts.First().Count)</th></tr>
    @foreach (var item in Model.Handouts)
    {
        <tr><td>
            @Html.ActionLink(item.Text, "EditElement", "Plot", new {item.ProjectId, item.PlotFolderId, item.PlotElementId}, null)
            @if (item.Status != PlotStatus.Completed)
            {
                @Html.DisplayFor(modelItem => item.Status)
            }
        </td><td>@item.Count</td></tr>
    }
</table>
