@using JetBrains.Annotations
@using JoinRpg.Helpers.Web
@model JoinRpg.Web.Models.Print.PrintIndexViewModel

@helper SplitByChunks([AspMvcAction] string actionName, int chunkSize = 100)
{
    for (var i = 0; i < Model.CharacterIds.Count; i += chunkSize)
    {
        var characters = Model.CharacterIds.Skip(i).Take(chunkSize).ToArray();
        if (!characters.Any())
        {
            continue;
        }

        if (i == 0 && characters.Length < chunkSize)
        {
            @Html.ActionLink("[все]", actionName,
                new {Model.ProjectId, CharacterIds = characters.CompressIdList()})
        }
        else
        {
            @Html.ActionLink(string.Format("[{0}–{1}]", i + 1, i + characters.Length), actionName,
                      new {Model.ProjectId, CharacterIds = characters.CompressIdList()})<text>&nbsp;</text>
        }
    }
}

@helper SplitByChunksForPlugin([AspMvcAction] string actionName, string pluginName, int chunkSize = 100)
{
for (var i = 0; i < Model.CharacterIds.Count; i += chunkSize)
{
    var characters = Model.CharacterIds.Skip(i).Take(chunkSize).ToArray();
    if (!characters.Any())
    {
        continue;
    }

    if (i == 0 && characters.Length < chunkSize)
    {
    @Html.ActionLink("[все]", actionName,
                new { Model.ProjectId, CharacterIds = characters.CompressIdList(), Plugin = pluginName })
    }
    else
    {
    @Html.ActionLink(string.Format("[{0}–{1}]", i + 1, i + characters.Length), actionName,
                      new { Model.ProjectId, CharacterIds = characters.CompressIdList(), Plugin = pluginName })<text>&nbsp;</text>
    }
}
}

@{
    ViewBag.Title = "Распечатки";
}

<h2>@ViewBag.Title</h2>
<dl>
    <dt>
        Содержимое конвертов @SplitByChunks("CharacterList")
    </dt>
    <dd>Распечатать содержимое конвертов (информацию о персонажах, чек-листы раздатки, загрузы) для всех активных персонажей</dd>
    <dt>Наклейки на конверты @SplitByChunks("Envelopes")  </dt>
    <dd>Распечатать наклейки на конверты для всех активных персонажей</dd>
    <dt>@Html.ActionLink("Отчет по раздатке", "HandoutReport", new {Model.ProjectId})</dt>
    <dd>Отчет обо всех настроенных раздатках</dd>
    @foreach (var plugin in Model.Plugins)
    {
        <dt>
            <span class="label label-info">Плагин</span> @plugin.Name
            @SplitByChunksForPlugin("PrintCards", plugin.Name)
        </dt>
        <dd>@Html.DisplayFor(item => plugin.Description)</dd>
    }
</dl>
