@using System.Web.Mvc.Html
@using JoinRpg.Web.Models.Plot
@model JoinRpg.Web.Models.Print.PrintCharacterViewModel
<h1 style="page-break-before: always">@Model.CharacterName</h1>
@Html.DisplayFor(model => model.CharacterDescription)
<h1>Группы</h1>
<dl>
    @foreach (var group in Model.Groups)
    {
        <dt>@group.Name</dt>
        <dd>@Html.DisplayFor(model => group.Description)</dd>
    }
</dl>

@if (Model.Fields.AnythingAccessible)
{
    <h1 style="page-break-before: always">Поля персонажа</h1>
    <dl>
        @foreach (var field in Model.Fields.Fields.Where(f => f.HasValue && f.CanView))
        {
            <dt>@field.FieldName</dt>
            <dd>@field.DisplayString</dd>
        }
    </dl>
}

@if (Model.Plots.Any(p => p.Status == PlotStatus.Completed))
{
    <h1 style="page-break-before: always; page-break-after: avoid">Загрузы (@Model.Plots.Count(p => p.Status == PlotStatus.Completed)) </h1>


    foreach (var plot in Model.Plots.Where(p => p.Status == PlotStatus.Completed))
    {
        <div style="page-break-inside: avoid">
            @plot.Content
        </div>
    }
}
<br style="page-break-after: always"/>
