@using JoinRpg.Helpers
@using JoinRpg.Markdown
@using JoinRpg.DataModel
@using JoinRpg.Domain
@using JoinRpg.Web.Models
@using JoinRpg.Web.Models.Accommodation
@using JoinRpg.Web.Models.CommonTypes
@using System.Diagnostics.Contracts
@model ClaimAccommodationViewModel

<div class="panel panel-default" id="accommodationRequests">
    <div class="panel-heading">
        <h5>Проживание</h5>
    </div>
    <div class="panel-body">
        @if (Model.AccommodationRequest == null)
        {
            <div>
                <span>Проживание не выбрано.</span>
            </div>
        }
        else
        {
          <div style="display: flex; flex-direction: row; align-items: center;">
            <span style="margin-right: 1em;">
              <strong>@Model.AccommodationRequest.AccommodationType.Name</strong>
              <text>
                        (@CountHelper.DisplayCount(Model.AccommodationRequest.AccommodationType.Capacity, "место",
                   "места", "мест") в номере, @Model.AccommodationRequest.AccommodationType.Cost &#8381;)
              </text>
            </span>
          </div>
            <div class="help-block">
                @Html.Raw(Model.AccommodationRequest.AccommodationType.Description.ToHtmlString())
            </div>
            if (Model.AccommodationRequest.Accommodation != null)
            {
                <div>
                    <strong>Назначена комната:</strong> @Model.AccommodationRequest.Accommodation.Name
                </div>
            }

          <div style="margin-top: 1em;">
            @if (Model.RoomFreeSpace > 0 || Model.Neighbours.Any())
            {
                  <div><strong>Соседи по комнате:</strong></div>
              <div style="display: flex; flex-direction: row; align-items: center">
                <ul style="margin-bottom: 0;">
                  @foreach (var neighbor in Model.Neighbours)
                  {
                    <li>@Html.DisplayFor(model => neighbor)</li>
                  }
                  @if (Model.RoomFreeSpace > 0)
                  {
                    <li>@CountHelper.DisplayCount(Model.RoomFreeSpace, " свободное место", "свободных места", "свободных мест")</li>
                  }
                </ul>
              </div>
            }
          </div>
        }
    </div>
</div>
