@using JoinRpg.Markdown
@model JoinRpg.Web.Models.Accommodation.ClaimAccommodationViewModel

@functions
{
    public static string CountOfX(int count, string single, string multi1, string multi2)
    {
        string selected = count == 0 ? multi2 : (count == 1 ? single : (count < 5 ? multi1 : multi2));
        return count + " " + selected;
    }
}

<div class="modal fade" id="changeAccommodationType" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <form method="post" class="modal-content" action="@Url.Action("SetAccommodationType", "Claim", new {Model.ProjectId, Model.ClaimId})">
        <div class="modal-header">
          Варианты проживания
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          @if (Model.AccommodationRequest != null)
          {
            if (Model.AccommodationRequest.Accommodation != null)
            {
              <div class="alert alert-warning">
                Вам уже назначена комната. Смена типа проживания выселит вас.
              </div>
            }
            else if (Model.AccommodationRequest.Subjects.Count > 1)
            {
              <div class="alert alert-warning">
                Смена типа проживания отменит существующие договоренности о совместном проживании.
              </div>
            }
          }
          @Html.AntiForgeryToken()
          @foreach (var accommodationType in Model.AvailableAccommodationTypes)
          {
            var checkedState = "";
            if (Model.AccommodationRequest?.AccommodationTypeId == accommodationType.Id)
            {
              checkedState = "checked";
            }
            <div style="margin: 1em 0; display: flex; flex-direction: row; align-items: center;">
              <input type="radio" name="AccommodationTypeId" id="at-@(accommodationType.Id)" value="@accommodationType.Id" style="margin: 0;" @checkedState>
              <label style="margin: 0 0 0 2em; display: block; font-weight: normal;">
                <div>
                  <strong>@accommodationType.Name</strong>
                  <text>(@CountOfX(accommodationType.Capacity, "место", "места", "мест") в номере, @accommodationType.Cost&nbsp;&#8381;)</text>
                </div>
                <div>@accommodationType.Description.ToHtmlString()</div>
              </label>
            </div>
          }
        </div>
        <div class="modal-footer">
          <button class="btn btn-success" type="submit">Сохранить проживание</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
        </div>
    </form>
  </div>
</div>
