@using JoinRpg.DataModel
@using JoinRpg.Helpers
@using JoinRpg.Web.Helpers
@model JoinRpg.Web.Models.Accommodation.ClaimAccommodationViewModel
@{
    AccommodationInvite[] items = Model.IncomingInvite
        .Where(item => item.IsAccepted != AccommodationRequest.InviteState.Accepted)
        .ToArray();
    if (items.Length == 0)
        return;
}
<div class="panel panel-default" id="incomingInvite">
    <div class="panel-heading">Полученные приглашения к совместному проживанию</div>
    <div class="panel-body">
        <table class="table" style="margin: 0;">
            @foreach (var invite in items)
            {
               <tr>
                    <td style="vertical-align: middle; border: none;">@Html.DisplayFor(model => invite.From.Player)</td>
                    @if (invite.IsAccepted == AccommodationRequest.InviteState.Unanswered)
                    {
                        <td style="border: none;">
                            <div style="display: flex; flex-direction: row; align-items: center;">
                                <form method="post" asp-controller="Claim" asp-action="AcceptInvite" enctype="multipart/form-data" asp-route-projectId="@Model.ProjectId" asp-route-claimId="@Model.ClaimId" style="margin-right: 1em;">
                                    @Html.AntiForgeryToken()
                                    @Html.Hidden("InviteId", invite.Id)
                                    <button type="button" class="btn btn-sm" data-toggle="modal" data-target="#accept-@(invite.Id)"><i class="glyphicon glyphicon-check text-success"></i>&nbsp;Принять</button>
                                    @Html.ConfirmDialog(
                                        "accept-" + invite.Id,
                                        "Принять приглашение к совместному проживанию?",
                                        "Подтвердите действие",
                                        "Да",
                                        "Нет")
                                </form>
                                <form method="post" asp-controller="Claim" asp-action="DeclineInvite" enctype="multipart/form-data" asp-route-projectId="@Model.ProjectId" asp-route-claimId="@Model.ClaimId">
                                    @Html.AntiForgeryToken()
                                    @Html.Hidden("InviteId", invite.Id)
                                    <button type="button" class="btn btn-sm" data-toggle="modal" data-target="#cancel-@(invite.Id)"><i class="glyphicon glyphicon-ban-circle text-danger"></i>&nbsp;Отклонить</button>
                                    @Html.ConfirmDialog(
                                        "cancel-" + invite.Id,
                                        "Отклонить приглашение к совместному проживанию?",
                                        "Подтвердите действие",
                                        "Да",
                                        "Нет")
                                </form>
                            </div>
                        </td>
                    }
                    else
                    {
                        <td class="@invite.IsAccepted.GetAppropriateTextStyle()" style="border: none;">@invite.IsAccepted.GetDescription()</td>
                    }
                </tr>
            }
        </table>
    </div>
</div>
