@using JoinRpg.Portal
@using JoinRpg.PrimitiveTypes.Claims
@using JoinRpg.Web.Claims
@using JoinRpg.Web.Models.CommonTypes
@using JoinRpg.Web.ProjectCommon.Claims
@model JoinRpg.Web.Models.CheckIn.CheckInIndexViewModel

@{
  ViewBag.Title = "Регистрация";
}

<h2>Регистрация</h2>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.ProjectId)
  @Html.AntiForgeryToken()

  <component type="typeof(ClaimSelector)" render-mode="Static" param-Name="@("ClaimId")" param-ProjectId="@Model.ProjectId" param-Spec="@(ClaimStatusSpec.ReadyForCheckIn)" />
  
  <input type="submit" class="btn btn-success" value="Зарегистрировать"/>
}

<hr/>
@Html.ActionLink("Статистика по регистрации", "Stat", new {ProjectId = Model.ProjectId.Value})
