
@using JoinRpg.Web.Models.Accommodation
@model RoomTypeListItemViewModel

@{
    var actionParams = new
    {
        roomTypeId = Model.Id,
        projectId = Model.ProjectId
    };
}

    <tr>
        <td>@Model.Name</td>
        <td class="visible-lg">@Model.DescriptionView</td>
        <td class="price-value">@Html.RenderPriceElement(Model.Cost)</td>
        @if (Model.IsInfinite)
        {
            <td class="price-value">@Model.Capacity &#x2715; ∞ = ∞</td>
        }
        else
        {
            <td class="price-value">@Model.Capacity &#x2715; @Model.RoomsCount = Model.TotalCapacity</td>
        }
        <td class="price-value">@(Model.TotalCapacity - Model.Occupied)</td>
        <td class="price-value">
            @(Model.ApprovedClaims - Model.Occupied) / @(Model.Occupied)
            <a title="Показать список заявок на тип поселения «@Model.Name»" class="btn btn-sm btn-default glyphicon glyphicon-option-horizontal" href="@Url.Action("ListForRoomType", "ClaimList", new { Model.ProjectId, RoomTypeId = Model.Id })"></a>
        </td>
        <td>
            @if (Model.IsInfinite)
            {
                <span class="label label-info">Бесконечное</span>
            }
            @if (!Model.IsPlayerSelectable)
            {
                <span class="label label-warning">Закрыто для участников</span>
            }
            @if (Model.IsAutoFilledAccommodation)
            {
                <span class="label label-success">Автозаполнение</span>
            }
        </td>
        <td>
            <div class="btn-group btn-group-sm" style="display: inline-block">
                @if (Model.CanAssignRooms)
                {
                    <a title="Расселение" href="@Url.Action("EditRoomTypeRooms", "AccommodationType", actionParams)" class="btn btn-default">
                        <i class="glyphicon glyphicon-bed"></i>
                    </a>
                }
                @if (Model.CanManageRooms)
                {
                    <a title="Изменить" href="@Url.Action("EditRoomType", "AccommodationType", actionParams)" class="btn btn-primary">
                        <i class="glyphicon glyphicon-pencil"></i>
                    </a>
                }
                @if (Model.CanManageRooms && Model.Occupied == 0)
                {
                    <a title="Удалить" href="@Url.Action("DeleteRoomType", "AccommodationType", actionParams)" class="btn btn-warning" onclick="return confirm('Удалить тип размещения @(Model.Name)?')">
                        <i class="glyphicon glyphicon-trash"></i>
                    </a>
                }
            </div>
        </td>
    </tr>
