<button href="#"
class="@style"
@onclick="OnClickHappened"
type="@buttonType"
disabled="@disabled"
title="@Title">
    @label
</button>
@code {
    [Parameter] public VariationStyleEnum? Variation { get; set; }
    [Parameter] public SizeStyleEnum? Size { get; set; }
    [Parameter] public EventCallback<MouseEventArgs> OnClick { get; set; }
    [Parameter] public bool Submit { get; set; } = false;
    [Parameter] public bool Disabled { get; set; } = false;
    [Parameter] public string? Title { get; set; } = null;
    [Parameter] public ButtonPreset Preset { get; set; } = ButtonPreset.None;

    private string buttonType => Submit ? "submit" : "button";
    private string style => BootstrapStyle.Build("btn", variationResult, Size);
    private bool operationInProgress = false;
    private bool disabled => Disabled || operationInProgress;
    private RenderFragment label => operationInProgress ? progressResult : labelResult;

    private RenderFragment labelResult = null!;
    private RenderFragment progressResult = null!;

    public VariationStyleEnum variationResult = default;

    [Parameter] public string? Label { get; set; }
    [Parameter] public RenderFragment? LabelFragment { get; set; }
    [Parameter] public string? ProgressText { get; set; }
    [Parameter] public RenderFragment? ProgressFragment { get; set; }

    private async Task OnClickHappened(MouseEventArgs e)
    {
        if (disabled) { return; }
        operationInProgress = true;
        await OnClick.InvokeAsync(e);
        operationInProgress = false;
    }

    protected override void OnParametersSet()
    {
        base.OnParametersSet();
        if (Disabled)
        {
            OnClick = EventCallback<MouseEventArgs>.Empty;
        }

        labelResult = SelectLabelFragment(ProgressFragment, ProgressText, Presets[Preset]?.Label);
        progressResult = SelectLabelFragment(ProgressFragment, ProgressText, Presets[Preset]?.Progress);
        variationResult = Variation ?? Presets[Preset]?.Variation ?? VariationStyleEnum.None;
    }

    internal static RenderFragment FormatLabel(string label, string icon) => @<text><span class="glyphicon @icon"></span> @label</text>;

    internal static RenderFragment SelectLabelFragment(RenderFragment? providedFragment, string? providedLabel, (string label, string icon)? providedPreset)
    {
        return (providedFragment, providedLabel, providedPreset) switch
        {
            (RenderFragment fragment, null, null) => fragment,
            (null, string lbl, null) => @<text>@lbl</text>,
            (null, string lbl, (string label, string icon) preset) => FormatLabel(lbl, preset.icon),
            (null, null, (string label, string icon) preset) => FormatLabel(preset.label, preset.icon),
            _ => throw new InvalidOperationException("Do not set both text and fragment")
        };
    }

    private static ((string label, string icon) Label, (string label, string icon) Progress, VariationStyleEnum? Variation) CreatePreset(string label, string progress, string icon, VariationStyleEnum? variation = null)
    {
        return ((label, icon), (progress, "glyphicon-hourglass"), variation);
    }

    private readonly static Dictionary<ButtonPreset, ((string label, string icon) Label, (string label, string icon) Progress, VariationStyleEnum? Variation)?> Presets = new()
    {
        { ButtonPreset.Add, CreatePreset("Добавить", "Добавляем...", "glyphicon-plus", VariationStyleEnum.Success) },
        { ButtonPreset.Cancel, CreatePreset("Отменить", "Отменяем...", "glyphicon-remove", VariationStyleEnum.Danger)},
        {ButtonPreset.Create, CreatePreset("Создать", "Создаем...", "glyphicon-ok", VariationStyleEnum.Success)},
        {ButtonPreset.Delete, CreatePreset("Удалить", "Удаляем...", "glyphicon-trash", VariationStyleEnum.Danger)},
        {ButtonPreset.Download, CreatePreset("Скачать", "Скачиваем...", "glyphicon-cloud-download")},
        {ButtonPreset.Update, CreatePreset("Обновить", "Обновляем...", "glyphicon-refresh")},
        {ButtonPreset.Hide, CreatePreset("Скрыть","Скрываем...", "glyphicon-remove-sign", VariationStyleEnum.Info)},
        {ButtonPreset.None, null}
    };
}
