@using JoinRpg.Portal.AppCodeCompiled
@using JoinRpg.Web.Models
@model SubmitPaymentViewModel

<div class="modal fade" id="submitPaymentDialog" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
        @using (Html.BeginForm("FinanceOperation", "Claim", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="deleteTitle">@(Model.ActionName)</h4>
            </div>
            <div class="modal-body">
                    @Html.HiddenFor(model => model.ClaimId)
                    @if (!Model.ClaimApproved)
                    {
                        <div class="join alert alert-warning" role="alert"><i class="glyphicon glyphicon-warning-sign"></i>
                            Заявка не принята. Вы точно хотите отметить оплату взноса?
                        </div>
                    }

                    @if (Model.HasUnApprovedPayments)
                    {
                        <div class="join alert alert-warning" role="alert"><i class="glyphicon glyphicon-warning-sign"></i>
                            Вы отмечаете новый платеж от игрока, а тем временем игрок уже отметил какой-то платеж самостоятельно.
                            Просмотрите платеж ниже в комментариях, и ответьте на него, чтобы обработать.
                        </div>
                    }

                    <div class="form-horizontal">
                        <div class="form-group">
                            @Html.LabelFor(model => model.Money, htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-8">
                                @Html.EditorFor(model => model.Money, new { htmlAttributes = new { @class = "form-control", style = "display: inline-block; max-width: 150px" } })
                                ₽
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.OperationDate, htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-8">
                                <input id="OperationDate"
                                       name="OperationDate"
                                       data-provide="datepicker"
                                       class="datepicker form-control"
                                       data-date-end-date="0d"
                                       data-date-format="dd.mm.yyyy"
                                       value="@Model.OperationDate.ToString("dd.MM.yyyy")"
                                       style="max-width: 150px"/>
                            </div>
                        </div>

                        @if (Model.PaymentTypeId == 0)
                        {
                            var defaultPaymentType = Model.PaymentTypes.FirstOrDefault(pt => pt.IsDefault);
                            if (defaultPaymentType != null)
                            {
                                Model.PaymentTypeId = defaultPaymentType.PaymentTypeId;
                            }
                        }
                        <div class="form-group">
                            @Html.LabelFor(model => model.PaymentTypeId, htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-8">
                                @Html.DropDownListFor(
                                    model => model.PaymentTypeId,
                                    Model.PaymentTypes.PaymentTypesToSelectBoxItems().OrderBy(i => i.Text))
                            </div>
                        </div>

                        <partial name="../Comments/_AddCommentPartial" model="Model" />
                    </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
                <button class="btn btn-success" type="submit">@(Model.ActionName)</button>
            </div>
        }
        </div>
    </div>
</div>
