@model JoinRpg.Web.Models.Characters.CharacterDetailsViewModel
  
@{
    ViewBag.Title = Model.Navigation.Name;
}


<div class="panel panel-default">
<div class="panel-heading">
    @Html.Partial("CharacterNavigation", Model.Navigation)
</div>
    <div class="panel-body">
          
        <div>
            <dl class="dl-horizontal">
                @if (Model.HasMasterAccess)
                {
                    <dt>История обновлений</dt>
                    <dd>@Html.Partial("CreateUpdated", Model)</dd>
                    
                }
                <dt>Игрок</dt>
                <dd>@Html.DisplayFor(model => model, "IPlayerCharacter")</dd>
                <dt>@Html.DisplayNameFor(model => model.ParentGroups)</dt>
                <dd>@Html.DisplayFor(model => model.ParentGroups)</dd>
            </dl>
        </div>
    </div>

  @if (Model.Fields.AnythingAccessible)
  {
    <div class="form-horizontal">
      @Html.Partial("_EditFieldsPartial", Model.Fields)
    </div>

    if (Model.Fields.ShowFieldsSubtotal)
    {
        @Html.Partial("_CharacterFieldsSubtotal", Model.Fields);
    }
  }
  @Html.Partial("_PlotForCharacterPartial", Model.Plot)
</div>
