@using JoinRpg.Helpers.Web
@using JoinRpg.WebComponents
@model JoinRpg.Web.Models.IOperationsAwareView
@if (ViewBag.HideOperations == true)
{
    return;
}
<div style="display:flex;align-items:center">
    @if (Model.InlineTitle is not null)
    {
        <h2>@Model.InlineTitle</h2>
    }
<div class="btn-group" style="padding: 1em">
    
    @if (Model.CountString != null)
    {
        <a href="#" class="disabled btn btn-default">@Model.CountString</a>
    }
    @{
        var separator = ViewBag.FullyQualifiedUri.Contains('?') ? "&" : "?";
            var exportUri = ViewBag.FullyQualifiedUri + separator + "export=xlsx";
    }
        <component type="typeof(JoinButton)"
                   render-mode="Static"
                   param-Link="@exportUri"
                   param-Preset="@ButtonPreset.Download"
                   param-Title="@("Скачать в Excel")" />

    @if (Model.ShowCharacterCreateButton)
    {
      <component
        type="typeof(JoinButton)"
        render-mode="Static"
        param-Link="@(Url.Action("Create", "Character", new {Model.ProjectId, Model.CharacterGroupId}))"
        param-Preset="@ButtonPreset.Add"
        param-Title="@("Добавить персонажа")"
        />
    }
    @if (Model.ClaimIds.Any() && Model.ProjectId != null)
    {
        <component type="typeof(JoinButton)"
                    render-mode="Static"
                    param-Link="@(@Url.Action("ForClaims", "MassMail", new {Model.ProjectId, ClaimIds = Model.ClaimIds.CompressIdList()}))"
                    param-Preset="@ButtonPreset.Email"
                    param-Title="@("Написать всем")" />
    
    }
    @if (Model.CharacterIds.Any() && Model.ProjectId != null)
    {
            <component type="typeof(JoinButton)"
                       render-mode="Static"
                       param-Link="@(@Url.Action("CharacterList", "Print", new {Model.ProjectId, CharacterIds = Model.CharacterIds.CompressIdList()}))"
                       param-Preset="@ButtonPreset.Email"
                       param-Title="@("Распечатать все")" />
    }

</div>

</div>
