@model JoinRpg.Web.Models.ProjectListItemViewModel
<div class="col-sm-6 col-md-4">
    <div class="thumbnail">
        <div class="caption">
            <h4 style="text-overflow: ellipsis; white-space: nowrap; overflow-x: hidden;overflow-y:hidden" title="@Model.ProjectName">
                <a href="@Url.Action("Details", "Game", new {ProjectId = Model.ProjectId.Value, area = ""}, null)">@Model.ProjectName</a>
            </h4>
            <p>
                @if (Model.IsMaster)
                {
                    <a href="@Url.Action("Details", "Game", new { ProjectId = Model.ProjectId.Value, area = "" }, null)"
                       class="btn btn-info btn-sm"
                       role="button"
                       title="У меня есть права мастера на этой игре">Мой проект</a>
                }

                <a href="@Url.Action("Index", "GameGroups", new { ProjectId = Model.ProjectId.Value, area = "" }, null)"
                   class="btn btn-primary btn-sm"
                   role="button"
                   title="Сетка ролей">
                    Сетка ролей
                </a>

                @if (!Model.IsMaster && Model.PublishPlot)
                {
                    <a href="@Url.Action("Index", "Plot", new { ProjectId = Model.ProjectId.Value, area = "" }, null)"
                   class="btn btn-info btn-sm"
                   role="button">
                     Материалы
                </a>
                }

                @if (Model.HasMyClaims || Model.IsAcceptingClaims)
                {
                    <component type="typeof(JoinRpg.Web.ProjectCommon.Projects.MyClaimButton)"
                               param-ProjectId="@Model.ProjectId"
                               param-HasMyClaims="@Model.HasMyClaims"
                               param-ProjectStatus="@Model.Status"
                               param-Size="@SizeStyleEnum.Small"
                               render-mode="Static" />
                }
            </p>
        </div>
    </div>
</div>

