@using JoinRpg.Web.Models
@using JoinRpg.Web.Models.Money
@model FinanceOperationViewModel

<tr class="@Model.RowCssClass">
    <td>
        @Model.Title
        @if (Model.LinkedClaimId.HasValue)
        {
            if (Model.ShowLinkedClaimLinkIfTransfer)
            {
                @Html.ActionLink(Model.LinkedClaimName, "Edit", "Claim", new {projectId = Model.ProjectId, claimId = Model.LinkedClaimId}, null)
            }
            else
            {
                @Html.DisplayFor(model => model.LinkedClaimUser)
            }
        }
    </td>
    <td>@Model.Date</td>
    <td></td>
    <td class="price-table">@Html.Partial("Money", new Money(Model.Money))</td>
    <td>
        @if (Model.OperationType == FinanceOperationTypeViewModel.Online
             && Model.OperationState == FinanceOperationStateViewModel.Proposed)
        {
            @Html.ActionLink("Обновить статус", "UpdateClaimPayment", "Payments", new {projectId = Model.ProjectId, claimId = Model.ClaimId, orderId = Model.Id}, new {@class = "btn btn-default btn-xs "})
        }
        @Model.Description
    </td>
</tr>
