@using JoinRpg.Web.Models.Plot
@model PlotElementListItemViewModel

@if (!Model.HasMasterAccess && Model.Status != PlotStatus.Completed)
{
    return;
}
<div class="panel panel-default">
    <div class="panel-heading">

        <h4 class="@(Model.Status == PlotStatus.Deleted ? "s" : "")">
            @if (Model.HasMasterAccess)
            {
                @Html.DisplayFor(model => model.Status)
            }
            @switch (Model.ElementType)
            {
                case PlotElementTypeView.RegularPlot:
                    break;
                case PlotElementTypeView.Handout:
                    <span class="label label-info">Раздатка</span>
                    break;
                default:
                    throw new ArgumentOutOfRangeException();
            }
            <a role="button" data-toggle="collapse" data-parent="#elementsaccordion" href="#panelPlotElement@(Model.PlotElementId)">
                @Model.ShortContent
            </a>

        </h4>
        <div>
            <b>Для</b>
            @if (Model.TargetsForDisplay.Any())
            {
                foreach (var target in Model.TargetsForDisplay)
                {
                    @Html.DisplayFor(model => target)
                }
            }
            else
            {
                <span>Не установлено</span>
            }
        </div>

    </div>
    <div class="panel-collapse collapse" id="panelPlotElement@(Model.PlotElementId)" role="tabpanel">
        <div class="panel-body">

            @if (Model.HasEditAccess)
            {
                <a class="btn btn-default btn-sm"
                   href="@Url.Action("EditElement", "Plot", new {Model.PlotElementId, Model.PlotFolderId, Model.ProjectId}, null)">Изменить</a>

                if (Model.Status == PlotStatus.InWork && string.IsNullOrWhiteSpace(Model.TodoField))
                {
                    <button type="button" class="btn btn-success btn-sm" data-toggle="modal" data-target="#publishElementModal" data-element="@Model.PlotElementId">
                        Опубликовать
                    </button>
                }
                if (Model.Status != PlotStatus.Deleted)
                {
                    <button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#deleteElementModal" data-element="@Model.PlotElementId">
                        Удалить
                    </button>
                }
                <hr/>
                if (!string.IsNullOrWhiteSpace(Model.TodoField))
                {
                    <p><b style="color: orange">TODO:</b> @Model.TodoField</p>
                }
            }
            
            @{
                var hideClassName = Model.Status == PlotStatus.InWork ? "world-object-hidden" : "";
            }
            <div class="@hideClassName">
                @Model.Content
                @if (string.IsNullOrWhiteSpace(Model.Content.ToHtmlString()))
                {
                    <i>Вводная пуста</i>
                }
            </div>
        </div>
    </div>
</div>
