@using JoinRpg.Web.Models.Plot
@model JoinRpg.Web.Models.Plot.EditPlotFolderViewModel

@{
    ViewBag.Title = "Сюжет " + @Model.PlotFolderMasterTitle;
}

<h2>@ViewBag.Title</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <p>Сюжет редактируется вот тут</p>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.PlotFolderId)
        @Html.HiddenFor(model => model.ProjectId)

        <div class="form-group">
            @Html.LabelFor(model => model.PlotFolderMasterTitle, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PlotFolderMasterTitle, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PlotFolderMasterTitle, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TodoField, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TodoField, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.TodoField, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                
                <input type="submit" value="@(Model.Status == PlotStatus.Deleted ? "Восстановить" : "Сохранить")" class="btn btn-default"/>
            </div>
        </div>
    </div>
}

<p>
    @Html.ActionLink("Добавить новую вводную", "CreateElement", new { Model.PlotFolderId, Model.ProjectId})
</p>

@Html.Partial("Elements", Model.Elements)

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
