@using JoinRpg.Helpers
@using JoinRpg.Web.App_Code
@using JoinRpg.Web.Models.Plot
@model EditPlotElementViewModel

@{
    string objectName;
    switch (Model.ElementType)
    {
        case PlotElementTypeView.RegularPlot:
            objectName = "вводной";
            break;
        case PlotElementTypeView.Handout:
            objectName = "раздатки";
            break;
        default:
            throw new ArgumentOutOfRangeException();
    }
    ViewBag.Title = "Редактирование " + objectName;
}

<h2>Редактирование вводной</h2>
@using (Html.BeginForm("EditElement", "Plot", new {Model.PlotElementId, Model.PlotFolderId, Model.ProjectId}, FormMethod.Post))
{
    <div class="form-horizontal">
        @Html.AntiForgeryToken()

        <div class="form-group">
            @Html.LabelFor(model => model.Targets, htmlAttributes: new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @if (!Model.HasManageAccess && Model.HasPublishedVersion)
                {
                    <b>Для</b>
                    if (Model.TargetsForDisplay.Any())
                    {
                        foreach (var target in Model.TargetsForDisplay)
                        {
                            @Html.DisplayFor(model => target)
                        }
                    }
                    else
                    {
                        <span>Не установлено</span>
                    }
                  <div class="help-block">Только редакторы сюжетов могут изменять привязку вводных, которые уже опубликованы.</div>
                }
                else
                {
                    @Html.MagicSelectBind(model => model.Targets)  
                }
                @Html.ValidationMessageFor(model => model.Targets, "", new {@class = "text-danger"})
                @Html.DescriptionFor(model => model.Targets)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => Model.Content, htmlAttributes: new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                
                @if (Model.ElementType == PlotElementTypeView.Handout)
                {
                    @Html.TextBoxFor(model => Model.Content,  new {@class = "form-control"})
                }
                else
                {
                    @Html.EditorFor(model => Model.Content, new { htmlAttributes = new { @class = "form-control" } })
                }
                @Html.ValidationMessageFor(model => Model.Content, "", new {@class = "text-danger"})
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => Model.TodoField, htmlAttributes: new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.EditorFor(model => Model.TodoField, new {htmlAttributes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(model => Model.TodoField, "", new {@class = "text-danger"})
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="@(Model.Status == PlotStatus.Deleted ? "Восстановить" : "Сохранить")" class="btn btn-default btn-success"/>
                |
                <a href="@Url.Action("Edit", "Plot", new {Model.PlotFolderId, Model.ProjectId}, null)">назад к списку</a>
            </div>

        </div>
    </div>
}
