@model JoinRpg.Web.Models.Plot.PlotElementListItemViewModel
<h4>Вводная
    @Html.ActionLink("Изменить", "EditElement", new { PlotFolderElementId = Model.PlotElementId }) | @Html.ActionLink("Удалить", "DeleteElement", new { PlotFolderElementId = Model.PlotElementId })</h4>
<p>
    <b>Для</b>:
    @if (Model.For.Any())
    {
        foreach (var target in Model.For)
        {
        @Html.DisplayFor(model => target)
        }
    }
    else
    {
    <span>Не установлено</span>
    }
</p>
<div title="@Model.Content" style="max-height: 5em; overflow-y: hidden">
    @Html.DisplayFor(model => Model.Content)
    @if (string.IsNullOrWhiteSpace(Model.Content.Contents))
    {
        <i>Вводная пуста</i>
    }
</div>