@using JoinRpg.Web.Models.Plot
@model PlotFolderFullListViewModel

@{
    ViewBag.Title = "Сюжеты " + Model.ProjectName;
}

<h2>@ViewBag.Title</h2>

@foreach (var item in Model.Folders)
{
    <h2>@item.PlotFolderMasterTitle</h2>
    <p>@DisplayCount.OfX(item.ElementsCount, "вводная", "вводные", "вводных")</p>

    <p>@Html.DisplayFor(modelItem => item.Summary)</p>
    foreach (var plot in item.Elements)
    {
        @Html.Partial("ShowElementPartial", plot)
    }
    <hr/>
}
