@using JoinRpg.Web.Models.Plot
@model PlotFolderListViewModel

@{
    ViewBag.Title = "Сюжеты";
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Создать новый сюжет", "Create", new {Model.ProjectId})
</p>
@{
  var firstItem = Model.Folders.FirstOrDefault();
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => firstItem.PlotFolderMasterTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => firstItem.Status)
        </th>
        <th>Вводные</th>
        <th></th>
    </tr>

@foreach (var item in Model.Folders) {
    <tr>
        <td>
            @Html.DisplayFor(model => item)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>@DisplayCount.OfX(item.ElementsCount, "вводная", "вводные", "вводных")
        @if (!string.IsNullOrWhiteSpace(item.ElementTodos))
        {
            <span title="@item.ElementTodos">TODO</span>
        }
        </td>
        <td>
           @if (item.Status != PlotStatus.Deleted)
           {
               @Html.ActionLink("Удалить", "Delete", new {item.PlotFolderId, item.ProjectId})
           }
        </td>
    </tr>
}

</table>
