@using JoinRpg.Web.App_Code
@using JoinRpg.Web.Models.Plot
@model PlotElementViewModel

@{
    var hideClass = Model.Status == PlotStatus.InWork ? "world-object-hidden" : "";
    string id = @"pe" + Model.PlotElementId;
}

<div id="@id">
    @if (Model.HasMasterAccess || Model.PublishMode)
    {
        <div>
            @if (Model.HasEditAccess)
            {
                @Html.DisplayFor(model => model.Status)
            }
            <b>Для</b>
            @if (Model.TargetsForDisplay.Any())
            {
                foreach (var target in Model.TargetsForDisplay)
                {
                    @Html.DisplayFor(model => target)
                }
            }
            else
            {
                <span>Не установлено</span>
            }
            @if (Model.HasEditAccess)
            {

                <span>
                    @Html.ActionLink(
                      "Изменить",
                      "Edit",
                      "Plot",
                      null,
                      null,
                      "panelPlotElement" + Model.PlotElementId,
                      new { Model.PlotFolderId, Model.ProjectId },
                      new { @class = "btn btn-default btn-sm" })

                    @if (Model.CharacterId != null)
                    {
                        @Html.MoveControl(model => Model, "MoveElementForCharacter", "Plot", Model.CharacterId)
                    }
                </span>
            }
        </div>
    }

    @if (!string.IsNullOrWhiteSpace(Model.TodoField) && Model.HasMasterAccess)
    {
        <p><b>Доделать</b>: @Model.TodoField</p>
    }

    <div class="@hideClass">
        @Model.Content
    </div>
</div>
