@using JoinRpg.Web.Models.Plot
@model PlotElementViewModel

 @if (Model.Status == PlotStatus.Deleted)
 {
     return;
 }

@{
    var hideClass = "";
}

@if (Model.Status == PlotStatus.InWork)
{
    if (!Model.HasMasterAccess)
    {
        return;
    }

    <b>Не готов</b>

    hideClass = "world-object-hidden";

}
@*TODO: show "For" field for masters *@
<div class="@hideClass">
    @Html.DisplayFor(model => Model.Content)
</div>

@if (Model.HasMasterAccess)
{ var moveParameters = new
  {
      Model.ProjectId,
      Model.PlotElementId,
      ViewBag.CharacterId,
  }; 
    <div>
        @Html.ActionLink("Изменить", "Edit", "Plot", new {Model.PlotFolderId, Model.ProjectId}, null)
        @if (!Model.First)
        {
        <a href="@Url.Action("MoveUpElementForCharacter", "Plot", moveParameters, null)"><span title="переместить выше" class="glyphicon glyphicon-arrow-up"></span></a>
        }
        @if (!Model.Last)
        {
        <a href="@Url.Action("MoveDownElementForCharacter", "Plot", moveParameters, null)"><span title="переместить ниже" class="glyphicon glyphicon-arrow-down"></span></a>
        }
    </div>
}