@using JoinRpg.Web.Models
@using Microsoft.AspNetCore.Identity
@model UserProfileDetailsViewModel
<table>
    <tr>
      <td style="vertical-align: top;padding-right:5px">
        <vc:avatar user-avatar-id-or-null="@Model.Avatar"
                   user-id="@Model.User.UserId"
                   recommended-size="64" />
      </td>
        <td>
            @Html.DisplayFor(model => model.User)
            @if (!string.IsNullOrWhiteSpace(Model.FullName))
            {
                <br /> @Model.FullName
            }
            @if (Model.Email is not null)
            {
                <br /><component type="typeof(EmailLink)" render-mode="Static" param-Contact="@Model.Email" />
                @if (!Model.EmailConfirmed && Model.ViewAsAdmin)
                {
                    <component type="typeof(InfoIcon)" render-mode="Static" param-Title="@("Email не подтвержден")" />
                }
            }
            @if (Model.PhoneNumber is not null)
            {
                <br /><component type="typeof(PhoneLink)" render-mode="Static" param-Contact="@Model.PhoneNumber" />
            }
            @if (Model.Telegram?.UserName is not null)
            {
                <br /><component type="typeof(TelegramLink)" render-mode="Static" param-Contact="@Model.Telegram" />
            }
            @if (Model.Livejournal is not null)
            {
                <br /><component type="typeof(LiveJournalLink)" render-mode="Static" param-Contact="@Model.Livejournal" />
            }
            @if (Model.Vk is not null)
            {
                <br /><component type="typeof(VkLink)" render-mode="Static" param-Contact="@Model.Vk" />
            }
            @if (Model.AllrpgId != null && Model.AllrpgId != 0)
            {
                <br />
                <a href="https://www.allrpg.info/people/@Model.AllrpgId/">Профиль на allrpg</a>
            }
            @if (!Model.HasSocialAccess)
            {
              <p>Игрок предпочитает сохранять анонимность.</p>
            }
        </td>
    </tr>
</table>
