@using JoinRpg.Web.Models
@model SearchResultViewModel
@{
  ViewBag.Title = "Результаты поиска";
}

<h2>@ViewBag.Title</h2>
@if (!string.IsNullOrEmpty(Model.SearchString))
{
    <p>Вы искали: @Model.SearchString</p>
    if (Model.ResultsByProject.Any())
    {

        foreach (var resultsForProject in Model.ResultsByProject)
        {
            <div class="panel panel-default">
                @if (resultsForProject.Key != null)
                {
                    <div
                        class="panel-heading"
                        style="@(Model.ProjectDetails[resultsForProject.Key.Value].IsActive ? "" : "text-decoration: line-through")">
                        @Model.ProjectDetails[resultsForProject.Key.Value].ProjectName
                    </div>
                }

                <div class="panel-body">
                    @foreach (var result in resultsForProject)
                    {
                        @Html.DisplayFor(m => result)
                    }
                </div>
            </div>

        }
    }
    else
    {
        <p>Ничего не найдено</p>
    }
}
else
{
    <p>Вы ничего не искали</p>
}
