@using JoinRpg.Web.ProjectCommon
@using Microsoft.JSInterop
@inject IGameSubscribeClient Client
@if (model is null)
{
  <JoinLoadingMessage />
  return;
}

@if (addingModel is not null)
{
    <AddSubscribe ProjectId="@ProjectId" Model="@addingModel" OnClose="@(() => {addingModel = null;})" OnSave="OnAddRow" />
}
else
{
    <JoinButton Preset="ButtonPreset.Add"  Label="Подписаться на группу" OnClick="OnAddClicked" Disabled="@(!model.AllowChanges)"/> 
}

<div class="master-subscribe-list">
  <JoinTableSimple>
    <TableHeader>
        <th>Предмет подписки</th>
        <th>Виды операций</th>
        <th></th>
    </TableHeader>
    <TableBody>
      @foreach (var item in model.Items)
      {
        <MasterSubscribeListRow Model="@item" OnRemoveCallback="OnRemoveRow" @key="@item.UserSubscriptionId" />
      }
      @foreach (var paymentType in model.PaymentTypeNames)
      {
        <tr>
          <td title="Эту подписку нельзя настроить">Взносы/@paymentType</td>
          <td>
            <JoinBadge Variation="VariationStyleEnum.Success">
              Отмеченные взносы
            </JoinBadge>
          </td>
          <td></td>
        </tr>
      }
      <tr>
        <td title="Эту подписку нельзя настроить">Заявки, за которые ответственен</td>
        <td>
          <JoinBadge Variation="VariationStyleEnum.Success">
            Любые изменения
          </JoinBadge>
        </td>
        <td></td>
      </tr>
    </TableBody>
  </JoinTableSimple>

</div>
@code {
    private SubscribeListViewModel? model;

    private EditSubscribeViewModel? addingModel = null;

    [Parameter]
    public SubscribeListViewModel? InitialModel { get; set; }

    [Parameter]
    public int MasterId { get; set; }

    [Parameter]
    public int ProjectId { get; set; }

    protected async override Task OnInitializedAsync()
    {
        if (InitialModel != null)
        {
            model = InitialModel;
        }
        else
        {
            model = await Client.GetSubscribeForMaster(ProjectId, MasterId);
        }
    }

    async Task OnRemoveRow(SubscribeListItemViewModel item)
    {
        model!.Items.Remove(item);
        await Client.RemoveSubscription(ProjectId, item.UserSubscriptionId);
    }

    private async Task OnAddRow(EditSubscribeViewModel added)
    {
        await Client.SaveGroupSubscription(ProjectId, added);
        addingModel = null;
        model = await Client.GetSubscribeForMaster(ProjectId, MasterId);
    }

    private void OnAddClicked()
    {
        addingModel = new()
            {
                GroupId = null!, //Will be ignored
                MasterId = MasterId,
                Options = new(),
                UserSubscriptionId = null,
            };
    }

}
