@using JoinRpg.Web.Models.Plot
@using JoinRpg.Web.Plots
@model PlotElementEditViewModel

@{
    string objectName;
    switch (Model.ElementType)
    {
        case PlotElementTypeView.RegularPlot:
            objectName = "вводной";
            break;
        case PlotElementTypeView.Handout:
            objectName = "раздатки";
            break;
        default:
            throw new ArgumentOutOfRangeException();
    }
    ViewBag.Title = "Редактирование " + objectName;
}

<h2>@ViewBag.Title</h2>
@using (Html.BeginForm("EditElement", "Plot", new {Model.PlotElementId, Model.PlotFolderId, Model.ProjectId}, FormMethod.Post))
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <component type="typeof(JoinRpg.Web.Plots.PlotElementEditPanel)"
                   param-Model="@Model"
                   render-mode="WebAssemblyPrerendered" />

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="@(Model.Status == PlotStatus.Deleted ? "Восстановить" : "Сохранить")" class="btn btn-default btn-success"/>
                |
                <a href="@Url.Action("Edit", "Plot", new {Model.PlotFolderId, Model.ProjectId}, null)">назад к списку</a>
            </div>
        </div>
    </div>
}
