    <footer>
  <hr />
  &copy; <a href="http://bastilia.ru">#</a>ЛеоЦарев и друзья.
  <a asp-controller="Home" asp-action="Support">Поддержка</a>:
  <a href="mailto:support@joinrpg.ru"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span></a>
  <a href="https://vk.com/joinrpg">ВК</a> @Html.HelpLink("", "").
  Информация о @Html.ActionLink("приеме платежей", "Index", "OnlinePayments").
  <!-- Версия Версия проекта: @typeof(Startup).Assembly.GetName().Version -->
  <ul class="nav navbar-right navbar-nav">
    <li><a href="@Url.Action("Language", "Home", new { culture = "en-US" })"><img src="~/images/flags/en-US.png"></img></a></li>
    <li><a href="@Url.Action("Language", "Home", new { culture = "ru-RU" })"><img src="~/images/flags/ru-RU.png"></img></a></li>
    <li><a href="@Url.Action("Language", "Home", new { culture = "de-DE" })"><img src="~/images/flags/de-DE.png"></img></a></li>
  </ul>
</footer>
