@using JoinRpg.Portal.Infrastructure.Authentication
@model           JoinRpg.Web.Models.ClaimList.ClaimListViewModel

@await Html.PartialAsync("_ListOperationsDropdown", Model)

@{
    var firstItem = Model.Items.FirstOrDefault();
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => firstItem!.Name)
        </th>
            <th>
                @Html.DisplayNameFor(model => firstItem!.Player)
            </th>
        <th>
            @Html.DisplayNameFor(model => firstItem!.ClaimFullStatusView)
        </th>
        <th>
            @Html.DisplayNameFor(model => firstItem!.UpdateDate)
        </th>
            <th>@Html.DisplayNameFor(model => firstItem!.Responsible)</th>
            <th>@Html.DisplayNameFor(model => firstItem!.Problems)</th>
    </tr>

    @foreach (var item in Model.Items.OrderByDescending(c => c.UpdateDate))
    {
        <tr>
            <td>
                <a href="@Url.Action("Edit", "Claim", new {ProjectId = item.ClaimId.ProjectId.Value, item.ClaimId.ClaimId}, null)">
                    @item.Name
                    @if (item.UnreadCommentsCount > 0)
                    {
                        <span class="badge" title="Непрочитанные комментарии">@item.UnreadCommentsCount</span>
                    }
                </a>
            </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Player)
                    @if (!string.IsNullOrWhiteSpace(item.PlayerFullName))
                      {<text><br /> @item.PlayerFullName </text>
                      }
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClaimFullStatusView)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdateDate)
                @if (item.LastModifiedBy != null)
                {
                    if (item.LastModifiedBy.UserId == User.GetUserIdOrDefault())
                    {
                        <text>мной</text>
                    }
                    else if (item.LastModifiedBy == item.Player)
                    {
                        <text>игроком</text>
                    }
                    else if (item.LastModifiedBy == item.Responsible)
                    {
                        <text>отв. мастером</text>
                    }
                    else
                    {
                        @Html.DisplayFor(modelItem => item.LastModifiedBy)
                    }
                }
            </td>

                <td>@Html.DisplayFor(modelItem => item.Responsible)</td>
                <td>
                    @foreach (var pr in item.Problems)
                    {
                        @Html.DisplayFor(modelItem => pr)
                    }
                </td>
        </tr>
    }

</table>
