@model string
@*
    @{
      var requiredMsg = new HtmlString("");
        var validation = false;
      foreach (var attr in @Html.GetUnobtrusiveValidationAttributes(@ViewData.TemplateInfo.HtmlFieldPrefix, @ViewData.ModelMetadata))
      {
          if (attr.Key == "data-val-required")
          {
              requiredMsg = new HtmlString("data-val-required='" + HttpUtility.HtmlAttributeEncode((string) attr.Value) + "'");
              validation = true;
          }
      }
    }
    >id="@(ViewData.TemplateInfo.HtmlFieldPrefix)"
            name="@(ViewData.TemplateInfo.HtmlFieldPrefix)"
            @requiredMsg @(validation ? "data-val=true" : "") *@
<textarea class="form-control"
          cols="100"
          asp-for="@Model"
          rows="4">@(Model ?? "")</textarea>
<div class="help-block">Можно использовать <a href="http://commonmark.org/help/" target="_blank">MarkDown</a> (**<b>полужирный</b>**, _<i>курсив</i>_)</div>
