<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="@Assets["app.css"]" />
    <link rel="stylesheet" href="@Assets["JoinRpg.IdPortal.styles.css"]" />
    <link rel="stylesheet" href="@Assets["twitter-bootstrap/css/bootstrap.min.css"]"/>


    <ImportMap />
    <HeadOutlet />

    <script src="@Assets["jquery/jquery.min.js"]"></script>
    <script src="@Assets["twitter-bootstrap/js/bootstrap.min.js"]"></script>
</head>

<body>
    <Routes />
    <script src="_framework/blazor.web.js"></script>
</body>

</html>
