@using JoinRpg.Web.Models
@using Newtonsoft.Json
@model ErrorViewModel

<h1>@Model.Title</h1>

<div class="join alert alert-danger">
    <i class="glyphicon glyphicon-exclamation-sign"></i>
    <div>
        <h4 style="margin: 0;">@Model.Message</h4>
        @if (!string.IsNullOrWhiteSpace(Model.Description))
        {
            <div style="margin-top: 1em;">@Model.Description</div>
        }
    </div>
</div>

@if (Model.Data != null)
{
    if (Model.Debug)
    {
        <pre style="width: 100%; height: 300px; overflow: scroll;">
            @Model.Data.ToString()
        </pre>
    }
    else
    {
        <!-- @Model.Data.ToString() -->
    }
}

@if (!string.IsNullOrWhiteSpace(Model.ReturnLink))
{
    <a class="btn btn-default" href="@Model.ReturnLink">@(string.IsNullOrWhiteSpace(Model.ReturnText) ? Model.ReturnLink : Model.ReturnText)</a>
}
