@inject ILogger<CreateProjectPanel> logger
<JoinPanel>
    <Header>Создание новой базы заявок</Header>
    <Body>
        <EditForm FormName="CreateProject" EditContext="@editContext" OnValidSubmit="ValidSubmitted">
            <FormHorizontal>
                <DataAnnotationsValidator />    
                <ValidationSummary />
                <FormRowFor For="@(() => Model.ProjectName)">
                    <InputText @bind-Value="Model.ProjectName" class="form-control" />
                </FormRowFor>
                <FormRowFor For="@(() => Model.RulesApproved)">
                    <CheckboxInput @bind-Value="Model.RulesApproved" />
                </FormRowFor>
                <FormRowFor For="@(() => Model.ProjectType)">
                    <EnumRadioButtonGroup2 @bind-SelectedValue="Model.ProjectType" Name="nameof(Model.ProjectType)"/>
                </FormRowFor>
                  <FormRowFor For="@(() => Model.CopyFromProjectId)" hidden="@(Model.ProjectType != ProjectTypeViewModel.CopyFromAnother)">
                  <ProjectSelector @bind-ProjectId=" Model.CopyFromProjectId" Name="CopyFromProjectId" />
                </FormRowFor>
                <FormRow>
                    <JoinCreateButton Submit="true" Disabled="@formInvalid" />
                </FormRow>
            </FormHorizontal>
        </EditForm>
    </Body>
</JoinPanel>

@code {

    private EditContext? editContext;
    private bool formInvalid = true;

    [Parameter]
    [EditorRequired]
    [SupplyParameterFromForm]
    public ProjectCreateViewModel Model { get; set; } = null!;

    protected override void OnInitialized()
    {
        Model ??= new();
        editContext = new(Model);
        //editContext.OnValidationRequested += HandleValidationRequested;
        editContext.OnFieldChanged += HandleFieldChanged;

        logger.LogInformation("Setup everything");
    }

    private void HandleFieldChanged(object? sender, FieldChangedEventArgs e)
    {

        if (editContext is not null)
        {
            logger.LogInformation("Validating...");
            formInvalid = !editContext.Validate();
            logger.LogInformation(string.Join(",", editContext.GetValidationMessages()));
            StateHasChanged();
        }
    }

    private void ValidSubmitted()
    {
        logger.LogInformation("Submitted...");
    }

}
