@using JoinRpg.Web.Models
@using JoinRpg.Web.Models.Masters
@model AclViewModel

@{
    ViewBag.Title = "Добавление мастера в проект " + Model.ProjectName;
}

<h2>@ViewBag.Title</h2>

<div>
    @Html.DisplayFor(model => model.UserDetails)
</div>


@using (Html.BeginForm(FormMethod.Post))
{
  <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    @foreach (var badge in Model.Badges)
    {
        <partial name="_PermissionBadgeCheckbox" model="@badge" />
    }
    
    <input type="submit" value="Добавить" class="btn btn-success" />
    | <a asp-controller="User" asp-action="Details" asp-route-userId="@Model.UserId">вернуться в профиль пользователя</a>
  </div>
}
