@using JoinRpg.Web.Models.CharacterGroups;
@model JoinRpg.Web.Models.DeleteAclViewModel

@{
    ViewBag.Title = "Снять доступ мастеру";
    string header = Model.SelfRemove
      ? "Вы точно желаете покинуть пост мастера проекта?"
      : "Вы действительно хотите снять доступ мастеру?";
    string submitButtonText = Model.SelfRemove
      ? "Покинуть пост мастера"
      : "Снять доступ";
}

<h3>@header</h3>
<div class="form-horizontal">
    <div>
        @Html.DisplayFor(model => model.InnerModel.UserDetails)
    </div>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.ProjectId)
        @Html.HiddenFor(model => model.ProjectAclId)
        @Html.HiddenFor(model => model.UserId)

        if (Model.InnerModel.ClaimsCount > 0 || Model.InnerModel.ResponsibleFor.Count > 0)
        {
            <div class="form-group">
                @Html.LabelFor(model => model.ResponsibleMasterId, htmlAttributes: new {@class = "control-label col-md-2"})
                <div class="col-md-6">
                    <component type="typeof(JoinRpg.Web.ProjectCommon.MasterSelector)"
                      param-Name="nameof(Model.ResponsibleMasterId)"
                      param-ProjectId="@Model.ProjectId"
                      param-IdsToRemove="@(new int[] {Model.UserId})"
                      render-mode="Static" />
                </div>
            </div>
        }

        <div>
            <input type="submit" value="@submitButtonText" class="btn btn-danger"/> |
            @Html.ActionLink("Назад к списку мастеров", "Index", new {Model.ProjectId})
        </div>


    }
</div>
