@model JoinRpg.Web.Areas.Admin.Models.AssociateAllrpgProjectViewModel
@using (Html.BeginForm("AssociateProject", "Allrpg"))
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        <div class="form-group">
            @Html.LabelFor(model => model.ProjectId, htmlAttributes: new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.EditorFor(model => model.ProjectId, "ProjectDropDown", new {Model.Projects})
                @Html.ValidationMessageFor(model => model.ProjectId, "", new {@class = "text-danger"})
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AllrpgProjectId, htmlAttributes: new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.AllrpgProjectId)
                    @Html.ValidationMessageFor(model => model.AllrpgProjectId, "", new {@class = "text-danger"})
                </div>
            </div>
        </div>


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Ассоциировать проект" class="btn btn-default"/>
            </div>
        </div>
    </div>
}