@model JoinRpg.Web.Models.Schedules.SchedulePageViewModel

@{
    ViewBag.Title = "Расписание";
}

<h2>@ViewBag.Title</h2>

@Html.ActionLink("Открыть во весь экран", "FullScreen", "ShowSchedule", new { projectId = Model.ProjectId }, new { @class = "btn btn-default" })

<section class="scheduler-container">
    @Html.Partial("Scheduler", Model)
</section>

@if (Model.Intersections.Count > 0)
{
    <h3>Мероприятия, пересекающиеся друг с другом</h3>
    <section>
        @Html.Partial("Intersections", Model)
    </section>
}
@if (Model.NotAllocated.Count > 0)
{
    <h3>Мероприятия, не размещенные в сетке</h3>
    <section>
        @Html.Partial("Notallocated", Model)
    </section>
}

@section styles {
    <link rel="stylesheet" href="~/Content/Scheduler.css" />
    <style type="text/css">
        .scheduler-container {
            display: block;
            width: 100%;
            height: 600px;
            overflow: hidden;
            margin-top: 1em;
        }

            .scheduler-container .scheduler-header {
                border-left: 1px solid silver;
                border-right: 1px solid silver;
            }

            .scheduler-container .scheduler-content {
                border: 1px solid silver;
            }
    </style>
}
