@using JoinRpg.Web.Models.Accommodation
@model ClaimAccommodationViewModel
<div>
    @Html.Partial("CharacterNavigation", Model.Navigation)
    <h2>Поданы заявки на проживание</h2>
    @if (!Model.AccommodationRequests.Any())
    {
        <h5>Заявки на проживание не подавались.</h5>
    }
    <hr />
    <h2>Возможные варианты проживания</h2>
@foreach (var accommodationType in Model.AvailableAccommodationTypes)
{
    <button>
        @accommodationType.Name (@accommodationType.Capacity места, @accommodationType.Cost рублей)<br/>
        @accommodationType.Description
    </button>
}
    <table class="table table-striped">
        <thead>
        <th>Тип размещения</th>
        <th>Стоимость</th>
        <th>Мест в номере</th>
        <th>Всего мест</th>
        <th>Действия</th>
        </thead>
        @foreach (var accommodationType in Model.AvailableAccommodationTypes)
        {
            <tr>
                <td>@accommodationType.Name</td>
                <td>@accommodationType.Cost</td>
                <td>@accommodationType.Capacity</td>
                <td>Not yet impl</td>

                <td>
                    @Html.RouteLink("Выбрать", new { accommodationId = accommodationType.Id, ProjectId = accommodationType.ProjectId, action = "Edit", Controller = "AccommodationType" }, new { @class = "btn btn-default" })
                </td>
            </tr>
        }

    </table>

</div>
