@using JoinRpg.Web.Models.Accommodation
@model ClaimAccommodationViewModel
<div>
    @Html.Partial("CharacterNavigation", Model.Navigation)
    <h2>Поданы заявки на проживание</h2>
    @if (!Model.AccommodationRequests.Any())
    {
        <h5>Заявки на проживание не подавались.</h5>
    }
    <hr />
    <h2>Возможные варианты проживания</h2>
  
    @foreach (var accommodationType in Model.AvailableAccommodationTypes)
    {
        <div class="radio">
            <label>
                
                <input type="radio" name="optionsRadios" id="accomodationType @accommodationType.Id" value="@accommodationType.Id">
                @accommodationType.Name (@accommodationType.Capacity места, @accommodationType.Cost рублей)<br />
                @accommodationType.Description
            </label>
        </div>

    }
    <button class="btn btn-default" type="button">Сохранить проживание</button>
  

</div>
