@model JoinRpg.Web.Models.AddCommentViewModel

@Html.AntiForgeryToken()
@Html.ValidationSummary(true, "", new { @class = "text-danger" })
@Html.HiddenFor(model => model.ProjectId)
@Html.HiddenFor(model => model.CommentDiscussionId)
@Html.HiddenFor(model => model.ParentCommentId)

@Html.Partial("..\\Comments\\_CommentTextEditorPartial", Model)

@if (Model.EnableHideFromUser || Model.EnableFinanceAction)
{
    if (Model.EnableHideFromUser)
    {
        <div class="form-group">
            <div class="col-md-12">
                @if (Model.HideFromUser)
                {
                    @Html.EditorFor(model => model.HideFromUser, new { formIndex = Model.FormIndex, disabled = true, value = true })
                    @Html.HiddenFor(model => model.HideFromUser)
                }
                else
                {
                    @Html.EditorFor(model => model.HideFromUser, new { formIndex = Model.FormIndex })
                }
            </div>
        </div>
    }
    if (Model.EnableFinanceAction)
    {
        <div class="form-group">
            <div class="col-md-12">
                @Html.LabelFor(model => model.FinanceAction, new { @class = "control-label" })
                @Html.EditorFor(model => model.FinanceAction, new { htmlAttributes = new { @class = "form-control" }, formIndex = Model.FormIndex })
            </div>
        </div>
    }
}
