@model JoinRpg.Web.Models.AddCommentViewModel

@Html.AntiForgeryToken()
@Html.ValidationSummary(true, "", new { @class = "text-danger" })
@Html.HiddenFor(model => model.ProjectId)
@Html.HiddenFor(model => model.CommentDiscussionId)
@Html.HiddenFor(model => model.ParentCommentId)

@Html.Partial("..\\Comments\\_CommentTextEditorPartial", Model)

@if (Model.EnableHideFromUser || Model.EnableFinanceAction)
{
    <div class="form-group">
        @if (Model.EnableHideFromUser)
        {
            <div class="col-md-12">
                @if (Model.HideFromUser)
                {
                    @Html.CheckBoxFor(model => model.HideFromUser, new {enabled = false, value = true})
                    @Html.HiddenFor(model => model.HideFromUser)
                }
                else
                {
                    @Html.CheckBoxFor(model => model.HideFromUser)
                }
                @Html.LabelFor(model => model.HideFromUser, new {@class = "control-label"})
            </div>
        }
        @if (Model.EnableFinanceAction)
        {
            @Html.LabelFor(model => model.FinanceAction, new { @class = "control-label" })
            @Html.EditorFor(model => model.FinanceAction, new { htmlAttributes = new { @class = "form-control" } })}
    </div>
}
