@using JoinRpg.Web.Models
@model IEntityWithCommentsViewModel
@{
    AddCommentViewModel addCommentModelTop = new AddCommentViewModel(Model);
    AddCommentViewModel addCommentModelBottom = new AddCommentViewModel(Model);
}

<script type="text/javascript">
    const addCommentBtnIdPrefix = '@(AddCommentViewModel.AddButtonIdTemplate)';
    const addCommentFormIdPrefix = '@(AddCommentViewModel.FormIdTemplate)';

    let opened = [];

    function toggleCommentEditor(formIndex, focus)
    {
        $('#' + addCommentBtnIdPrefix + formIndex).collapse('toggle');
        $('#' + addCommentFormIdPrefix + formIndex).collapse('toggle');
        if (focus)
        {
            opened.forEach(i => toggleCommentEditor(i, false));
            opened = [];
            opened.push(formIndex);
            $('#' + addCommentFormIdPrefix + formIndex).focus();
        }
    }
</script>
<div id="@(addCommentModelTop.AddButtonId)" class="collapse in">
    <button class="btn btn-default" onclick="toggleCommentEditor(@(addCommentModelTop.FormIndex), true)">Добавить комментарий</button>
</div>
<div id="@(addCommentModelTop.FormId)" class="collapse">
    @Html.Partial("..\\Comments\\_AddCommentFormPartial", addCommentModelTop)
</div>

<div class="media-list" style="margin-top: 1em;">
    @foreach (var comment in Model.RootComments)
    {
        @Html.Partial("..\\Comments\\_CommentPartial", comment)
    }
</div>

@if (Model.RootComments.Any())
{
    <div id="@(addCommentModelBottom.AddButtonId)" class="collapse in">
        <button class="btn btn-default" onclick="toggleCommentEditor(@(addCommentModelBottom.FormIndex), true)">Добавить комментарий</button>
    </div>
    <div id="@(addCommentModelBottom.FormId)" class="collapse">
        @Html.Partial("..\\Comments\\_AddCommentFormPartial", addCommentModelBottom)
    </div>
}
