@using JoinRpg.Domain
@using JoinRpg.Web.Models.Plot
@using JoinRpg.Helpers
@model JoinRpg.Web.Models.Print.PrintCharacterViewModel
<div class="print-character-header">

  <br>
<div class="print-character-box">
        <h1>
            @if (Model.RegistrationOnHold)
            {
                <span class="print-character-holdalert">(Не готов)</span>
            }
            @Model.CharacterName

        </h1>
        <p class="print-character-gamename">@Model.ProjectName</p>
    <table class="table">
      @if (Model.Groups.Count > 0)
      {
        <tr>
            <th>Группы</th>
            <td>@Model.Groups.Select(g => g.Name).JoinStrings(" • ")</td>
        </tr>
      }
        <tr>
            <th>Мастер</th>
            <td>@Model.ResponsibleMaster.GetDisplayName()</td>

        </tr>
        @if (Model.PlayerDisplayName != null)
        {
        <tr>
            <th>Игрок</th>
            <td>@Model.PlayerDisplayName</td>
        </tr>
        <tr>
            <th>ФИО</th>
            <td>@Model.PlayerFullName</td>
        </tr>
        <tr>
            <th>Телефон</th>
            <td>@Model.PlayerPhoneNumber</td>
        </tr>
        }
        else
        {
        <tr>
            <th>Игрок</th>
            <td>Нет</td>
        </tr>
        }

    </table>
        <div class="print-character-footer">
            создано при помощи joinrpg.ru
        </div>
    
</div>

    @if (Model.RegistrationOnHold)
    {
        <div class="print-character-registration-alert ">
            <h2>Конверт не готов к выдаче</h2>
            <ul>
                @if (Model.FeeDue > 0)
                {
                    <li><b>Доплатить взнос:</b> @Model.FeeDue</li>
                }
                @if (Model.Plots.HasUnready)
                {
                    <li>
                        Часть загрузов помечены как не готовы!
                    </li>
                }
            </ul>
        </div>
    }

    <partial name="_CharacterHandout" model="@Model.Handouts" />
</div>
