@using JoinRpg.Helpers.Web
@model JoinRpg.Web.Models.Print.PrintIndexViewModel

@functions
{

    class Chunk
    {
        public string Name { get; set; }
        public string CharacterIds { get; set; }
    }

    IEnumerable<Chunk> SplitByChunks(int chunkSize = 100)
    {
        for (var i = 0; i < Model.CharacterIds.Count; i += chunkSize)
        {
            var characters = Model.CharacterIds.Skip(i).Take(chunkSize).ToArray();
            if (!characters.Any())
            {
                continue;
            }

            if (i == 0 && characters.Length < chunkSize)
            {
                yield return new Chunk() {Name = "[все]", CharacterIds = characters.CompressIdList()};
            }
            else
            {
                yield return new Chunk()
                {
                    Name = $"[{i + 1}–{i + characters.Length}]",
                    CharacterIds = characters.CompressIdList()
                };
            }
        }
    }

}

@{
    ViewBag.Title = "Распечатки";
}

<h2>@ViewBag.Title</h2>
<dl>
    <dt>
        Содержимое конвертов
        @foreach (var chunk in @SplitByChunks(30))
        {
            @Html.ActionLink(chunk.Name, "CharacterList",
                new {Model.ProjectId, chunk.CharacterIds})
            <text>&nbsp;</text>
        }
    </dt>
    <dd>Распечатать содержимое конвертов (информацию о персонажах, чек-листы раздатки, загрузы) для всех активных персонажей</dd>
    <dt>Наклейки на конверты
        @foreach (var chunk in @SplitByChunks())
        {
            @Html.ActionLink(chunk.Name, "Envelopes",
                new {Model.ProjectId, chunk.CharacterIds})
            <text>&nbsp;</text>
        }
        </dt>
  <dd>Распечатать наклейки на конверты для всех активных персонажей. Печатать с включенным фоном. <br/>
    <a href="http://mega-label.ru/?go=katalog&catid=80&podcatid=32&prodid=37">Наклейки, под которые подбиралось</a>. Размер этикетки, см.: 10,5х7,4 ; Кол-во этикеток на листе: 8;  Верхнее поле, см: 0; Боковые поля, см: 0; Шаг по вертикали, см: 7,42; Шаг по горизонтали, см: 10,5;  Высота наклейки, см: 7,42; Ширина наклейки, см.: 10,5; Число наклеек по горизонтали: 2;  Число наклеек по вертикали: 4.
  </dd>
    <dt>@Html.ActionLink("Отчет по раздатке", "HandoutReport", new {Model.ProjectId})</dt>


    <dd>Отчет обо всех настроенных раздатках</dd>
</dl>
